<div class="collection_dynamic_details" id="<%= collection_field_sort['system_name'] %>">
  <div class="d-flex justify-content-between">
    <span class="description-title float-left font-weight-bold"><%= collection_field_sort['label'] %>
    </span>
    <a class="badge badge-light add_badge_default_value" data-type="<%= collection_field_sort['field_type'] %>" data-col_id="<%= collection_field_sort['system_name'] %>" href="javascript:void(0)">
      Add More
    </a>
  </div>
  <% if @collection_fields_and_value.present? && @collection_fields_and_value.collection_field_values.present?  && @collection_fields_and_value.collection_field_values[collection_field_sort['system_name']].present? && @collection_fields_and_value.collection_field_values[collection_field_sort['system_name']]['values'].present? %>
    <% @collection_fields_and_value.collection_field_values[collection_field_sort['system_name']]['values'].each do |single_value| %>
      <% if single_value['value'] != '' %>
        <div class="single_row_default_feild">
          <input type="hidden" name="collection[collection_field_values_attributes][][collection_field_id]" class="destroy_element" value="<%= collection_field_sort['system_name'] %>"/>
          <a href="javascript:void(0)"  class="remove_badge_default_value_collection btn btn-outline-danger"></a>
          <div class="w-100 px-3">
            <% if collection_field_sort['field_type'] == 'editor' %>
              <textarea name="collection[collection_field_values_attributes][][value]" class="form-control apply_froala_editor tinymce"><%== single_value['value'] %></textarea>
            <% else %>
              <input type="<%= collection_field_sort['field_type']  %>" name="collection[collection_field_values_attributes][][value]" value="<%= single_value['value'] %>" class="form-control"/>
            <% end %>
          </div>
          
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="single_row_default_value_sample_field">
  <div class="single_row_default_feild " style="display: none;">
    <div class="w-100 px-3">
      <input id="" name="collection[collection_field_values_attributes][][value]" value="" class="form-control elm_val_cust_default_field" PLACEHOLDER="Enter Value" type="text">
    </div>
    <input name="collection[collection_field_values_attributes][][collection_field_id]" class="destroy_element" value="" type="hidden">
    <a href="javascript:void(0)" class="remove_badge_default_value_collection btn btn-outline-danger"></a>
  </div>
</div>

<div class="single_row_default_value_sample_editor">
  <div class="single_row_default_feild " style="display: none;">
    <input name="collection[collection_field_values_attributes][][collection_field_id]" class="destroy_element" value="" type="hidden">
    <a href="javascript:void(0)"  class="remove_badge_default_value_collection btn btn-outline-danger"></a>
    <div class="w-100 px-3">
      <textarea name="collection[collection_field_values_attributes][][value]" PLACEHOLDER="Enter Value" class="form-control add_wanted_class"></textarea>
    </div>
  </div>
</div>