<table class="table">
  <head>
    <tr>
      <th>
        <h2>Field Name</h2>
      </th>
      <th>
        <h2> Tombstone View</h2>
      </th>
      <th>
        <h2> Description View</h2>
      </th>
    </tr>
  </head>
</table>
<%= form_tag update_sort_fields_collection_path(@collection), class: "sort-collection-field-form" do %>
  <table class="table table-hover" id="sort_custom_fields_table" data-path="<%= update_sort_fields_collection_path %>" data-latest="<%= latest_field_label %>">
    <tbody>

    <% @dynamic_fields['CollectionResource'].each do |customfield| %>
      <% next if customfield['field'].label.titleize == 'Title' %>
      <tr class="<%= customfield['field'].id %>">
        <%= hidden_field_tag "collection_template_field_sort[#{customfield['field'].id}][field_id]", customfield['field'].id, class: "sort-order-field", data: { field_name: customfield['field'].system_name} %>

        <td>
          <i class="fa fa-ellipsis-v drag-icon handle"></i><span style="margin-left: 10px;"><%= customfield['field'].label.titleize %>
          </span>
        </td>

        <td>
          <% if customfield['field'].is_custom %>
            <%= link_to new_edit_custom_field_collection_path(@collection), class: "btn btn-outline-primary edit-custom-field-button edit-custom-field-button-spec collection-custom-field-icon", data: {id: customfield['field'].id, method_type: "edit"} do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to 'javascript:void(0);', class: "btn btn-outline-danger collection-custom-field-icon", data: { url: delete_custom_meta_fields_collection_path(@collection, meta_field_id: customfield['field'].id)} do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
          <% unless customfield['field'].system_name == 'title' ||  customfield['field'].is_custom %>

            <label class="toggle-switch">
              <%= check_box_tag 'is_tombstone', 'no', customfield['settings'][:is_tombstone], class: "toggle-switch__input template-data-field template-data-field-tomb", data: {field_id: customfield['field'].id, field_name: customfield['field'].system_name, field_type: 'tombstone'} %>
              <span class="toggle-switch__slider"></span>
            </label>
          <% end %>
        </td>
        <td>
          <label class="toggle-switch">
            <%= check_box_tag 'is_visible', 'no', customfield['settings'][:is_visible], class: "toggle-switch__input template-data-field template-data-field-visible", data: {field_id: customfield['field'].id, field_name: customfield['field'].system_name, field_type: 'visible'} %>
            <span class="toggle-switch__slider"></span>
          </label>
        </td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>
