<div class="row ">
  <div class="col-md-6">
    <div class="form-group">
      <label for="" class="col-form-label">Preferred Banner Display</label>
      <%= c.select :banner_type, Collection.banner_types.map { |key, _| [key.humanize, key] }, {}, required: false, label: false, class: 'custom-placeholder banner_type-custom' %>
      <%= c.error :banner_type %>
      <br>
    </div>
  </div>
  <div class="col-md-6 ">
    <div class="form-group banner-image d-none">
      <label for="" class="col-form-label">Banner Image*</label>
      <div class="image-box">
        <div class="holder">
          <img id="banner" src="<%= @collection.new_record? ? '#' : (image_url @collection.image) %>" alt="">
        </div>
      </div>
      <div class="file-upload">
        <div class="field-title">
          <%= c.label @collection.new_record? ? 'Add Image' : 'Upload new image', for: 'collection_image' %>
        </div>
        <%= c.input :image, as: :file, error: false, label: false, input_html: { onchange: "readURL(this, 'banner');", accept: 'image/*' } %>
      </div>
      <div class="text-holder bg_img_cls m-0 mt-5px w-100" style="display: block !important;">
        Suggested Background Image size is <i>1200x300</i> or Aspect Ratio from <i>3:1</i> to <i>6:1</i>
      </div>
      <%= c.error :image %>
      <br>
    </div>
    <div class="form-group banner-resource-slider d-none">
      <label for="" class="col-form-label">Featured Resources Slider</label>
      <input id="banner_slider_resources_info" placeholder='Title Text' class="form-control" data-url="<%= autocomplete_permission_groups_path(type: 'resource', target_id: @collection.id, called_from: 'collection_page') %>"/>
      <%= c.error :banner_slider_resources %>
      <table id="collection_banner_slider_resources_table" class="table  table-striped  mt-20px">
        <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Action</th>
        </thead>
        <tbody id="collection_banner_slider_resources_container"></tbody>
      </table>
      <br>
      <%= c.input :banner_slider_resources, as: :string, label: false, input_html: { class: ' form-control d-none' } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group ">
      <label for="" class="col-form-label">Preferred Default Tab</label>
      <%= c.select :default_tab_selection, Collection.default_tab_selections.map { |key, _| [key.humanize, key] }, {}, required: false, label: false, class: 'custom-placeholder banner_type-custom' %>
      <%= c.error :default_tab_selection %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="" class="col-form-label"><strong><%= c.input_field :enable_resource_search, as: :boolean %>
        Enable Search this Resource</strong></label>
    </div>
    <div class="form-group">
      <small class="form-text">When "Search this Resource" is enabled for resources in this collection, you can
        customize the help text that is displayed to users in the search box on the resource detail page. Please enter
        the text you would like to have displayed for users here.</small>
      <%= c.input :search_resource_placeholder, label: false, input_html: { class: 'form-control' } %>
    </div>

  </div>
</div>

<div class="row ">
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-form-label"><strong><%= c.input_field :disable_player, as: :boolean %>
        Disable Player and Resource Embed Options </strong></label>
    </div>
    <div class="form-group">
      <label class="col-form-label"><strong><%= c.input_field :is_audio_only, as: :boolean %>
        Render Media Player as Audio Player for Audio Files </strong></label>
    </div>
    <div class="form-group">
      <label for="" class="col-form-label"><strong><%= c.input_field :enable_itc_autoscroll, as: :boolean %>
        Turn on Auto Scroll by default for Indexes and Transcripts in this collection</strong></label>
    </div>
  </div>

</div>

