<div class="row ">
  <div class="col-md-6">
    <div class="form-group">
      <div class="field-title">
        <label for="">Preferred Banner Display</label>
      </div>
      <%= c.select :banner_type, Collection.banner_types.map {|key, _| [key.humanize, key]}, {}, required: false, label: false, class: 'custom-placeholder banner_type-custom' %>
      <%= c.error :banner_type %>
    </div>
    <div class="form-group checkbox-wrapper">
      <div class="form-check">
        <%= c.input :display_banner, input_html: {class: 'form-check-input'}  %>      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group ">
      <div class="field-title">
        <label for="">Preferred Default Tab</label>
      </div>
      <%= c.select :default_tab_selection, Collection.default_tab_selections.map {|key, _| [key.humanize, key]}, {}, required: false, label: false, class: 'custom-placeholder banner_type-custom' %>
      <%= c.error :default_tab_selection %>
    </div>
  </div>
</div>
<div class="row display-images">
  <div class="col-md-12">
    <div class="text-headline jumbotron mb-2">
      <h3>Display Image</h3>
    </div>
  </div>
  <div class="col-md-6 ">
    <div class="form-group banner-image d-none">
      <div class="field-title">
        <label for="">Banner Image</label>
      </div>
      <%= render partial: 'shared/remove_image_button', locals: {model_obj: @collection, target_type: 'image'} %>
      <div class="image-box">
        <div class="holder">
          <img id="banner" src="<%= @collection.new_record? ? '#' : (image_url @collection.image) %>" alt="">
        </div>
        <div class="file-upload">
          <%= c.label @collection.new_record? ? 'Add Image' : 'Upload new image', for: 'collection_image' %>
          <%= c.input :image, as: :file, error: false, label: false, input_html: {onchange: "readURL(this, 'banner');", accept: 'image/*'} %>
        </div>
      </div>
      <div class="font-size-12px text-muted bg_img_cls m-0 mt-10px w-100" style="display: block !important;">
        Suggested Background Image size is <i>1200x300</i> or Aspect Ratio from <i>3:1</i> to <i>6:1</i>
      </div>
      <%= c.error :image %>
    </div>
  </div>
  <div class="col-md-12 banner-resource-slider d-none">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="field-title">
            <label for="">Featured Resources Slider</label>
          </div>
          <input id="banner_slider_resources_info" placeholder='Title Text' class="form-control" data-url="<%= autocomplete_permission_groups_path(type: 'resource', target_id: @collection.id, called_from: 'collection_page') %>"/>
          <%= c.error :banner_slider_resources %>
        </div>
      </div>
    </div>
    <table id="collection_banner_slider_resources_table" class="table  table-hover  mt-20px">
      <thead>
      <th>ID</th>
      <th>Title</th>
      <th>Action</th>
      </thead>
      <tbody id="collection_banner_slider_resources_container"></tbody>
    </table>
    <br>
    <%= c.input :banner_slider_resources, as: :string, label: false, input_html: {class: ' form-control d-none'} %>
  </div>
  <div class="col-md-6 ">
    <div class="form-group card_image d-none">
      <div class="field-title">
        <label for="">Card Image</label>
      </div>
      <%= render partial: 'shared/remove_image_button', locals: {model_obj: @collection, target_type: 'card_image'} %>
      <div class="image-box">
        <div class="holder">
          <img id="card_image" src="<%= @collection.new_record? ? '#' : (image_url @collection.card_image) %>" alt="">
        </div>
        <div class="file-upload">
          <%= c.label @collection.new_record? ? 'Add Image' : 'Upload new image', for: 'collection_card_image' %>
          <%= c.input :card_image, as: :file, error: false, label: false, input_html: {onchange: "readURL(this, 'card_image');", accept: 'image/*'} %>
        </div>
      </div>
      <div class="font-size-12px text-muted bg_img_cls m-0 mt-10px w-100" style="display: block !important;">
        Suggested Card Image size is <i>450x230</i> or Aspect Ratio from <i>2:1</i></i>
      </div>
      <%= c.error :card_image %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-check">
      <%= c.input :disable_player, as: :boolean, label: "Disable Player and Resource Embed Options"%>    </div>
    <div class="form-check">
      <%= c.input :is_audio_only, as: :boolean, label: "Render Media Player as Audio Player for Audio Files" %>
    </div>
    <div class="form-check">
      <%= c.input :enable_itc_autoscroll, as: :boolean, label: "Turn on Auto Scroll by default for Indexes and Transcripts in this collection" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-check">
      <div class="field-title">
        <%= c.input :enable_resource_search, as: :boolean, label: "Enable Search this Resource" %> <button type="button" class="info-btn" data-content="When &quot;Search this Resource&quot; is enabled for resources in this collection, you can customize the help text that is displayed to users in the search box on the resource detail page. Please enter the text you would like to have displayed for users here."></button>
      </div>
    </div>
    <div class="form-group">
      <div class="field-title"><label>Search Title</label></div>
      <%= c.input :search_resource_placeholder, label: false, input_html: {class: 'form-control'} %>
    </div>
  </div>
</div>
