<% unless @resources.blank?
     @resources.each do |single_resource| %>
    <tr>
      <td><%= single_resource.id %></td>
      <% if params[:type] == 'collection_resource_file' %>
        <td><%=h truncate(single_resource.resource_file_file_name, :length => 158) %></td>
        <td><%=h truncate(single_resource.collection_resource.title, :length => 158) %></td>
      <% elsif params[:type] == 'file_index_bulk_edit' %>
        <td><%=h truncate(single_resource.title, :length => 158) %></td>
        <td><%=h truncate(single_resource.collection_resource_file.resource_file_file_name, :length => 158) %></td>
      <% elsif params[:type] == 'file_transcript_bulk_edit' %>
        <td><%=h truncate(single_resource.title, :length => 158) %></td>
        <td><%=h truncate(single_resource.collection_resource_file.resource_file_file_name, :length => 158) %></td>
      <% else %>
        <td><%=h truncate(single_resource.title, :length => 158) %></td>
      <% end %>
      <% if params[:type] == 'collection_resource_file_list' %>
        <td><input type="hidden" name="crfl_id[]" value="<%= single_resource.id %>"> <textarea name="crfl_note[]" class="form-controls" cols="35" maxlength="500" placeholder="You can enter up to 500 characters."></textarea></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
