<%= render partial: 'layouts/loading_skeleton', locals: { count: 2 } %>
<main id="main" role="main">
  <div class="details main-collection-page">
    <%= render partial: 'home/home_banner', locals: { banner_type: @collection.banner_type, banner_image: @collection.image, banner_slider_resources: @collection.banner_slider_resources,
                                                      banner_title_text: @collection.title,
                                                      title_font_family: current_organization.title_font_family, title_font_size: current_organization.title_font_size, title_font_color: current_organization.title_font_color, banner_view_from: 'collection' } %>
  </div>


  <div id="collection_resource_container" style="<%= @collection.default_tab_selection == 'resources' ? '' : 'display:none;' %>">
    <div class="link-toggle-collection"><a href="javascript://" class="btn video-link">Learn more about Collection</a></div>
    <div class="all-resources container home-index-view">
      <div id="resources_home-notfeatured" data-url="<%= collection_path(@collection) %>">
      </div>
    </div>
    <div class="w-100 text-center d-none" id="loader-gif-laxy"> <%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/ajax-loader.gif", { style: 'width: 50px;' }) %></div>
  </div>

  <div id="about_collection_container" class="about_collection_container" style="<%= @collection.default_tab_selection == 'about' || @collection.default_tab_selection.blank? ? '' : 'display:none;' %>">

    <div class="link-toggle-collection"><a href="javascript://" class="btn video-link">See Resources of Collection</a></div>
    <div class="all-resources container collection-about-detail" id="collection-about-detail">
      <p><%== description @collection.about %></p>
      <div class="search-detail-main">
        <ul class="tab">
          <% @collection.all_fields['Collection'].each do |single_field| %>
            <% display_label = false %>
            <% single_field['values'].each_with_index do |single_value, single_key| %>
              <% if single_value.present? && (single_value['value'].present? || single_value['vocab_value'].present?) %>
                <% unless display_label %>
                  <li>
                    <strong><%= single_field['field'].label %>:</strong>
                    <div class="details">
                      <% display_label = true %>
                <% end %>
                <span><%== single_value['value'] %></span>
                <% if single_key + 1 == single_field['values'].count %>
                  </div>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</main>
<% track_params = params.clone.except('controller').except('action').to_json %>
<%= render 'request_accesses/shared_request_modal' %>
<script type="text/javascript">
    let params = {
        target_id: '',
        params: '<%=track_params %>',
        ip: '<%=request.remote_ip %>',
        organization_id: '<%= current_organization.present? ? current_organization.id : '' %>',
        user_type: '<%= role_type(current_user, current_organization) %>'
    };
    var display_settings = new DisplaySettings();
    let events_tracker = new EventsTracker(params);
    $(function () {
        display_settings.continues_loading();
        display_settings.toggleCollectionSection();
        setTimeout(function () {
            events_tracker.track_hit('collection', '<%= params[:id]%>');
        }, 500);
    });
</script>
