<%= render partial: 'layouts/loading_skeleton', locals: { count: 3 } %>
<main id="main" role="main">
  <div class="details main-collection-page">
    <%= render partial: 'home/home_banner', locals: { banner_type: @collection.banner_type, banner_image: @collection.image, banner_slider_resources: @collection.banner_slider_resources,
                                                      banner_title_text: @collection.title, display_banner: @collection.display_banner, panel_color: current_organization.search_panel_bg_color.present? ? current_organization.search_panel_bg_color : '#f05d1f',
                                                      title_font_family: current_organization.title_font_family, title_font_size: current_organization.title_font_size, title_font_color: current_organization.title_font_color, banner_view_from: 'collection' } %>
  </div>


  <div id="collection_resource_container" style="<%= @collection.default_tab_selection == 'resources' ? '' : 'display:none;' %>">
    <div class="link-toggle-collection"><a href="javascript://" class="btn video-link">Read about this collection</a></div>
    <div class="all-resources container home-index-view">
      <div id="resources_home-notfeatured" data-url="<%= collection_path(@collection) %>">
      </div>
    </div>
    <div class="w-100 text-center d-none" id="loader-gif-laxy"> <%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/ajax-loader.gif", { style: 'width: 50px;' }) %></div>
  </div>

  <div id="about_collection_container" class="about_collection_container" style="<%= @collection.default_tab_selection == 'about' || @collection.default_tab_selection.blank? ? '' : 'display:none;' %>">

    <div class="link-toggle-collection"><a href="javascript://" class="btn video-link">See media in this collection</a></div>
    <div class="all-resources container collection-about-detail" id="collection-about-detail">
      <p><%== description @collection.about %></p>
      <div class="search-detail-main">
        <ul class="tab">
          <% if @collection_fields.present? %>
            <% @collection_fields.each_with_index do |(_system_name, single_collection_field), _index| %>
              <% next unless single_collection_field['display'].to_s.to_boolean? %>
              <% if @collection_fields_and_value.present? && @collection_fields_and_value.collection_field_values.present? && @collection_fields_and_value.collection_field_values[single_collection_field['system_name']].present? && @collection_fields_and_value.collection_field_values[single_collection_field['system_name']]['values'].present? %>
                <% value = '' %>
                <% @collection_fields_and_value.collection_field_values[single_collection_field['system_name']]['values'].each do |single_value| %>
                  <% value += single_value['value'] %>
                <% end %>
                <% if value.present? %>
                  <li>
                    <strong><%= single_collection_field['label'] %>:</strong>
                    <div class="details">
                      <span> <%= value.html_safe %> </span>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</main>
<% track_params = params.clone.except('controller').except('action').to_json %>

<script type="text/javascript">

    var display_settings = new DisplaySettings();

    $(function () {
        display_settings.continues_loading();
        display_settings.toggleCollectionSection();

    });
</script>
