<%= render partial: 'layouts/loading_skeleton', locals: { count: 3 } %>
<main id="main" role="main">
  <div class="details main-collection-page">
    <%= render partial: 'home/home_banner',
               locals: { banner_type: @collection.banner_type, banner_image: @collection.image,
                         banner_slider_resources: @collection.banner_slider_resources,
                         banner_title_text: @collection.title,
                         display_banner: @collection.display_banner,
                         panel_color: current_organization.search_panel_bg_color.presence || '#f05d1f',
                         title_font_family: current_organization.title_font_family,
                         title_font_size: current_organization.title_font_size,
                         title_font_color: current_organization.title_font_color,
                         banner_view_from: 'collection' } %>
  </div>


  <div id="collection_resource_container">
    <%# Collection About Section %>
    <div id="about_collection_container" class="about_collection_container">
      <div class="all-resources container collection-about-detail" id="collection-about-detail">
        <div class="truncate-5-lines" id="collection-about">
          <p><%== description @collection.about %></p>
        </div>
        <div class="link-toggle-collection-left">
          <a href="javascript://" class="btn btn-primary read-more-link">Read more about this collection</a>
        </div>

        <div class="search-detail-main"  style="display: none;">
          <ul class="tab">
            <%= render 'collection_fields' %>
          </ul>
        </div>
      </div>
    </div>
    <%# Collection Resources Section %>
    <div class="all-resources container home-index-view" id="all-resources-container">
      <div id="resources_home-notfeatured" data-url="<%= collection_path(@collection) %>">
      </div>
    </div>

    <div class="w-100 text-center d-none" id="loader-gif-laxy">
      <%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/ajax-loader.gif", { style: 'width: 30px; margin: 20px;' }) %>
    </div>
  </div>

</main>
<% track_params = params.clone.except('controller').except('action').to_json %>

<script type="text/javascript">

    var display_settings = new DisplaySettings();

    $(function () {
        display_settings.continues_loading();
        display_settings.toggleCollectionSection();
        display_settings.toggleCollectionMetadataSection();
    });
</script>
