<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <div class="mb-3">
      <div class="breadcrumb resources-details">
        <%= render_breadcrumbs %>
      </div>
    </div>
    <main>
    <div class="heading-holder table-head mt-2">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex align-items-center">
              <a id="back-to-search-btn" class="collection_resource_edit_title" >
                <span class="fa fa-angle-left "></span> <small class="mx-3">Back to <%= @file_transcript.interview.title %> </small>
              </a>
              <h1 class="h3 text-left m-0"> <%= @file_transcript.interview.title %> - Edit Transcript </h1>
            </div>          
          </div>
        </div>
      </div>
      <%= simple_form_for @file_transcript, :url => edit_interviews_transcript_path(@file_transcript), html: { class: "interview_manager" } do |f| %>
        <div class="form-group">
          <%= f.input :text, :as => :text, :input_html => { style: 'height: 300px;border-radius: 6px !important;padding: 20px;', value: @text, class: 'form-control' } %>
        </div>
        <div class="mt-4">
          <button class="btn btn-outline-dark"> Cancel</button>
          <button class="btn btn-primary"> Save</button>
        </div>
      <% end %>
      <br/>
    </main>
  </div>
</div>
<script type="text/javascript">
    let interviews_index_manager = new InterviewIndexManager();
</script>
