<header id="header" class="aviary-header">
  <div class="container-fluid">
    <nav role="navigation" aria-label="Main menu" class="navbar navbar-expand-sm navbar-light">
      <%= link_to image_tag("homepage/main-logo.png", alt: "Aviary"), root_path, class: 'navbar-brand' %>

      <div class="search-nav search1cus">
        <% unless current_page?('/catalog') %>
          <div class="form-group">
            <div class="<%= container_classes %>">
              <%= render_search_bar %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="nav-right pull-right text-right ml-auto">
        <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'btn btn-primary' %>
      </div>
    </nav>
  </div>
  <%= render 'shared/sub_nav' %>
</header>