<div class="organization-section custom_form">
  <%= simple_form_for @file_index, url: upload_index_path(@resource_file.id), method: :post do |form| %>
    <div class="row">
      <div class="col-md-12">
        <div id="progress_index" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="background-color: #ffffff;">
          <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
        <div class="form-group">
          <div class="field-title">
            <label for="associated_file">Select an index to associate to this file.</label>
          </div>
          <span class="form-control fileinput-button">Select File
            <%= form.file_field :associated_file, as: :file, error: false, label: false, class: 'form-control' %>
              </span>
          <small class="text-muted font-size-12px pt-2">
            Allowed formats: OHMS XML and WebVTT.
          </small>
          <small id="file_name_index" class="text-muted border d-block text-center p-2 mt-3">
            No file selected.
          </small>
          <div class="associated_file text-danger"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="field-title"><label for="title">Assign a Title to this index.</label></div>
          <%= form.text_field :title, label: false, class: 'form-control' %>
          <div class="title text-danger"></div>
        </div>
        <small class="text-muted font-size-12px pt-2">
          Title will be used to differentiate multiple indexes for a single file.
        </small>
      </div>
    </div>
    <div class="row d-none" id="index-associated-file-file-name">
      <div class="col-md-12">
        <div class="form-group relative">
          <div class="field-title"><label for="title">Current Associated Index File Name</label></div>
          <%= form.text_field :associated_file_file_name, disabled: true, label: false, class: 'form-control' %>
          <a href="javascript:void(0)"><i class="fa fa-pencil bg-secondary text-white edit-pencil"></i></a>
          <div class="title text-danger"></div>
          <small class="text-muted font-size-12px mt-2 line-height-tight d-block">
            This file name will be used as the file name for the exported index file. Please ensure to add the correct file extension and replace any spaces with '_' or '-'. Editing this file name will not replace the index. To replace the existing index, instead choose 'Select a Transcript to associate with this file."
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="field-title"><label for="title">Description</label></div>
          <%= form.text_area :description, :class => "form-control" %>
          <div class="title text-danger"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="field-title"><%= form.label :language, 'Index Language' %></div>
          <%= form.select :language, iso_639_1_languages, required: true, label: false, selected: 'en', class: 'custom-placeholder' %>
          <div class="language text-danger"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="field-title"><%= form.label 'Public?', for: 'file_index_public'%></div>
          <%= form.select :is_public, [['Yes', true], ['No', false]], required: true, label: false, class: 'custom-placeholder' %>
          <div class="is_public text-danger"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-success" id="index_upload_success"></p>
      </div>
    </div>
    <a href="javascript://" class="btn btn-primary upload_index_btn float-right">Upload Index</a>
  <% end %>
</div>
