<% if !(@total_index_points <= Aviary::IndexTranscriptManager::POINTS_PER_PAGE && (params['page_type'] == 'next_page' || params['page_type'] == 'current_page')) %>
  <div class="row <%= params['page_type'] %>_type <%= params['page_number'] %>">
    <div class="col-md-12">

      <% if @file_index.present?
           recorded = []
           file_index = @file_index
           recorded[file_index.id] ||= [] %>

        <% if file_index.is_public || @collection_resource.can_view || @collection_resource.can_edit || (can? :edit, @collection_resource.collection.organization) || (can? :read, file_index) %>
          <div class="pt-10px font-size-13px <%= file_index.description.present? ? '' : 'd-none' %>"><b>Note:</b> <span class="font-weight-bold"><%= file_index.description %></span><hr/></div>
          <div class="file_index file_index_<%= file_index.id %> pb-10px" data-language="<%= file_index.language %>" data-title="<%= file_index.title %>" data-public="<%= file_index.is_public %>" data-description="<%= file_index.description %>">
            <% @index_count = @index_time_wise = {} %>
            <% @session_video_text_all = params['keywords'] %>
            <% @file_index_points.sort_by {|t| t.start_time.to_f }.each_with_index do |index_point, counter| %>
              <% present(index_point) do |presenter| %>
                <% index_time_start = !recorded.include?(index_point.start_time.to_i) ? "index_time_start_#{index_point.start_time.to_i}" : '' %>
                <%== presenter.single_index_point_hanlder(index_time_start, @session_video_text_all) %>
                <% @index_time_wise = index_page_wise_time_range(@index_time_wise, index_point, counter) %>
                <% @index_count = count_occurrence(index_point, @session_video_text_all, @index_count, 'index', false, counter) %>
              <% end %>
              <% recorded[file_index.id] << index_point.start_time.to_i %>
            <% end %>

            <% other_file_indexs = file_index.collection_resource_file.file_indexes.includes([:file_index_points]).where.not(id: file_index.id) %>
            <% if other_file_indexs.present?
                 other_file_indexs.each do |single_file_index|
                   single_file_index.file_index_points.each_with_index do |index_point, counter|
                     @index_time_wise = index_page_wise_time_range(@index_time_wise, index_point, counter)
                     @index_count = count_occurrence(index_point, @session_video_text_all, @index_count, 'index', false, counter)
                   end
                 end
               end
            %>

            <textarea class="index_time_wise d-none"><%== @index_time_wise.present? ? @index_time_wise.to_h.to_json : '{}' %></textarea>
            <textarea class="index_count d-none"><%== @index_count.present? ? @index_count.to_h.to_json : '{}' %></textarea>
        <% else %>
          <div class="text-center  no-access">
            <span class="ico"><img src="https://<%= ENV['S3_HOST_CDN'] %>/public/lock-black.svg" alt=""></span>

            <div class="access_request_text_custom">You don't have access.</div>

          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>