<% if !(@total_index_points <= Aviary::IndexTranscriptManager::POINTS_PER_PAGE && (params['page_type'] == 'next_page' || params['page_type'] == 'current_page')) %>
  <div class="row <%= params['page_type'] %>_type <%= params['page_number'] %>">
    <div class="col-md-12">
      <% if @file_index.present?
           recorded = []
           file_index = @file_index
           recorded[file_index.id] ||= [] %>
        <div class="file_index file_index_<%= file_index.id %> pb-10px" data-language="<%= file_index.language %>" data-title="<%= file_index.title %>" data-public="<%= file_index.is_public %>">
          <% if file_index.is_public || @collection_resource.can_view || @collection_resource.can_edit || (can? :edit, @collection_resource.collection.organization) %>
            <% @file_index_points.each do |index_point| %>
              <% present(index_point) do |presenter| %>
                <% index_time_start = !recorded.include?(index_point.start_time.to_i) ? "index_time_start_#{index_point.start_time.to_i}" : '' %>
                <%== presenter.single_index_point_hanlder(index_time_start) %>
              <% end %>
              <% recorded[file_index.id] << index_point.start_time.to_i %>
            <% end %>
          <% else %>
            <div class="text-center  no-access">
              <% if user_signed_in? %>
                <p class="mb-20px">You don't have access to this index, please request access from the organization
                  owner.</p>
              <% else %>
                <p class="mb-20px">You don't have access to this index, please login to request access from the
                  organization
                  owner.</p>
              <% end %>
              <%= access_request_link('', {organization_id: @collection_resource.collection.organization.id, title: @collection_resource.title, id: @collection_resource.id, click_through: @collection_resource.collection.click_through, conditions_for_access: @collection_resource.collection.conditions_for_access}) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>