<div class="index_point_container mCustomScrollbar">
  <% if file_indexes.present?
       recorded = []
       @index_count = {}
  %>
    <% file_indexes.each do |file_index|
      recorded[file_index.id] ||= []   %>
      <div class="file_index file_index_<%= file_index.id %> d-none pb-10px" data-language="<%= file_index.language %>" data-title="<%= file_index.title %>" data-public="<%= file_index.is_public %>">
        <% if file_index.is_public || @collection_resource.can_view || @collection_resource.can_edit || (can? :edit, @collection_resource.collection.organization) %>
          <% file_index.file_index_points.each do |index_point| %>
            <% present(index_point) do |presenter| %>
              <% index_time_start = !recorded.include?(index_point.start_time.to_i) ? "index_time_start_#{index_point.start_time.to_i}" : '' %>
              <%== presenter.single_index_point_hanlder(index_time_start) %>
            <% end %>
            <% @index_count = count_occurrence(index_point, session[:session_video_text_all], @index_count, 'index')
               recorded[file_index.id] << index_point.start_time.to_i %>
          <% end %>
        <% else %>

        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-md-12 text-center pt-20px"> No index available for this file.
      </div>
    </div>
  <% end %>
</div>
<% session[:index_count] = @index_count %>
<% if session.key?(:index_count) && session[:index_count].present? && session[:index_count][:single_index_count].present? && session[:index_count].key?(:single_index_count) %>
  <% session[:index_count][:single_index_count].each do |key, value| %>
    <%== "<span class='d-none single_index_count_#{key}' data-index_id='#{key}' data-count='#{value}'></span>" %>
  <% end %>
<% end %>