<div class="organization-section">
  <%= simple_form_for @file_transcript, url: transcript_upload_path(@resource_file.id), method: :post do |form| %>
    <div class="row custom_form">
      <div class="col-md-12">
        <div id="progress_transcript" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="background-color: #ffffff;">
          <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
        <div class="form-group">
          <div class="field-title">
            <label for="associated_file">Select a transcript to associate to this file.</label>
          </div>
          <span class="form-control fileinput-button">Select File
            <%= form.file_field :associated_file, as: :file, error: false, label: false, class: 'form-control' %>
              </span>
          <small class="text-muted font-size-12px pt-2"> Allowed formats: OHMS XML, Trint doc(x) and WebVTT. </small>
          <small id="file_name_transcript" class="text-muted border d-block text-center p-2 mt-3">
            No file selected.
          </small>
          <div class="associated_file text-danger"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="field-title"><label for="title">Assign a Title to this transcript</label></div>
          <%= form.text_field :title, label: false, class: 'form-control' %>
          <div class="title text-danger"></div>
          <small class="text-muted font-size-12px mt-3">Title will be used to differentiate multiple transcripts for a single file.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="field-title"><label for="title">Description</label></div>
          <%= form.text_area :description, :class => "form-control" %>
          <div class="title text-danger"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="field-title"><%= form.label :language, 'Transcript Language' %></div>
          <%= form.select :language, iso_639_1_languages, required: true, label: false, selected: 'en', class: 'custom-placeholder' %>
          <div class="language text-danger"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="field-title"><%= form.label 'Public?', for: 'file_transcript_public' %></div>
          <%= form.select :is_public, [['Yes', true], ['No', false]], required: true, label: false, class: 'custom-placeholder' %>
          <div class="is_public text-danger"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-none is_caption_section">
        <div class="form-check m-0">
          <label>
            <%= form.input_field :is_caption, as: :boolean, boolean_style: :inline, class: 'form-control' %>
            Is Caption?
            <span class="icon-check"></span>
          </label>
        </div>
      </div>
      <div class="col-md-6 d-none remove_title_section">
        <div class="form-check m-0">
          <label>
            <%= form.input_field :remove_title, as: :boolean, boolean_style: :inline, class: 'form-control' %>
            Ignore Title
            <span class="icon-check"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row d-none is_downloadable_section">
      <div class="col-md-6">
        <div class="form-check m-0">
          <label>
            <%= form.input_field :is_downloadable, as: :boolean, boolean_style: :inline, class: 'form-control' %>
            Is Downloadable?
            <span class="icon-check"></span>
            </label>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-success text-center p-2" id="transcript_upload_success"></p>
      </div>
    </div>
    <a href="javascript://" class="btn btn-primary upload_transcript_btn mt-3 float-right">Upload Transcript</a>
  <% end %>
</div>
