<div class="transcript_point_container mCustomScrollbar">
  <%
    recorded = []
    @transcript_count = {}
    if file_transcripts.present? %>
    <% file_transcripts.each do |file_transcript| %>
      <% recorded[file_transcript.id] ||= [] %>
      <% can_access_transcript = file_transcript.is_public || @collection_resource.can_view || @collection_resource.can_edit || (can? :edit, @collection_resource.collection.organization) %>
      <div class="file_transcript file_transcript_<%= file_transcript.id %> d-none pb-10px" data-language="<%= file_transcript.language %>" data-title="<%= file_transcript.title %>" data-public="<%= file_transcript.is_public %>" data-webvtt="<%= file_transcript.associated_file_content_type.include?('vtt') %>" data-json="<%= file_transcript.timestamps.present? %>" data-access="<%= can_access_transcript %>" data-edit="<%= file_transcript.is_edit %>">
        <% if (can? :manage, @collection_resource) || @collection_resource.can_edit %>
          <% unless params[:from_playlist].to_s.to_boolean? %>
            <span class="font-size-13px">Edited By <b class="font-weight-bold"><%= file_transcript.user.full_name %></b> at <b class="font-weight-bold"><%= Time.at(file_transcript.updated_at.to_f).utc.strftime('%b %d, %Y %H:%M:%S') %></b></span>
          <% end %>
        <% end %>
        <% if can_access_transcript %>
          <% file_transcript.file_transcript_points.each do |transcript_point| %>
            <% present(transcript_point) do |presenter| %>
              <% transcript_time_start_single = !recorded[file_transcript.id].include?(transcript_point.start_time.to_i) ? "transcript_time_start_#{transcript_point.start_time.to_i}" : '' %>
              <%== presenter.show_transcript_point(transcript_time_start_single) %>
            <% end
               @transcript_count = count_occurrence(transcript_point, session[:session_video_text_all], @transcript_count, 'transcript')
               recorded[file_transcript.id] << transcript_point.start_time.to_i %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-md-12 text-center pt-20px"> No transcript available for this file.</div>
    </div>
  <% end %>
</div>
<% session[:transcript_count] = @transcript_count %>
<% unless session[:transcript_count][:single_transcript_count].nil? %>
  <% session[:transcript_count][:single_transcript_count].each do |key, value| %>
    <%== "<span class='d-none single_transcript_count_#{key}' data-transcript_id='#{key}' data-count='#{value}'></span>" %>
  <% end %>
<% end %>

