<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="<%= content_separator %>UploadLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= content_separator %>ModalLabel"><%= title %> Management</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if show_body %>
          <% if content_separator == 'transcript' %>
            <%= render 'transcripts/sort_inner' %>
          <% end %>
        <% end %>
        <a href="javascript://" class="btn btn-primary sort_<%= content_separator %>_btn float-right" data-url="<%= url %>">Save
          Sequence</a>
      </div>
    </div>
  </div>
</div>