<div class="grey-box">
  <div class="custom-checkbox custom-checkbox d-inline-block mr-3">
    <% checked = @collection_resource.collection.enable_itc_autoscroll ? 'checked="checked"' : '' %>
    <input type="checkbox" class="checkbox index-tran ce-checkbox" id="transcript-auto-scroll" <%= checked %>/>
    <label for="transcript-auto-scroll">Auto Scroll with Media</label>
  </div>
</div>
<div class="grey-box">
  <div class="d-flex align-items-center">
    <div class="drop_drag <%= !(can? :manage, @collection_resource) and !@collection_resource.can_edit ? 'w-90p' : '' %>">
      <% if (@resource_file.present? && @resource_file.file_transcripts.present?) %>
        <div class="select-index-drop <%= !(can? :manage, @collection_resource) and !@collection_resource.can_edit ? 'pl-0' : '' %>">
          <% file_transcripts = @file_transcripts %>

          <div class="col-md-12 p-0">
            <% @transcript_time_wise = {} %>
            <% @transcript_count = {} %>
            <% html = '' %>
            <% if file_transcripts.present? %>
              <span class="label transcripts_label">Transcripts</span>
              <select id="file_transcript_select" class="select_type_transcript">

                <% file_transcripts.each do |file_transcript| %>
                  <option value="<%= file_transcript.id %>"><%= file_transcript.title %></option>
                  <% html += "<input id='total_transcript_points_#{file_transcript.id}' type='hidden' value='#{file_transcript.file_transcript_points.count / Aviary::IndexTranscriptManager::POINTS_PER_PAGE}'/>" %>
                  <% file_transcript.file_transcript_points.each_with_index do |transcript_point, counter| %>
                    <% @transcript_time_wise = transcript_page_wise_time_range(@transcript_time_wise, transcript_point, counter) %>
                    <% @transcript_count = count_occurrence(transcript_point, session[:session_video_text_all], @transcript_count, 'transcript', false, counter) %>
                  <% end %>
                <% end %>
              </select>
            <% end %>
            <%= html.html_safe %>
          </div>
        </div>
      <% end %>
    </div>
    <% unless params[:from_playlist].to_s.to_boolean? %>
      <div class="dropdown transcript-dropdown">
        <button class="btn-icon dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right custom-right-dropdown" aria-labelledby="dropdownMenuButton">

          <% if ((can? :manage, @collection_resource) || @collection_resource.can_edit) && !params[:from_playlist].to_s.to_boolean? %>
            <% if @resource_file.present? %>
              <li>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#transcript_upload" class="dropdown-item"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                  Upload another transcript</a></li>
              <li>
              <li>
                <div class="dropdown-divider"></div>
              </li>
              <% if (can? :manage, @collection_resource) || @collection_resource.can_view %>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#transcript_sort_popup" class="dropdown-item" id="sort_transcript"><i class="material-icons custom-transcript-icon">menu</i>
                  Manage transcripts</a>
              <% end %>
              </li>
              <% if @resource_file.file_transcripts.present? %>
                <li>
                  <a href="javascript:void(0);" data-toggle="modal" id="transcript_update_btn" data-target="#transcript_upload" class="dropdown-item"><i class="fa fa-refresh" aria-hidden="true"></i>
                    Update this transcript
                  </a></li>
                <li>
                  <a href="javascript:void(0);" data-url="/transcripts/delete/" id="delete_transcript" class="dropdown-item"><i class="material-icons custom-delete-icon">delete</i>
                    Delete this transcript</a>
                <li>
              <% end %>
              <!--              <li><a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit this-->
              <!--                transcript</a></li>-->
              <!--              <li>-->
              <div class="dropdown-divider"></div>
              </li>
            <% end %>
          <% end %>
          <% if @resource_file.present? && @resource_file.file_transcripts.present? && !params[:from_playlist].to_s.to_boolean? %>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle"><i class="fa fa-download" aria-hidden="true"></i>
                Download
                this
                transcript</a>
              <ul class="dropdown-menu">

                <li>
                  <a class="dropdown-item text_export" href="javascript://;" data-url="<%= transcript_export_path('txt') %>">Export
                    to Text</a></li>
                <li>
                  <a class="dropdown-item webvtt_export" href="javascript://;" data-url="<%= transcript_export_path('webvtt') %>">Export
                    to WebVTT</a></li>
                <li>
                  <a class="dropdown-item json_export" href="javascript://;" data-url="<%= transcript_export_path('json') %>">
                    Export to Json</a></li>

              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<script>
    $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');
        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass("show");
        });
        return false;
    });
</script>