<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder table-head">
          <div class="row">
            <div class="col-md-7"><h1>Transcripts</h1></div>
            <div class="col-md-5 ">
              <%= render partial: 'transcripts/transcripts_buttons' %>
            </div>
          </div>
        </div>
      </div>

      <div class="data-table resource-file-datatable">
        <%= content_tag :table, role: :datatable, class: ['table', 'table-striped', 'table-bordered'], id: 'transcripts_datatable', data: { url: data_table_transcripts_path(format: :json) } do %>
          <%= render partial: 'transcripts/transcripts_listing_table', locals: { table_called_from: 'media_files_transcript', columns_details: JSON.parse(current_organization.transcript_display_column)['columns_status'], organization_id: current_organization.id } %>
        <% end %>
      </div>
    </main>
  </div>
</div>


<%= render partial: 'transcripts/manage_column', locals: { columns_details: JSON.parse(current_organization.transcript_display_column)['columns_status'], search_columns_details: JSON.parse(current_organization.transcript_search_column), organization_id: current_organization.id } %>
<%= render partial: 'transcripts/bulk_edit_file_transcript' %>
<script type="text/javascript">
    var transcriptTable = new TranscriptTable();
    document.addEventListener("DOMContentLoaded", function () {
        transcriptTable.initialize('<%== current_organization.transcript_display_column %>', '<%= session[:file_transcript_bulk_edit] %>');
    });
</script>
