<div class="form-signin custom_form">
  <p class="font-size-13px" style="line-height: 1.4">Sign up for Aviary! Experience a new way of accessing, browsing and displaying AV collections as a user or member of an organization. You must register first as an individual to create an organization account.</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'sign_up_user_form', class: 'row mt-3' }) do |f| %>
    <%= f.hidden_field :first_url, value: check_params(request.original_url) %>
    <div class="col-md-6">
      <div class="form-group">
        <div class="field-title"><%= f.label :first_name %></div>
        <%= f.text_field :first_name, autocomplete: 'first_name', required: true, class: 'form-control', placeholder: 'First Name' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="field-title"><%= f.label :last_name %></div>
        <%= f.text_field :last_name, autocomplete: 'last_name', required: true, class: 'form-control', placeholder: 'Last Name' %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <div class="field-title"><%= f.label :email %></div>
        <%= f.email_field :email, autofocus: true, required: true, class: 'form-control', placeholder: 'Email Address' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="field-title"><%= f.label :password %></div>
        <%= f.password_field :password, autocomplete: 'off', required: true, class: 'form-control', placeholder: 'Password' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="field-title"><%= f.label :password_confirmation %></div>
        <%= f.password_field :password_confirmation, autocomplete: 'off', required: true, class: 'form-control', placeholder: 'Password Confirmation' %>
      </div>
    </div>
    <div class="col-md-12">
      <%= render 'devise/registrations/password_validation' %>
    </div>
    <div style="display: none !important;">
      <%= f.label :username %>
      <%= f.text_field :username, autocomplete: 'username', required: false, class: 'form-control', placeholder: 'Username' %>
    </div>

    <div style="display: none !important;">
      <%= f.label :preferred_language %>
      <%= f.select :preferred_language, iso_639_1_languages, { prompt: 'Preferred language' }, required: false, label: false, class: 'custom-placeholder' %>
    </div>
    <div class="col-md-12" id="signup_captcha_section" data-sitekey="<%= ENV['RECAPTCHA_SITE_KEY_V2'] %>">

    </div>

    <div class="col-md-12"><div class="form-check">
      <label for="user_agreement">
        <input type="hidden" value="<%= root_url %>" name="site_url"/>
        <%= f.check_box :agreement, required: true, class: 'form-check-input' %>
        <span class="icon-check"></span>
        I agree to the
        <a href="<%= terms_of_service_path %>" target="_blank">Terms of Service</a></label>
    </div></div>

    <%= f.submit 'Register', class: 'btn btn-lg btn-primary btn-block submit-registration-form mt-3 mx-3' %>
  <% end %>
  <div class="d-block text-center w-100">
    <div class="mt-2 text-center font-size-12px">Have an account?
      <a href="" type="submit" data-toggle="modal" data-target="#signinmodal" data-dismiss="modal">Sign In</a>
    </div>
  </div>

</div>
<script type="text/javascript">
    var userObj = new UserRegister();
    $(function () {
        userObj.initialize('#sign_up_user_form');
    });


</script>