<%
thesaurus_settings = ::Thesaurus::ThesaurusSetting.where(organization_id: current_organization.id, is_global: true, thesaurus_type: 'record').try(:first)
%>
<%= simple_form_for @interview, :url => @interview.new_record? ? ohms_records_path : interviews_manager_path(@interview), html: { class: "interview_manager" } do |f| %>
  <div class="row ">
    <div class="breadcrumb mt-4 mb-3">
      <%= render_breadcrumbs %>
    </div>
    <div class="col-md-12 border-bottom mb-4 top-index-interview">
      <div class="row">
        <div class="col-md-5">
          <div class="text-headline jumbotron my-0">
            <div class="heading-holder">
              <div class="heading-box">
                <%= link_to '', ohms_records_path, id: 'back-to-search-btn', class: 'btn-back' %>
                <h1>Metadata Editor </h1>
              </div>
            </div>
          </div>
         <div class="heading-holder">
            <% if @interview.present? && @interview.id.present? %>
              <%= link_to 'Preview', preview_interviews_manager_path(@interview.id), class: 'btn-interview-preview' %>
            <% end %>
          </div>
        </div>

        <div class="col-md-7">
          <div class="d-flex flex-column ml-auto right-toolbar">
            <div class="status d-flex align-items-center m-1">
              <% if @interview.present? %>
                <span>Status</span>
                <%= f.select :metadata_status, options_for_select(@interview.listing_metadata_status.map { |key, index| [index, key] }, @interview.metadata_status), {},required: false, label: false, class: 'custom-placeholder dont-apply-selectize form-control p-2' %>
              <% end %>
            </div>
            <div class="button-holder right-button-holder">
              <% if @interview.id.present? %>
                <%= render partial: 'shared/ohms/buttons', locals: { interview: @interview, show_save: true } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="text-headline jumbotron mt-2 mb-2">
        <h3>Admin and Description</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="field-title"><%= f.label :title, "Title*" %></div>
            <%= f.input :title, label: false, input_html: { class: 'form-control title' } %>
          </div>
          <div class="form-group mb-3">
            <div class="field-title"><%= f.label :accession_number, 'Accession Number' %></div>
            <%= f.input :accession_number, label: false, input_html: { class: 'form-control accession_number' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :interviewee %>
              <a href="javascript:void(0);" class="add_interviewee add_button_interview text-decoration-none"> +</a>
            </div>
            <div class="container_interviewee">
              <% if @interview.interviewee.present? && @interview.interviewee.size > 0 %>
                <% @interview.interviewee.each do |single_interview| %>
                  <div class="row container_interviewee_inner field_container">
                    <div class="col-12">
                      <input type='text' name='interviews_interview[interviewee][]' id="interviews_interview_interviewee" value="<%= single_interview %>" class="json optional form-control interviewee"/>
                      <a href="javascript://" class="remove_interviewee" title="Remove Interviewee"><i class="remove_icon_image"></i></a>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="row container_interviewee_inner field_container">
                  <div class="col-12">
                    <input type='text' name='interviews_interview[interviewee][]' id="interviews_interview_interviewee" class="json optional form-control interviewee"/>
                    <a href="javascript://" class="remove_interviewee" title="Remove Interviewee"><i class="remove_icon_image"></i></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :interviewer %>
              <a href="javascript:void(0);" class="add_interviewer add_button_interview text-decoration-none"> + </a>
            </div>
            <div class="container_interviewer">
              <% if @interview.interviewer.present? && @interview.interviewer.size > 0 %>
                <% @interview.interviewer.each do |single_interviewer| %>
                  <div class="row container_interviewer_inner field_container">
                    <div class="col-12">
                      <input type='text' name='interviews_interview[interviewer][]' id="interviews_interview_interviewer" value="<%= single_interviewer %>" class="json optional form-control interviewer "/>
                      <a href="javascript://" class="remove_interviewer" title="Remove interviewer"><i class="remove_icon_image"></i></a>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="row container_interviewer_inner field_container">
                  <div class="col-12">
                    <input type='text' name='interviews_interview[interviewer][]' id="interviews_interview_interviewer" value="" class="json optional form-control interviewer "/>
                    <a href="javascript://" class="remove_interviewer" title="Remove interviewer"><i class="remove_icon_image"></i></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :interview_date, 'Interview Date' %></div>
            <%= f.input :interview_date, label: false, input_html: { class: 'form-control', type: 'text', placeholder: 'yyyy-mm-dd or yyyy-mm or yyyy' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :date_non_preferred_format, 'Date (non-preferred format) ' %></div>
            <%= f.input :date_non_preferred_format, label: false, input_html: { class: 'form-control date_non_preferred_format' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :media_type, 'Type' %></div>
            <%= f.input :media_type, label: false, input_html: { class: 'form-control media_type' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :collection_id, 'Collection ID' %></div>
            <%= f.input :collection_id, label: false, input_html: { class: 'form-control collection_id' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :collection_name, 'Collection Name' %></div>
            <%= f.input :collection_name, label: false, input_html: { class: 'form-control collection_id' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :collection_link, 'Collection Link' %></div>
            <%= f.input :collection_link, label: false, input_html: { class: 'form-control collection_link' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :series_id, 'Series ID' %></div>
            <%= f.input :series_id, label: false, input_html: { class: 'form-control series_id' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :series, 'Series (Name)' %></div>
            <%= f.input :series, label: false, input_html: { class: 'form-control series' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :series_link, "Series Link" %></div>
            <%= f.input :series_link, label: false, input_html: { class: 'form-control series_link' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :summary %></div>
            <%= f.input :summary, label: false, input_html: { class: 'form-control summary ohm_summary' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :keywords %>
            </div>
            <div class="container_keywords">
              <% @interview.keywords = @interview.keywords.present? ? @interview.keywords.join(';') : '' %>
              <% if thesaurus_settings.present? && thesaurus_settings.thesaurus_keywords.positive? %>
                <% thesaurus = Thesaurus::Thesaurus.where(id: thesaurus_settings.thesaurus_keywords) %>
                <% if thesaurus.length.positive? %>
                  <%= f.text_area :keywords, required: false, label: false, class: 'form-control keywords tokenfield tokenfield_keywords',
                    data: { path: autocomplete_thesaurus_manager_index_path, t_id: thesaurus.first.id, type_of_list: 'thesaurus', max_suggest: ENV.fetch('MAX_SUGGEST', 100) } %>
                  <small class="form-text text-muted mt-1">Keywords should be separated by a semi-colon.</small>
                  <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
                <% end %>
              <% else %>
                <%= f.text_area :keywords, required: false, label: false, class: 'form-control keywords tokenfield tokenfield_keywords' %>
                <small class="form-text text-muted mt-1">Keywords should be separated by a semi-colon.</small>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :subjects %>
            </div>
            <div class="container_subjects">
              <% @interview.subjects = @interview.subjects.present? ? @interview.subjects.join(';') : '' %>
              <% if thesaurus_settings.present? && thesaurus_settings.thesaurus_subjects.positive? %>
                <% thesaurus = Thesaurus::Thesaurus.where(id: thesaurus_settings.thesaurus_subjects) %>
                <% if thesaurus.length.positive? %>
                  <%= f.text_area :subjects, required: false, label: false, class: 'form-control subjects tokenfield tokenfield_subjects',
                    data: { path: autocomplete_thesaurus_manager_index_path, t_id: thesaurus.first.id, type_of_list: 'thesaurus', max_suggest: ENV.fetch('MAX_SUGGEST', 100) } %>
                  <small class="form-text text-muted mt-1">Subjects should be separated by a semi-colon.</small>
                  <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
                 <% end %>
              <% else %>
                <%= f.text_area :subjects, required: false, label: false, class: 'form-control subjects tokenfield tokenfield_subjects' %>
                <small class="form-text text-muted mt-1">Subjects should be separated by a semi-colon.</small>
              <% end %>
            </div>
          </div>
          <div class="text-headline jumbotron custom-title-headline">
            <h3>Thesaurus 

            <button type="button" class="info-btn" data-toggle="tooltip" data-placement="right" title="Assigning thesauri to OHMS index fields in the section below will apply only to this OHMS record and will override any global settings made in the OHMS Thesaurus Manager."></button></h3>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :thesaurus_keywords, "Thesaurus (Keywords)" %></div>
            <%= f.select :thesaurus_keywords, ::Thesaurus::Thesaurus.list_thesaurus(current_organization,'ohms'), {}, required: false, label: false, class: 'custom-placeholder thesaurus_keywords  ' %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :thesaurus_subjects, "Thesaurus (Subjects)" %></div>
            <%= f.select :thesaurus_subjects, ::Thesaurus::Thesaurus.list_thesaurus(current_organization,'ohms'), {}, required: false, label: false, class: 'custom-placeholder thesaurus_subjects' %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :thesaurus_titles, "Thesaurus (Titles)" %></div>
            <%= f.select :thesaurus_titles, ::Thesaurus::Thesaurus.list_thesaurus(current_organization,'ohms'), {}, required: false, label: false, class: 'custom-placeholder' %>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-headline jumbotron mt-2 mb-2">
        <h3>Media and Technical</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex align-items-center custom-checkbox-holder">
            <%= f.label :media_format, "Media Format*" %>
            <div class="custom-checkbox ml-4 mr-3">
              <input type="radio" <%= @interview.media_format.to_s.downcase == 'audio' || @interview.media_format.blank? ? 'checked' : '' %> value="audio" name="interviews_interview[media_format]" id="interviews_interview_media_format">
              <label for="interviews_interview_media_format" class="pt-0">Audio</label>
            </div>
            <div class="custom-checkbox">
              <input type="radio" <%= @interview.media_format.to_s.downcase == 'video' ? 'checked' : '' %> value="video" name="interviews_interview[media_format]" id="interviews_interview_media_format_video">
              <label for="interviews_interview_media_format_video" class="pt-0">Video</label>
            </div>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :media_host %> </div>
            <%= f.select :media_host, options_for_select(@interview.listing_media_host.map { |key, index| [key, index] }, @interview.media_host), {}, required: false, label: false, class: 'custom-placeholder media_hosts_value ' %>
          </div>
          <div class="form-group media_url_embed dynamic_control_interview">
            <div class="field-title"><%= f.label :media_url, 'Media URL' %></div>
            <%= f.input :media_url, label: false, input_html: { class: 'form-control media_url' } %>
          </div>
          <div class="form-group avalon_target_domain dynamic_control_interview">
            <div class="field-title"><%= f.label :avalon_target_domain, 'Avalon Target Domain' %></div>
            <%= f.input :avalon_target_domain, label: false, input_html: { class: 'form-control avalon_target_domain' } %>
          </div>

          <div class="form-group embed_code dynamic_control_interview">
            <div class="field-title"><%= f.label :embed_code, 'Embed Code' %></div>
            <%= f.input :embed_code, label: false, input_html: { class: 'form-control embed_code', id: 'embed_code_input' } %>
          </div>

          <div class="form-group media_host_account_id dynamic_control_interview">
            <div class="field-title"><%= f.label :embed_code, 'Media Host Account ID' %></div>
            <%= f.input :media_host_account_id, label: false, input_html: { class: 'form-control media_host_account_id' } %>
          </div>

          <div class="form-group media_host_player_id dynamic_control_interview">
            <div class="field-title"><%= f.label :media_host_player_id, 'Media Host Player ID' %></div>
            <%= f.input :media_host_player_id, label: false, input_html: { class: 'form-control media_host_player_id' } %>
          </div>

          <div class="form-group media_host_item_id dynamic_control_interview">
            <div class="field-title"><%= f.label :media_host_player_id, 'Media Host Item ID' %></div>
            <%= f.input :media_host_item_id, label: false, input_html: { class: 'form-control media_host_item_id' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :media_duration, 'Duration' %></div>
            <%= f.input :media_duration, label: false, input_html: { class: 'form-control media_duration' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :media_format, ' Format' %>
              <a href="javascript:void(0);" class="add_format add_button_interview text-decoration-none"> +</a>
            </div>
            <div class="container_format">
              <% if @interview.format_info.present? && @interview.format_info.size > 0 %>
                <% @interview.format_info.each do |single_format| %>
                  <div class="row container_format_inner field_container">
                    <div class="col-12 mb-2">
                      <input type='text' name='interviews_interview[format_info][]' id="interviews_interview_format" value='<%= single_format %>' class="json optional form-control format "/>
                      <a href="javascript://" class="remove_format" title="Remove Format"><i class="remove_icon_image"></i></a>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="row container_format_inner field_container">
                  <div class="col-12 mb-2">
                    <input type='text' name='interviews_interview[format_info][]' id="interviews_interview_format" class="json optional form-control format"/>
                    <a href="javascript://" class="remove_format" title="Remove Format"><i class="remove_icon_image"></i></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :media_filename, 'Media Filename' %></div>
            <%= f.input :media_filename, label: false, input_html: { class: 'form-control media_filename', input_html: { type: 'number' } } %>
          </div>
          <div class="text-headline jumbotron custom-title-headline">
            <h3>Rights and Usage</h3>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :right_statement, "Rights Statement" %></div>
            <%= f.input :right_statement, label: false, input_html: { class: 'form-control right_statement' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :usage_statement, "Usage Statement" %></div>
            <%= f.input :usage_statement, label: false, input_html: { class: 'form-control usage_statement' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :acknowledgment %></div>
            <%= f.input :acknowledgment, label: false, input_html: { class: 'form-control acknowledgment' } %>
          </div>
          <div class="text-headline jumbotron custom-title-headline">
            <h3>Language</h3>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :language, 'Language' %></div>
            <%= f.input :language_info, label: false, input_html: { class: 'form-control language' } %>
          </div>
          <div class="custom-checkbox mt-4 mb-3">
            <%= f.check_box :include_language, label: false, id: "include_language", input_html: { class: 'include_language' } %>
            <label for="include_language">Include Translation </label>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :language_for_translation, 'Language For Translation' %></div>
            <%= f.input :language_for_translation, label: false, input_html: { class: 'form-control language_for_translation' } %>
          </div>
          <div class="text-headline jumbotron custom-title-headline">
            <h3>Miscellaneous</h3>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :miscellaneous_cms_record_id, "CMS Record ID" %></div>
            <%= f.input :miscellaneous_cms_record_id, label: false, input_html: { class: 'form-control miscellaneous_cms_record_id' } %>
          </div>
          <div class="form-group">
            <div class="field-title"><%= f.label :miscellaneous_ohms_xml_filename, "OHMS XML Filename" %></div>
            <%= f.input :miscellaneous_ohms_xml_filename, label: false, input_html: { class: 'form-control miscellaneous_ohms_xml_filename' } %>
          </div>
          <div class="custom-checkbox mt-4 mb-3">
            <%= f.check_box :miscellaneous_use_restrictions, label: false, id: "miscellaneous_use_restrictions" , input_html: { class: 'form-control miscellaneous_use_restrictions' } %>
            <label for="miscellaneous_use_restrictions">Use Restrictions*</label>
          </div>
          
          <div class="form-group">
            <div class="field-title"><%= f.label :miscellaneous_user_notes, "User Notes" %></div>
            <%= f.input :miscellaneous_user_notes, label: false, input_html: { class: 'form-control miscellaneous_user_notes' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-12 text-right">
      <%= link_to 'Return To OHMS Studio', ohms_records_path, class: 'btn btn-outline-secondary mr-2' %>
      <%= f.submit 'Save', class: 'btn btn-success', onclick: 'return validateForm()' %>
    </div>
  </div>
  <br/>
  <br/>

<% end %>
<%= render 'interviews/managers/notes' %>
<script type="application/javascript">
    let interviews_manager = new InterviewManager();
    $(function () {
        interviews_manager.initialize();
        $('[data-toggle="tooltip"]').tooltip()
        interviews_manager.keywordField(<%= raw @keys %>, <%= raw @selected_keyword_ids %>);
        interviews_manager.searchField(<%= raw @subjects %>, <%= raw @selected_subjects_ids %>);
    })

    function validateForm() {
      var embedCodeInput = document.getElementById('embed_code_input');
      var embedCodeValue = embedCodeInput.value;
      var scriptTagRegex = /<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi
      embedCodeValue = embedCodeValue.replace(scriptTagRegex, '');
      $(embedCodeInput).val(embedCodeValue);
    }
</script>