<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class=" ">
        <div class="px-3">
            <div class="breadcrumb resources-details">
            <%= render_breadcrumbs %>
          </div>
        </div>
        <%= simple_form_for @interview, :url => sync_interviews_manager_path(@interview), html: {class: "interview_manager"} do |f| %>
          <div class="col-md-12 top-index-interview">
            <div class="border-bottom mb-4">
              <div class="row custom-order-level">
                <div class="col-xl-7 col-lg-6">
                  <div class="text-headline jumbotron my-3">
                    <div class="heading-holder d-flex align-items-center">
                      <a id="back-to-search-btn" href="<%= interviews_managers_path() %>">
                        <span class="fa fa-angle-left "></span> <small>Return to interviews</small>
                      </a>
                      <h1><%= @interview.title %></h1>
                    </div>
                  </div>
                </div>
                <div class="col-xl-5 col-lg-6 text-right">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="status d-flex align-items-center">
                      <span>Status</span>
                      <div class="ml-1">
                        <%= f.select :sync_status, options_for_select(@interview.listing_metadata_status.map { |key, index| [index, key] }, @interview.sync_status), {}, required: false, label: false, class: 'custom-placeholder dont-apply-selectize form-control' %>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <%= link_to 'Edit Transcript', edit_interviews_transcript_path(@interview.file_transcripts.where(interview_transcript_type: 'main').try(:first)), class: 'btn btn-primary ml-3' %>
                      <button class="btn btn-success ml-3" id='save_transcript_information'>Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>

              <div class="row ">
                <div class="col-xl-7 col-lg-4">
                  <span class="mr-2">Language: </span>
                  <div class="btn-group">
                    <%= link_to @interview.language_info.present? ? @interview.language_info : 'English', 'javascript:void(0)', class: 'btn btn-primary main_transcript', data: {opposite: 'translation_transcript', showdiv: 'main_transcript_for_edit', hidediv: 'translation_transcript_for_edit'} %>
                    <% if @interview.include_language %>
                      <%= link_to @interview.language_for_translation, 'javascript:void(0)', class: 'btn btn-outline-secondary translation_transcript ', data: {opposite: 'main_transcript', showdiv: 'translation_transcript_for_edit', hidediv: 'main_transcript_for_edit'} %>
                    <% end %>
                  </div>
                </div>

                <div class="col-xl-5 col-lg-8">
                  <div class="status d-flex align-items-center justify-content-end mb-3" id="timecode_intervals_url" data-url="<%= change_sync_interval_interviews_transcript_path(@interview) %>">
                    <span class="mr-2"><%= f.label :syncing_time_interval %>:</span>
                    <%= f.select :timecode_intervals, [["30 seconds", '0.5'], ['1 minute (Default)', '1'], ['2 minute', '2'], ['3 minute', '3'], ['4 minutes', '4'], ['5 minutes', '5']], selected: @main_transcript.present? ? @main_transcript.timecode_intervals.to_i.to_s : '1' %>
                  </div>
                </div>
              </div>

              <div class="row ">
                <textarea id="main_transcript_textarea" name="interviews_interview[main_transcript]" class="d-none"></textarea>
                <textarea id="translation_transcript_textarea" class="d-none" name="interviews_interview[translation_transcript]"></textarea>
                <div class="col-xl-7 col-lg-6 main_transcript_for_edit" style='max-height: 600px;  overflow: scroll;'>
                  <% if @data_main.present? %>
                    <% counter = 1 %>
                    <% @data_main.each do |single_point| %>
                     
                      <% list_line = single_point[:text].split("\n") %>
                      <% list_line.each do |single_list_line| %>
                        <% list = single_list_line.split %>
                        <% if list.present? %>
                          <div class='single_point_transcript p-1' style='color: gray;'>
                          <% list.each do |single_word| %>
                            <span class='single_word_transcript cursor-pointer'> <%= single_word.html_safe %> </span>
                          <% end %>
                          </div>
                        <% end %>
                      <% end %>
                      
                      <% if @data_main.length > counter %>
                        <span class="transcript_point_code text-dark transcript_point_code_<%= hms_to_number(single_point[:end_time]) %>" data-timecode="<%= hms_to_number(single_point[:end_time]) %>">[<%= single_point[:end_time] %>]</span>
                      <% end %>
                      <% counter = counter + 1 %>

                    <% end %>
                  <% end %>
                </div>
                <div class="col-xl-7 col-lg-6 translation_transcript_for_edit d-none" style='max-height: 600px;  overflow: scroll;'>
                  <% if @data_translation.present? %>
                    <% counter_translation = 1 %>
                    <% @data_translation.each do |single_point| %>
                      <% list = single_point[:text].split %>
                      <div class='single_point_transcript p-1' style='color: gray;'>
                        <% if list.present? %>
                          <% list.each do |single_word| %>
                            <span class='single_word_transcript cursor-pointer'> <%= single_word %> </span>
                          <% end %>
                        <% end %>
                      </div>
                      <% if @data_translation.length > counter_translation %>
                        <span class="transcript_point_code text-dark transcript_point_code_<%= hms_to_number(single_point[:end_time]) %>" data-timecode="<%= hms_to_number(single_point[:end_time]) %>">[<%= single_point[:end_time] %>
                          ]</span>
                      <% end %>
                      <% counter_translation = counter_translation + 1 %>

                    <% end %>
                  <% end %>
                </div>

                <div class='col-xl-5 col-lg-6 video-box-section'>
                  <div class="right-side-section">
                    <%= render 'interviews/interview_index/top' %>

                    <div class="top-section-test-interview rounded">
                      <div class="buttons-box music_btn music-btn-holder text-center">
                        <div class="btn-group mr-2">
                          <a href="javascript:void(0);" class="btn btn-outline-dark update_backward"><i class="fa fa-fast-backward"></i></a>
                          <input type="text" class="current_transcript_point w-100px form-control d-inline-block" value="00:00"/>
                          <input type="hidden" class="player_state_transcript" value="0"/>
                          <a href="javascript:void(0);" class="btn btn-outline-dark update_forward"><i class="fa fa-fast-forward"></i></a>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-outline-dark update_pause mr-2"><i class="fa fa-stop"></i></a>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">±</span>
                          </div>
                          <input type="text" class="video_player_delay form-control d-inline-block  " placeholder="0" value="10"/>
                          <input type="text" class="current_player_time form-control d-inline-block" placeholder="00:00:00"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        <% end %>
        </div>
        </main>
  </div>
</div>
<script type="text/javascript">
    let interview_manager = new InterviewManager();
    let interviews_transcript_manager = new InterviewTranscriptManager();
    interviews_transcript_manager.timecode = '<%= @main_transcript.timecode_intervals %>';
    $(function () {
        interview_manager.initializeSync();
        interviews_transcript_manager.initialize();
        interviews_transcript_manager.audioBegin = new Audio("<%= root_url %>/sounds/site_swf_startBeep.mp3");
        interviews_transcript_manager.audioEnd = new Audio("<%= root_url %>/sounds/site_swf_midBeep.mp3");
    });
    if ($(window).width() >= 992) {
        $(".right-side-section").sticky({topSpacing: 50});
    } else {
        $(".right-side-section").unstick();
    }
</script>