<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder">
          <div class="row">
            <div class="col-md-9"><h1><%= @interview.title %></h1></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class=" ">

          <%= simple_form_for @interview, :url => sync_interviews_manager_path(@interview), html: {class: "interview_manager"} do |f| %>

            <div class="row ">
              <div class="col-md-12 text-right">
                <%= link_to 'Return To Interviews', interviews_managers_path, class: 'btn btn-primary float-right ml-1 mr-1' %>
                <div class="float-right w-25 ml-1 mr-4">
                  <%= f.select :sync_status, options_for_select(@interview.listing_metadata_status.map { |key, index| [index, key] }, @interview.sync_status), {}, required: false, label: false, class: 'custom-placeholder dont-apply-selectize form-control ml-2 mr-3', style: ' margin-top: -10px; height: 50px !important; ' %>
                </div>
              </div>
            </div>


            <div class="row ">
              <div class="col-md-6 text-left">
                <%= link_to 'English', 'javascript:void(0)', class: 'btn btn-primary float-left ml-1 mr-1 main_transcript d-none', data: {opposite: 'translation_transcript', showdiv: 'main_transcript_for_edit', hidediv: 'translation_transcript_for_edit'} %>
                <%= link_to 'Franch', 'javascript:void(0)', class: 'btn btn-primary float-left ml-1 mr-1 translation_transcript ', data: {opposite: 'main_transcript', showdiv: 'translation_transcript_for_edit', hidediv: 'main_transcript_for_edit'} %>
                <%= link_to 'Edit Transcript', interviews_managers_path, class: 'btn btn-primary float-left ml-1 mr-1' %>

                <button class="btn btn-success float-left ml-1 mr-1"> Save</button>

              </div>

              <div class="col-md-6">
                <div class="form-group" id="timecode_intervals_url" data-url="<%= change_sync_interval_interviews_transcript_path(@interview) %>">
                  <div class="field-title"><%= f.label :syncing_time_interval %></div>
                  <%= f.select :timecode_intervals, [["30 seconds", '0.5'], ['1 minute (Default)', '1'], ['2 minute', '2'], ['3 minute', '3'], ['4 minutes', '4'], ['5 minutes', '5']], selected: @main_transcript.present? ? @main_transcript.timecode_intervals.to_i.to_s : '1' %>
                </div>
              </div>
            </div>

            <div class="row ">
              <textarea id="main_transcript_textarea" name="interviews_interview[main_transcript]" class="d-none"></textarea>
              <textarea id="translation_transcript_textarea" class="d-none" name="interviews_interview[translation_transcript]"></textarea>
              <div class="col-5 main_transcript_for_edit" style='max-height: 600px;  overflow: scroll;'>
                <% if @data_main.present? %>
                  <% counter = 1 %>
                  <% @data_main.each do |single_point| %>
                    <% list = single_point[:text].split %>
                    <div class='single_point_transcript p-1' style='color: gray;'>
                      <% if list.present? %>
                        <% list.each do |single_word| %>
                          <span class='single_word_transcript cursor-pointer'> <%= single_word %> </span>
                        <% end %>
                      <% end %>
                    </div>
                    <% if @data_main.length > counter %>
                      <span class="transcript_point_code text-dark transcript_point_code_<%= hms_to_number(single_point[:end_time]) %>" data-timecode="<%= hms_to_number(single_point[:end_time]) %>">[<%= single_point[:end_time] %>]</span>
                    <% end %>
                    <% counter = counter + 1 %>

                  <% end %>
                <% end %>
              </div>
              <div class="col-5 translation_transcript_for_edit d-none" style='max-height: 600px;  overflow: scroll;'>
                <% if @data_translation.present? %>
                  <% counter_translation = 1 %>
                  <% @data_translation.each do |single_point| %>
                    <% list = single_point[:text].split %>
                    <div class='single_point_transcript p-1' style='color: gray;'>
                      <% if list.present? %>
                        <% list.each do |single_word| %>
                          <span class='single_word_transcript cursor-pointer'> <%= single_word %> </span>
                        <% end %>
                      <% end %>
                    </div>
                    <% if @data_translation.length > counter_translation %>
                      <span class="transcript_point_code text-dark transcript_point_code_<%= hms_to_number(single_point[:end_time]) %>" data-timecode="<%= hms_to_number(single_point[:end_time]) %>">[<%= single_point[:end_time] %>]</span>
                    <% end %>
                    <% counter_translation = counter_translation + 1 %>

                  <% end %>
                <% end %>
              </div>

              <div class='col-7'>
                <%= render 'interviews/interview_index/top' %>

                <div class="top-section-test-interview border rounded">
                  <div class="buttons-box music_btn text-center mt-4 mr-1 ml-1">
                    <a href="javascript:void(0);" class="btn btn-outline-dark update_backward  mr-1"><i class="fa fa-fast-backward"></i></a>
                    <input type="text" class="current_transcript_point w-100px form-control d-inline-block mt-5px  mr-1" value="00:00"/>
                    <input type="hidden" class="player_state_transcript" value="0"/>
                    <a href="javascript:void(0);" class="btn btn-outline-dark update_forward  mr-1"><i class="fa fa-fast-forward"></i></a>
                    <a href="javascript:void(0);" class="btn btn-outline-dark update_pause  mr-1"><i class="fa fa-stop"></i></a>
                    <span class="font-size-35px mr-1">±</span>
                    <input type="text" class="video_player_delay w-50px form-control d-inline-block mt-5px mr-3  " placeholder="0" value="10"/>
                    <input type="text" class="current_player_time w-100px form-control d-inline-block mt-5px mr-1" placeholder="00:00:00"/>
                  </div>
                </div>
              </div>
            </div>

            <br/>
            <br/>
            <div class="row ">
              <div class="col-md-12 text-right">
                <%= link_to 'English', 'javascript:void(0)', class: 'btn btn-primary float-left ml-1 mr-1 main_transcript d-none', data: {opposite: 'translation_transcript', showdiv: 'main_transcript_for_edit', hidediv: 'translation_transcript_for_edit'} %>
                <%= link_to 'Franch', 'javascript:void(0)', class: 'btn btn-primary float-left ml-1 mr-1 translation_transcript ', data: {opposite: 'main_transcript', showdiv: 'translation_transcript_for_edit', hidediv: 'main_transcript_for_edit'} %>
                <div class="float-right w-25 ml-1 mr-4">
                  <%= f.select :metadata_status, options_for_select(@interview.listing_metadata_status.map { |key, index| [index, key] }, @interview.metadata_status), {}, required: false, label: false, class: 'custom-placeholder dont-apply-selectize form-control ml-2 mr-3', style: ' margin-top: -10px; height: 50px !important; ' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
    let interview_manager = new InterviewManager();
    let interviews_transcript_manager = new InterviewTranscriptManager();
    interviews_transcript_manager.timecode = '<%= @main_transcript.timecode_intervals %>';
    $(function () {
        interview_manager.initializeSync();
        interviews_transcript_manager.initialize();
    });
</script>