<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder table-head">
          <div class="row">
            <% if request.GET["type"].nil? %>
             <div class="col-md-6"><h1> Fields Configuration </h1></div>
            <% else %>
             <div class="col-md-6"><h1> OHMS Thesaurus Manager </h1></div>
            <% end %>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="wrapper">
            <div class="org-metadata">
              <% if request.GET["type"].nil? %>
                <div class="text-headline jumbotron">
                  <p>In this configuration page, you can select which of which metadata fields appear as facets for your
                    organization search page. You can also select in which order (from top to bottom on the page) they
                    will appear for your users.</p>
                </div>
              <% end %>
              <div class="sort_update_fields" data-url="<%= update_information_organization_fields_path %>">
                <div class="row">
                  <div class="col-md-12">
                    <div class="organization_field_settings">
                      <div class="hold">
                        <ul class="nav nav-tabs" id="organization_field_settings" role="tablist">
                          <% if request.GET["type"].nil? %>
                            <li class="nav-item">
                              <a class="nav-link parent_menu" id="collection_field_settings" data-tab="collection_field_settings_content" data-toggle="tab" href="#collection_field_settings_content" role="tab" aria-controls="collection_field_settings_content" aria-selected="false">
                                Collection Fields Settings</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link parent_menu" id="resource_field_settings" data-tab="organization_field_settings_content" data-toggle="tab" href="#organization_field_settings_content" role="tab" aria-controls="organization_field_settings_content" aria-selected="false">
                                Resource Fields Settings</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link parent_menu" id="indexes_field_settings" data-tab="indexes_field_settings_content" data-toggle="tab" href="#indexes_field_settings_content" role="tab" aria-controls="indexes_field_settings_content" aria-selected="false">
                                Index Fields Settings</a>
                            </li>
                          <% end %>
                          <% if ENV['OHMS_DEVELOPMENT_ONLY'].to_s == '1' %>
                            <li class="nav-item">
                              <a class="nav-link parent_menu" id="organization_thesaurus_settings" data-tab="organization_thesaurus_content" data-toggle="tab" href="#organization_thesaurus_content" role="tab" aria-controls="organization_thesaurus_content" aria-selected="true">Thesaurus</a>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                      <div class="tab">
                        <div class="tab-content">
                          <%= render 'collection_field_settings' %>

                          <div class="tab-pane fade w-100" style="z-index: 999999"
                               id="organization_field_settings_content" role="tabpanel"
                               aria-labelledby="organization_field_settings_content">
                            <ul class="nav nav-tabs bg-white" id="manage_fields_options" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active show field_config_menu" id="display_settings" data-tab="display_settings_content" data-toggle="tab" href="#display_settings_content"
                                   role="tab" aria-controls="display_settings_content" aria-selected="true">Global Metadata Fields</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link field_config_menu" id="table_configuration" data-tab="table_configuration_content" data-toggle="tab" href="#table_configuration_content"
                                   role="tab" aria-controls="table_configuration_content" aria-selected="true">Resource Table Configuration</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link field_config_menu" id="search_configuration" data-tab="search_configuration" data-toggle="tab" href="#search_configuration_content" role="tab"
                                   aria-controls="search_configuration" aria-selected="false">Search Configuration</a>
                              </li>
                            </ul>
                            <div class="tab">
                              <div class="tab-content">
                                <div class="tab-pane fade active show" id="display_settings_content" role="tabpanel" aria-labelledby="display_settings_content">
                                  <div class="row">
                                    <div class="col-12 p-5">
                                      <div class="add-new-field-holder">
                                        <a class="btn btn-light btn-sm edit-custom-field-button edit-custom-field-button-new-custom-spec" data-method-type="new"
                                           data-url="<%= request.GET["type"].nil? ? new_edit_custom_field_organization_fields_path(methodtype: 'new') : "#{new_edit_custom_field_organization_fields_path(methodtype: 'new')}?type=ohms" %>">Add Custom Fields</a>
                                      </div>
                                      <div class="holder custom_fields_container border">
                                        <table class="table table-hover border-0">
                                          <thead class="border-top-0">
                                          <tr class="">
                                            <th style="width: 40% !important;"><h2>Field Name</h2></th>
                                            <th style="width: 10% !important; "><h2>Status</h2></th>
                                            <th style="width: 10% !important; "><h2>Internal</h2></th>
                                            <th style="width: 40% !important; "><h2>Action</h2></th>
                                          </tr>
                                          </thead>
                                        </table>
                                        <table class="table border-0" id="sort_facet_fields_table">
                                          <tbody id='description_preview_org' data-type="resource_fields" data-option='description_preview_org' data-order-custom="sort_order" data-status-columns="description_display"  data-internal-only-columns="is_internal_only">
                                          <% if @resource_fields.present? %>
                                            <% @resource_fields.each_with_index do |(system_name, single_collection_field), _index| %>
                                              <% next if single_collection_field['field_configuration'].present? && single_collection_field['field_configuration']['special_purpose'].present? && single_collection_field['field_configuration']['special_purpose'].to_s.to_boolean? %>
                                              <% label = single_collection_field['label'] %>
                                              <% is_default_field = single_collection_field['is_default'] %>
                                              <% type = single_collection_field['field_type'] %>
                                              <% status = true %>
                                              <tr class="facet_field <%= single_collection_field['system_name'] %>" data-field="<%= system_name %>" data-field-type="<%= type %>" data-label="<%= label %>" data-collection="<%= '' %>" data-is-default-field="<%= is_default_field %>">
                                                <td width="40%">
                                                  <i class="fa fa-ellipsis-v handle mx-2" style="color: lightgrey;cursor: move;"></i>
                                                  <span data-toggle="tooltip" data-placement="top" title="" aria-hidden="true" data-original-title="<%= single_collection_field['help_text'] %>">
                                                    <%= label %>
                                                  </span>
                                                  <% if is_default_field %>
                                                    <i class="fa fa-asterisk color-grey font-size-8px" data-toggle="tooltip" data-placement="top" title="" aria-hidden="true" data-original-title="This is a default field of collection."></i>
                                                  <% end %>
                                                  <% if single_collection_field['default_name'].present? && single_collection_field['default_name'] != single_collection_field['label'] %>
                                                    <small class="mt-2 form-text font-size-12px text-muted d-inline">
                                                      <%= single_collection_field['default_name'] %>
                                                    </small>
                                                  <% end %>
                                                </td>
                                                <td width="10%">
                                                  <label class="toggle-switch">
                                                    <%= check_box_tag 'description_display' + single_collection_field['system_name'], boolean_value(single_collection_field['description_display']), boolean_value(single_collection_field['description_display']), class: "description_display toggle-switch__input template-data-is-facetable template-data-field-is-facetable" %>
                                                    <span class="toggle-switch__slider"></span>
                                                  </label>
                                                </td>
                                                <td width="10%">
                                                  <label class="toggle-switch">
                                                    <%= check_box_tag 'is_internal_only' + single_collection_field['system_name'], single_collection_field['is_internal_only'], single_collection_field['is_internal_only'].to_s.to_boolean?, class: "is_internal_only toggle-switch__input template-data-is-facetable template-data-field-is-facetable", disabled: acts_as_default(single_collection_field) %>
                                                    <span class="toggle-switch__slider"></span>
                                                  </label>
                                                </td>
                                                <td width="40%">
                                                  <a class="btn-sm btn-default ml-1  text-white manage_field_assignment" data-toggle="modal" data-target="#assignment_field_popup" data-field="<%= system_name %>" data-label="<%= label %>">
                                                    Assign field to collection </a>
                                                  <a class="btn-sm btn-success ml-1  text-white edit_custom_field_info" data-field="<%= system_name %>" data-url="<%= new_edit_custom_field_organization_fields_path(system_name: system_name, methodtype: 'edit') %>">
                                                    Edit </a>
                                                  <% if !is_default_field %>
                                                    <a class="btn-sm btn-danger ml-1 text-white delete_field" data-field="<%= system_name %>" data-url="<%= delete_field_organization_fields_path(delete_type: 'organization_level', system_name: system_name, type: 'resource_fields') %>">
                                                      Delete</a>
                                                  <% end %>
                                                </td>
                                              </tr>
                                            <% end %>
                                          <% end %>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="add-new-field-holder">
                                        <a class="btn btn-light btn-sm edit-custom-field-button edit-custom-field-button-new-custom-spec" data-method-type="new" data-url="<%= new_edit_custom_field_organization_fields_path(methodtype: 'new') %>">Add
                                          Custom Fields</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane fade " id="table_configuration_content" role="tabpanel" aria-labelledby="table_configuration_content">
                                  <div class="row">
                                    <div class="col-12 p-5">
                                      <div class="holder custom_fields_container border">
                                        <table class="table table-hover border-0">
                                          <thead class="border-top-0">
                                          <tr class="">
                                            <th style="width: 80% !important;"><h2>Field Name</h2></th>
                                            <th style="width: 10% !important;"><h2>Display Columns</h2></th>
                                            <th style="width: 10% !important; "><h2>Search Column</h2></th>
                                          </tr>
                                          </thead>
                                        </table>
                                        <table class="table border-0" id="sort_facet_fields_table">
                                          <tbody id='resource_table_org' data-type="resource_fields" data-option='resource_table_org' data-order-custom="resource_table_sort_order" data-status-columns="resource_table_display,resource_table_search">
                                          <% if @resource_columns_table.present? %>
                                            <% @resource_columns_table.each_with_index do |(system_name, single_collection_field), _index| %>
                                              <% label = single_collection_field['label'] %>
                                              <% is_default_field = single_collection_field['is_default'] %>
                                              <% type = single_collection_field['field_type'] %>
                                              <% global_status = @resource_fields[system_name]['description_display'].to_s.to_boolean? %>

                                              <% if @resource_fields[system_name]['field_configuration'].present? && @resource_fields[system_name]['field_configuration']['special_purpose'].present? && boolean_value(@resource_fields[system_name]['field_configuration']['special_purpose'])
                                                   global_status = true
                                                 end %>

                                              <tr class="facet_field <%= single_collection_field['system_name'] %>" data-field="<%= system_name %>" data-field-type="<%= type %>" data-label="<%= label %>" data-collection="<%= '' %>" data-is-default-field="<%= is_default_field %>">
                                                <td width="80%">
                                                  <i class="fa fa-ellipsis-v handle mx-2" style="color: lightgrey;cursor: move;"></i>
                                                  <span data-toggle="tooltip" data-placement="top" title="" aria-hidden="true" data-original-title="<%= single_collection_field['help_text'] %>">
                                                <%= label %>
                                                  </span>
                                                  <% if is_default_field %>
                                                    <i class="fa fa-asterisk color-grey font-size-8px" data-toggle="tooltip" data-placement="top" title="" aria-hidden="true" data-original-title="This is a default field of collection."></i>
                                                  <% end %>
                                                  <% if single_collection_field['default_name'].present? && single_collection_field['default_name'] != single_collection_field['label'] %>
                                                    <small class="mt-2 form-text font-size-12px text-muted d-inline">
                                                      <%= single_collection_field['default_name'] %>
                                                    </small>
                                                  <% end %>

                                                </td>
                                                <% visible_at = nil
                                                   visible_at = @resource_fields[system_name]['field_configuration']['visible_at'] if @resource_fields[system_name]['field_configuration'].present? && @resource_fields[system_name]['field_configuration']['special_purpose'].present? && @resource_fields[system_name]['field_configuration']['special_purpose'].to_s.to_boolean? %>
                                                <td width="10%">
                                                  <label class="toggle-switch ml-3">
                                                    <%= check_box_tag 'resource_table_display' + single_collection_field['system_name'], single_collection_field['resource_table_display'], single_collection_field['resource_table_display'].to_s.to_boolean?, disabled: !global_status, class: "resource_table_display toggle-switch__input template-data-is-facetable template-data-field-is-facetable" %>
                                                    <span class="toggle-switch__slider"></span>
                                                  </label>
                                                </td>
                                                <td width="10%">
                                                  <% if visible_at.nil? || visible_at.include?('resource_search') %>
                                                    <label class="toggle-switch ml-3">
                                                      <%= check_box_tag 'resource_table_search' + single_collection_field['system_name'], single_collection_field['resource_table_search'], single_collection_field['resource_table_search'].to_s.to_boolean?, disabled: !global_status, class: "resource_table_search toggle-switch__input template-data-is-facetable template-data-field-is-facetable" %>
                                                      <span class="toggle-switch__slider"></span>
                                                    </label>
                                                  <% end %>
                                                </td>
                                              </tr>
                                            <% end %>
                                          <% end %>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane fade " id="search_configuration_content" role="tabpanel" aria-labelledby="search_configuration_content">
                                  <div class="row">
                                    <div class="col-12 p-5">
                                      <div class="holder custom_fields_container border">
                                        <%= render partial: 'organization_fields/search_configuration' %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="tab-pane fade w-100" style="z-index: 999999" id="indexes_field_settings_content" role="tabpanel" aria-labelledby="indexes_field_settings_content">
                            <div class="tab">
                              <div class="tab-content">
                                <div class="row">
                                  <div class="col-12 p-5">
                                    <%= form_for :anything, url: update_index_template_organization_fields_path do |form| %>
                                      <div class="row">
                                        <div class="col-4">
                                          <div class="field-title">
                                            <label> Index Edit Template </label>
                                          </div>
                                          <select id='index_template' name='index_template'>
                                            <option value="">Select option</option>
                                            <%index_template_items().each_with_index do |index,key| %>
                                              <option value="<%=key%>" <%=(current_organization.index_template == key ? 'selected' : '')%>><%=index['name']%></option>
                                            <%end%>
                                          </select>
                                          <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-12 p-5">

                                <div class="text-headline jumbotron mt-1 mb-0">
                                  <h3>Index Segment Metadata Fields
                                    <button type="button" class="info-btn" data-content="Use this table to reset the display order of metadata fields in each index segment and also choose to show or hide each field."></button>
                                  </h3>
                                </div>

                                <div class="holder custom_fields_container border">
                                  <table class="table table-hover border-0">
                                    <thead class="border-top-0">
                                    <tr class="">
                                      <th style="width: 80% !important;"><h2>Field Name</h2></th>
                                      <th style="width: 10% !important;"><h2>Display Columns</h2></th>
                                      <th style="width: 10% !important;"><h2>Actions</h2></th>
                                    </tr>
                                    </thead>
                                  </table>
                                  <table class="table border-0" id="sort_facet_fields_table">
                                    <tbody id='index_fields' data-type="index_fields" data-option='index_fields' data-order-custom="sort_order" data-status-columns="display">
                                    <% if @indexes_columns_fields.present? %>
                                      <% @indexes_columns_fields.each_with_index do |(name, props), _index| %>
                                        <% label = props['display_name'] %>

                                        <tr class="<%= name %>" data-field="<%= name %>" data-label="<%= label %>"
                                          data-is-required-field="<%= props['required'] %>">
                                          <td width="80%">
                                            <i class="fa fa-ellipsis-v handle mx-2" style="color: lightgrey;cursor: move;"></i>
                                            <span data-toggle="tooltip" data-placement="top" title="" aria-hidden="true" data-original-title="<%= name %>">
                                              <%= label %>
                                            </span>
                                            <% if props['required'].to_s.to_boolean? %>
                                              <i class="fa fa-asterisk color-grey font-size-8px" data-toggle="tooltip" data-placement="top" title="" aria-hidden="true" data-original-title="This is a required field and cannot be reordered or disabled."></i>
                                            <% end %>
                                            <small class="mt-2 form-text font-size-12px text-muted d-inline">
                                              <%= name %>
                                            </small>

                                          </td>
                                          <td width="10%">
                                            <label class="toggle-switch">
                                              <%= check_box_tag 'display' + name, props['display'], props['display'].to_s.to_boolean?,
                                                disabled: props['required'], class: "display toggle-switch__input template-data-is-facetable template-data-field-is-facetable" %>

                                              <span class="toggle-switch__slider"></span>
                                            </label>
                                          </td>
                                          <td width="10%">
                                            <% if props['vocabulary'].class.name == 'Array' %>
                                              <label class="toggle-switch">
                                                <a href="javascript:void(0)" class="btn btn-sm btn-success text-white edit-index-field" 
                                                  data-url="<%= index_fields_edit_organization_fields_path %>" data-name="<%= name %>">
                                                  Edit
                                                </a>
                                              </label>
                                          <% end %>
                                          </td>
                                        </tr>
                                      <% end %>
                                    <% end %>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="tab-pane fade active " id="organization_thesaurus_content" role="tabpanel" aria-labelledby="organization_thesaurus_content">
                            <div class="row">

                              <div class="col-md-6 "></div>
                              <div class="col-md-6  pt-2 pr-5">
                                <a class="btn btn-primary btn-xs pull-right float-right" href="<%= request.GET["type"].nil? ? new_thesaurus_manager_path : "#{new_thesaurus_manager_path}?type=ohms" %>">Add
                                  New
                                  Thesaurus</a>
                              </div>
                              <div class="col-12 p-5">
                                <div class="data-table custom_fields_container border data-table  mb-4">
                                  <div>
                                    <table class="table table-striped table-bordered" id='thesaurus_list_table' data-url="<%= request.GET["type"].nil? ? datatable_thesaurus_manager_index_path : "#{datatable_thesaurus_manager_index_path}?type=ohms" %>">
                                      <thead>
                                      <tr>
                                        <th style="width: 12% !important;">Title</th>
                                        <th style="width: 16% !important;">Description</th>
                                        <th style="width: 10% !important;"> # of Terms</th>
                                        <th style="width: 16% !important;">Updated by</th>
                                        <th style="width: 16% !important;">Date Updated</th>
                                        <th style="width: 10% !important;"> Assigned Fields</th>
                                        <th style="width: 16% !important;">Actions</th>
                                      </tr>
                                      </thead>
                                      <tbody>

                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>


<div class="modal fade" id="assignment_field_popup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-md modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label> Action</label>
            <select id='assignment_option_custom' placeholder=" Select Collection(s)" class="dont-apply-selectize" data-url="<%= assignment_management_organization_fields_path %>">
              <option value="'">Select option</option>
              <option value="0">Assign field to selected collection(s)</option>
              <option value="1">Remove field from selected collection(s)</option>
            </select>
          </div>
        </div>
        <br/>
        <input type="hidden" id='selected_file'>
        <div class="row">
          <div class="col-12" id='list_of_collections'>
          </div>
        </div>
        
        <br/><br/>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger " href="javascript:void(0)" data-dismiss="modal">Close</a>
        <a class="btn btn-primary " id='assign_field' href="javascript:void(0)" id="">Yes</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update_vocabulary_popup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="d-inline">
              <label class="float-left"> Action</label>
              <a href="javascript:void(0)" id='reset_to_default' class="btn-sm btn-success float-right mb-2 cursor-pointer text-decoration-none d-none">Reset
                to default</a>
            </div>
            <div class="mt-15px">
              <select id='update_vocabulary' data-url="<%= update_information_organization_fields_path %>">
                <option value="0">Overwrite Existing Vocabulary</option>
                <option value="1">Append to Existing Vocabulary</option>
              </select>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-12">
            <label> Vocabulary</label>
            <textarea class="form-control" rows="5" id='new_vocabulary'></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger " href="javascript:void(0)" data-dismiss="modal">Close</a>
        <a class="btn btn-primary " id='update_vocabulary_btn' data-url="<%= update_information_organization_fields_path %>" href="javascript:void(0)">Yes</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="field_listing_theasurus_popup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5"> Assigned Fields</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 field_listing_theasurus_info">
            No information found!
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <a class="btn btn-danger " href="javascript:void(0)" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update_dropdown_option_popup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="d-inline">
              <label class="float-left"> Action</label>
              <a href="javascript:void(0)" id='reset_to_default' class="btn-sm btn-success float-right mb-2 cursor-pointer text-decoration-none d-none">Reset
                to default</a>
            </div>
            <div class="mt-15px">
              <select id='update_dropdown_options' data-url="<%= update_information_organization_fields_path %>">
                <option value="0">Overwrite Existing Dropdown Options</option>
                <option value="1">Append to Existing Dropdown Options</option>
              </select>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-12">
            <label> Dropdown Options</label>
            <textarea class="form-control" rows="5" id='new_update_dropdown_options'></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger " href="javascript:void(0)" data-dismiss="modal">Close</a>
        <a class="btn btn-primary " id='update_dropdown_options_btn' data-url="<%= update_information_organization_fields_path %>" href="javascript:void(0)">Yes</a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="assign_thesaurus_to_fields_popup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5"> Assign thesaurus "<span id='thesaurus_id'></span>" to field</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :anything, url: assignment_management_thesaurus_manager_index_path do |form| %>
          <div class="row">
            <div class="col-12">
              <div class="field-title">
                <label> Action </label>
              </div>
              <select id='assignment_option_custom_thesaurus' name='assignment_option_custom_thesaurus' placeholder=" Select Operation" data-url="<%= assignment_management_thesaurus_manager_index_path %>">
                <option value="'">Select option</option>
                <option value="0">Assign thesaurus to selected field</option>
                <option value="1">Remove thesaurus from selected field</option>
              </select>
            </div>
          </div>
          <input type="hidden" id='selected_file_t' name='selected_file'>
          <% if request.GET["type"].nil? %>
          <div class="row mt-3">
            <div class="col-12">
              <div class="field-title">
                <label> Aviary Resource Metadata Field </label>
              </div>
              <div id='list_of_fields'>
                <select> Select Operation Type </select>
              </div>
            </div>
          </div>
          <div class="row  mt-3">
              <div class="col-12">
                <div class="field-title">
                  <label> Aviary Index Metadata Field <button type="button" class="info-btn" data-toggle="tooltip" data-placement="right" title="Selecting a thesaurus here will apply that thesaurus to that specific metadata field on the Index Editor page for all Aviary indexes."></button></label>
                </div>
                <select id='assignment_option_custom_thesaurus_resource' name='assignment_option_custom_thesaurus_resource' placeholder="" data-url="<%= assignment_management_thesaurus_manager_index_path %>">
                  <option value="">Select option</option>
                  <option value="keywords">Keywords</option>
                  <option value="subjects">Subjects</option>
                </select>
              </div>
            </div>
          <div class="row mt-3">
            <div class="col-12" id='assign_thesaurus_to_vocab_dropdown'>
              <div class="field-title">
                <label> Assign Field to Vocabulary/Dropdown Option </label>
              </div>
              <br/>
              <div class="form-check form-check-inline assign_thesaurus_to_vocab mr-4 ">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="vocabulary">
                <label class="form-check-label pl-1" for="inlineRadio1"> Vocabulary </label>
              </div>
              <div class="form-check form-check-inline assign_thesaurus_to_dropdown" style="display: none;">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="dropdown">
                <label class="form-check-label pl-1" for="inlineRadio2"> Dropdown Option</label>
              </div>
            </div>
          </div>
          <% else %>
            <div class="row  mt-3">
              <div class="col-12">
                <div class="field-title">
                  <label> OHMS Record Metadata Field <button type="button" class="info-btn" data-toggle="tooltip" data-placement="right" title="Selecting a thesaurus here will apply that thesaurus to that metadata field in the OHMS Studio Metadata Editor for all OHMS records."></button></label>
                </div>
                <select id='assignment_option_custom_thesaurus_record' name='assignment_option_custom_thesaurus_record' placeholder="" data-url="<%= assignment_management_thesaurus_manager_index_path %>">
                  <option value="">Select option</option>
                  <option value="keywords">Keywords</option>
                  <option value="subjects">Subjects</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="field-title">
                  <label> OHMS Index Metadata Field 
                  <button type="button" class="info-btn" data-toggle="tooltip" data-placement="right" title="Selecting a thesaurus here will apply that thesaurus to that metadata field in the OHMS Index Editor for all OHMS records, unless overridden at for any particular record when a thesaurus is applied in the OHMS Studio Metadata Editor."></button></label>
                </div>
                <select id='assignment_option_custom_thesaurus_index' name='assignment_option_custom_thesaurus_index' placeholder=" Select Index" data-url="<%= assignment_management_thesaurus_manager_index_path %>">
                  <option value="">Select option</option>
                  <option value="keywords">Keywords</option>
                  <option value="subjects">Subjects</option>
                </select>
              </div>
            </div>
          <% end %>
          <br/>
          <br/>
          <div class="row pt-3 border-top">
            <div class="col-12 text-right">
              <button class="btn btn-primary float-right">Update</button>
              <a class="btn btn-danger float-right mr-3" href="javascript:void(0)" data-dismiss="modal">Close</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div id="custom_fields_popup">

</div>
<%= render 'shared/modal' %>
<script type="text/javascript">

    var organization_fields_management = new OrganizationFieldsManagement();
    var ohms_manager = new ThesaurusManager();
    $(function () {
        organization_fields_management.initialize();
        <% if ENV['OHMS_DEVELOPMENT_ONLY'].to_s == '1' %>
        ohms_manager.initialize();
          $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' })


        <% end %>

        $('.info-btn').popover({
          html: true,
          trigger: "click",
          placement: "top"
        });
    });
</script>