<li class="nav-item" style="width:<%= tab_width %>%">
  <a class="nav-link" id="<%= type %>-tab" data-tab="<%= type %>" data-toggle="tab" href="#<%= type %>" role="tab" aria-controls="<%= type %>"><span class="icon-<%= type.capitalize %>"></span>
    <strong><%= type.capitalize %></strong>
      <span class="badge badge-pill badge-danger d-none <%= type %>_count_tab" >&nbsp;</span>
  </a>
</li>