<% present(single_file) do |presenter| %>
  <% can_access = permission_to_access_file?(single_file) %>
  <% if can_access %>
    <% if presenter.media_type.include?("video") || presenter.embed_type == 0 %>
      <div id="player_section" class="player-section video-placeholder <%= presenter.embed_source %>" data-3d="<%= presenter.is_3d %>" data-h265="<%= presenter.player_type == :jwplayer.to_s %>">
        <div class="video-hold" oncontextmenu="return false;">
          <video id="player" class="video-js" controls playsinline preload="auto" <%= presenter.cross_origin_attr %>  style="width: 100%;" data-cast-title="<%= single_file.file_display_name %>" poster="<%= presenter.video_poster %>">
            <%== presenter.video_source_tag %>
            <%== presenter.tracks %>
          </video>
        </div>
        <div class="title">
          <strong><%= single_file.file_display_name %></strong>
        </div>
      </div>
    <% else %>
      <div class="player-section video-placeholder audio <%= 'audio-player' if is_audio_only %>" id="player_section" oncontextmenu="return false;">
        <div class="audio <%= is_audio_only ? "audio_player" : "video_player" %>">
          <audio id="player" class="video-js" controls playsinline preload="auto" poster="<%= presenter.audio_poster(is_audio_only) %>">
            <%== presenter.audio_source_tag %>
            <%== presenter.tracks unless is_audio_only %>
          </audio>
          <% unless is_audio_only %>
            <div class="title">
              <strong><%= single_file.file_display_name %></strong>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="private-file locked">
      <div class="private_resource_file">
        <img src="<%= presenter.thumbnail.url %>" />
      </div>
      <div class="access_hold feat-reso-locked">
        <div class="holder">
          <div class="box">
            <span class="ico"><%= lock_image %></span>

            <div class="access_request_text_custom">You don't have access.</div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

