<% unless @resource_file.nil? %>
  <% is_audio_only = false %>
  <% present(@resource_file) do |presenter| %>
    <% is_audio_only = @collection_resource.collection.is_audio_only if @collection_resource.present? && presenter.media_type.present? && presenter.media_type.include?('audio') %>
  <% end %>

  <% unless params[:embed] == 'true' %>
    <% share_btn_cls = is_audio_only ? '' : 'dropdown-item' %>
    <div class="shareHolder <%= is_audio_only ? 'audioPlayer' : '' %>">
      <% unless is_audio_only %>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
      <% end %>

      <% can_access = permission_to_access_file?(@resource_file) %>
      <% if can_access %>
        <% if @resource_file.is_downloadable && @resource_file.embed_type.nil? && @resource_file.resource_file_file_name.present? %>
          <form method="get" class="<%= share_btn_cls %>" action="<%= download_media_path(@resource_file.id) %>">
            <button href="" class="btn btn-download-with-icon" title="Download">
              <i class="material-icons">get_app</i> Download
            </button>
          </form>
        <% end %>
      <% end %>
      <button type="button" class="<%= share_btn_cls %> btn share-btn" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="material-icons">reply</i> Share
      </button>
      <% if current_user_is_current_org_user? %>
        <input type="hidden" id="type_of_playlist_view" value="add_to_playlist_view">
        <button type="button" class="<%= share_btn_cls %> btn playlist-btn" data-toggle="modal" data-target="#playlistModalCenter">
          <i class="material-icons">playlist_add</i> Playlist
        </button>
      <% elsif @collection_resource.playlist_resources.present? %>
        <input type="hidden" id="type_of_playlist_view" value="only_playlist_view">
        <button type="button" class="<%= share_btn_cls %> btn playlist-btn" data-toggle="modal" data-target="#resourcePlaylistModel">
          <i class="material-icons playlist_added">playlist_add_check</i> Playlist
        </button>
      <% end %>
      <% unless is_audio_only %>
        <a class="btn" href="<%= iiif_manifest_url(@collection_resource.noid) %>" target="_blank">
          <i class="icon-manifest"></i> Manifest
        </a>
      <% end %>
      <% if current_user_is_current_org_user? %>
        <button class="btn" title="My Resources" data-toggle="modal" data-target="#resourceListModel">
          <i class="material-icons list_added">playlist_add_check</i> My Resources
        </button>
      <% end %>
      </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="shareModal modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl " role="document">
        <div class="modal-content">
          <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link share_tabs active" id="home-tab" data-toggle="tab" data-tabname="share_link_custom" href="#home" role="tab" aria-controls="home" aria-selected="true">Share
                  Link</a>
              </li>
              <% unless @collection.disable_player %>
                <li class="nav-item">
                  <a class="nav-link share_tabs" id="profile-tab" data-toggle="tab" data-tabname="embed_video_custom" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    Embed Current Media File
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link share_tabs" id="contact-tab" data-toggle="tab" data-tabname="embed_resource_custom" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                    Embed Resource Detail Page
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link share_tabs" id="media_player-tab" data-toggle="tab" data-tabname="embed_resource_media_player" href="#media_player" role="tab" aria-controls="media_player" aria-selected="false">
                    Embed Resource Media Player
                  </a>
                </li>
              <% end %>
              <% if current_user_is_org_user?(current_organization) %>
                <li class="nav-item">
                  <a class="nav-link share_tabs" id="public_access_url-tab" data-toggle="tab" data-tabname="public_access_url_custom" href="#public_access" role="tab" aria-controls="public_access" aria-selected="false">Resource Public
                    Access URL</a>
                </li>
              <% end %>
            </ul>
            <% outer_div_style, common_style = iframe_responsive_design %>
            <div class="tab-content custom_form" id="myTabContent">
              <div class="tab-pane fade show active share_link_custom" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="content">
                  <div class="shareLink form-group">
                    <div class="field-title"><label>Share Link</label></div>
                    <input title="Resource Share URL" readonly id="share_link" type="text" class="form-control share_value mb-3" value="<%= noid_url(noid: @collection_resource.noid, host: Utilities::AviaryDomainHandler.subdomain_handler(@collection_resource.collection.organization)) %>"/>
                    <button class="btn btn-primary btn-block copy-link" data-clipboard-action="copy" data-clipboard-target="#share_link">Copy
                    </button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade embed_video_custom" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="content">
                  <div class="embedLink form-group">
                    <div class="field-title"><label>Embed Media File Link</label></div>
                    <textarea readonly class="form-control mb-3 share_value" id="embed_file_url" placeholder="Embed Video"><iframe title="<%=@collection_resource.title %>" src="<%= embeded_url(embed_file_url(@collection_resource), 'embed', @resource_file.id) %>" allow="fullscreen" frameborder="0"></iframe></textarea>
                    <% unless @resource_file.access == 'yes' %>
                      <span class="text-info">This media file is currently private. Accessibility via embed links will be limited to users signed into Aviary as registered users who also have been granted access to the resource.</span>
                    <% end %>
                    <button class="btn btn-primary btn-block copy-link" data-clipboard-action="copy" data-clipboard-target="#embed_file_url" data-original-title="" title="">Copy
                    </button>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade embed_resource_custom" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="content">
                  <div class="embedLink form-group">
                    <div class="field-title"><label>Embed Resource URL Link</label></div>
                    <textarea readonly class="form-control mb-3 share_value" id="embed_resource_url" placeholder="Embed Resource"><div <%= outer_div_style %> ><iframe title="<%=@collection_resource.title %>"  <%= common_style %> src="<%= embeded_url(collection_resource_url(@collection_resource), nil, @resource_file.id) %>" allow="fullscreen" frameborder="0"></iframe></div></textarea>
                    <% unless @collection_resource.access == :access_public.to_s && @collection_resource.collection.is_public %>
                      <span class="text-info">This resource is currently private. Accessibility via embed links will be limited to users signed into Aviary as registered users who also have been granted access to the resource.</span>
                    <% end %>
                    <button class="btn btn-primary btn-block copy-link" data-clipboard-action="copy" data-clipboard-target="#embed_resource_url" data-original-title="" title="">Copy
                    </button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade embed_resource_media_player" id="media_player" role="tabpanel" aria-labelledby="media_player-tab">
                <div class="content">
                  <div class="embedLink form-group">
                    <div class="field-title"><label>Embed Resource Media Player Link</label></div>
                    <textarea readonly class="form-control mb-3 share_value" id="embed_resource_media_player" placeholder="Embed Resource Media Player"><iframe title="<%=@collection_resource.title %>" src="<%= embeded_url(collection_resource_url(@collection_resource), 'media_player', @resource_file.id) %>" allow="fullscreen" frameborder="0"></iframe></textarea>
                    <% unless @collection_resource.access == :access_public.to_s && @collection_resource.collection.is_public %>
                      <span class="text-info">This resource is currently private. Accessibility via embed links will be limited to users signed into Aviary as registered users who also have been granted access to the resource.</span>
                    <% end %>
                    <button class="btn btn-primary btn-block copy-link" data-clipboard-action="copy" data-clipboard-target="#embed_resource_media_player" data-original-title="" title="">Copy
                    </button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade public_access_url_custom" id="public_access" role="tabpanel" aria-labelledby="public_access_url-tab">
                <div class="content">
                  <%= render partial: 'public_access_urls/public_access_form', locals: { collection_resource: @collection_resource, type: 'both' } %>
                </div>
              </div>
              <%= render 'collection_resources/show/share_media_time' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resource_playlists_container" data-url="<%= listing_for_add_to_playlist_path %>" data-listonly="true" data-organizationid="<%= @collection_resource.collection.organization.id %>" data-resourceid="<%= @collection_resource.id %>">
      <div class="shareModal modal fade" id="resourcePlaylistModel" tabindex="-1" role="dialog" aria-labelledby="resourcePlaylistModelCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-md  modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body resource_playlist_container_body ">
              <ul class="nav nav-tabs" id="myTabPlaylist" role="tablist">
                <li class="nav-item">
                  <a class="nav-link share_tabs active" id="home-tab" data-toggle="tab" data-tabname="share_link_custom" href="#home1" role="tab" aria-controls="home" aria-selected="true">
                    Resource Playlist</a>
                </li>
              </ul>
              <%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/ajax-loader.gif", class: 'h-25px ml-48per mt-3 mb-3') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add_to_playlist_container" data-url="<%= listing_for_add_to_playlist_path %>" data-organizationid="<%= @collection_resource.collection.organization.id %>" data-resourceid="<%= @collection_resource.id %>">
      <%= render partial: 'playlists/add_to_playlist_container' %>
    </div>
    <script type="text/javascript">
        var playlist = new Playlist();
        document.addEventListener("DOMContentLoaded", function () {
            playlist.initialize_playlist_detail_page();
        });
    </script>
  <% end %>
<% end %>

<% if current_user.present?
     resource_list = ResourceList.find_by(user_id: current_user.id, resource_id: @collection_resource.id)
%>
  <div class="resource_list_container" id="resource_list_container" data-listonly="true" data-organizationid="<%= @collection_resource.collection.organization.id %>" data-resourceid="<%= @collection_resource.id %>">
    <div class="modal fade" id="resourceListModel" tabindex="-1" role="dialog" aria-labelledby="resourceListModelCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title h3" id="exampleModalLabel">My Resources</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="" class="modal-body">
            <table class="table table-hover table-striped table-bordered">
              <thead>
              <tr>
                <th>ID</th>
                <th>Resource title</th>
                <th>Note</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td id="my_resource_id"><%= @collection_resource.id %></td>
                <td id="my_resource_title"><%= @collection_resource.title %></td>
                <td id="">
                  <textarea class="form-controls" cols="36" id="my_resource_note"><%= resource_list.try(:note) %></textarea>
                  <br/>
                  <%= !resource_list.nil? ? "Previously updated: #{resource_list.try(:updated_at)}" : '' %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            <button onclick="collectionResource.add_my_resource('<%= @collection_resource.id %>', 'my_resource_note', '<%= assign_resources_to_list_catalog_path %>')" type="button" class="btn btn-primary"  data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
