<div class="one-col">
  <div class="row">
    <div class="<%= @inside_playlist ? 'col-lg-12' : 'col-lg-7' %> pr-30px">

      <div class="video-side-list">
        <%= render partial: 'collection_resources/back_to_search' %>
      </div>
      <div class="video-main carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">

            <% if @resource_file.present? %>
              <% is_audio_only = @collection_resource.present? ? @collection_resource.collection.is_audio_only : false  %>
              <%= render partial: 'collection_resources/show/mediaplayer', locals: { single_file: @resource_file , is_audio_only: is_audio_only} %>
            <% end %>
          </div>
        </div>

        <%= render 'collection_resources/show/list_resource_files' %>
      </div>
      <% unless @resource_file.nil? %>
        <%= render layout: 'collection_resources/show/media_carousel' do %>
          <%= render partial: 'collection_resources/show/resource_listing' %>
        <% end %>
      <% end %>
      <%= render 'collection_resources/show/share_link' %>
    </div>

    <div class="<%= @inside_playlist ? 'col-lg-12' : 'col-lg-5' %> video-detail-container">
      <div class="video-detail" id="heading_and_tombstone" data-template-url="<%= collection_collection_resource_load_head_and_tombstone_template_path(@collection, @collection_resource, share: params[:share], access: params[:access]) %>">
      </div>
    </div>
  </div>
  <div style="position: relative;">
    <%
      load_resource_details_url = collection_collection_resource_load_resource_details_template_url(@collection, @collection_resource, @resource_file, share: params[:share], access: params[:access])
      load_resource_details_url = append_param_to_url(params[:keywords], load_resource_details_url)
    %>
    <div class="info_tabs" data-template-url="<%= load_resource_details_url %>" data-search-size="7" data-tabs-size="5">
    </div>
    <div class="loader loader-details">
      <div class="img">
        <div class="hold">
          <%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/ajax-loader.gif") %>
        </div>
      </div>
    </div>
  </div>


</div>

