<div class="modal fade bd-example-modal-lg " id='save_search_form' tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h2 class="font-weight-bold modal-title font-size-18px">Save Search</h2>
      </div>
      <div class="modal-body">
        <form id='save_search_result' action='<%= update ? saved_search_path(saved_search.id) : saved_searches_url %>' method='post' accept-charset="UTF-8" data-remote="true">
          <input type="hidden" name="authenticity_token" value="<%= session['_csrf_token'] %>">
          <div class="form-group">
            <div class="field-title">
              <label for="saved_search[title]">Title</label>
            </div>
            <input class='form-control' name="saved_search[title]" id="saved_search_title" value="<%= update ? saved_search.title : '' %>" >
          </div>
          <div class="form-group">
            <div class="field-title">
              <label for="saved_search[note]" >Note</label>
            </div>
            <textarea class="w-100 text optional request_access_template form-control" maxlength="500" name="saved_search[note]" rows="3" id="saved_search_note" placeholder="You can enter up to 500 characters" ><%= update ? saved_search.note : '' %></textarea>
          </div>
          <input type="hidden" name='saved_search[url]' id="saved_search_url" value="<%= url %>"/>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <% if update %>
              <input type="hidden" name="_method" value="patch">
              <input type='submit' name="commit" value='Update' data-disable-with="Update" class="btn btn-primary"/>
            <% else %>
              <input type='submit' name="commit" value='Save' data-disable-with="Save" class="btn btn-primary"/>
            <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 