<% if from == 'search_page' %>
  <a class="btn-adv advance_option_search  float-right text-white font-size-13px search_information_link <%= from %> <%= classes %>" href="https://confluence.weareavp.com/display/AVIARYSUPP/Search+Syntax+Tips" target="_blank"> Aviary Search Tips</a>
<% else %>
  <a class="question-btn search_information_link <%= from %> <%= classes %>" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Aviary Search Tips" href="https://confluence.weareavp.com/display/AVIARYSUPP/Search+Syntax+Tips" target="_blank">
    <img src="<%= image_path 'icons/question.png' %>" alt="Aviary Search Tips">
  </a>
<% end %>