<% if display_banner %>
  <% if banner_type == 'featured_resources_slider' && banner_slider_resources.present? %>
    <div class="org-home-search">
      <div class="org-banner-slider owl-carousel owl-theme">
        <% banner_files = CollectionResourceFile.where(collection_resource_id: JSON.parse(banner_slider_resources).pluck('id')).where.not(thumbnail_file_name: nil).sample(10) %>
        <% banner_files.each do |single_banner| %>
          <% thumb_url = single_banner.thumbnail.url(:medium) %>
          <% unless thumb_url.present? %>
            <% present(single_banner) do |presenter| %>
              <% thumb_url = presenter.media_type.include?('avalon') || presenter.media_type.include?('video') ? "https://#{ENV['S3_HOST_CDN']}/public/images/video-default.png" : "https://#{ENV['S3_HOST_CDN']}/public/images/audio-default.png" %>
            <% end %>
          <% end %>
          <% if single_banner.collection_resource.present? %>
            <a href="<%= collection_collection_resource_path(single_banner.collection_resource.collection_id, single_banner.collection_resource.id) %>">
              <span><%= image_tag(thumb_url) %></span>
              <div class="text-detail">
                <strong><%= single_banner.collection_resource.title if single_banner.collection_resource.present? %></strong>
                <span class="collection"><%= single_banner.collection_resource.collection.title if single_banner.collection_resource.collection.present? %></span>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
      <div class="search-nav search1cus flex-column">
        <div class="text" style="<%= banner_style %>"><%= banner_title_text %></div>
        <div class="form-group">
          <div class="<%= container_classes %>">
            <%= render_search_bar %>
          </div>
        </div>
      </div>
    </div>


  <% else %>
    <div class="org-visual org-image-visual org-home-search">
      <img src="<%= banner_image.url %>" alt="organization banner">

      <div class="search-nav search1cus flex-column">
        <div class="text" style="<%= banner_style %>"><%= banner_title_text %></div>
        <div class="form-group">
          <div class="<%= container_classes %>">
            <%= render_search_bar %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="org-home-search no-org-banner" style="background-color: <%= panel_color %>">
    <div class="search-nav search1cus flex-column">
      <div class="text" style="<%= banner_style %>"><%= banner_title_text %></div>
      <div class="form-group">
        <div class="<%= container_classes %>">
          <%= render_search_bar %>
        </div>
      </div>
    </div>
  </div>
<% end %>
