<%= render partial: 'home/home_banner', locals: { banner_type: current_organization.banner_type,
                                                  banner_image: current_organization.banner_image,
                                                  banner_slider_resources: current_organization.banner_slider_resources,
                                                  banner_title_text: current_organization.banner_title_text.present? ? current_organization.banner_title_text : current_organization.name ,
                                                  title_font_family: current_organization.title_font_family,
                                                  title_font_size: current_organization.title_font_size,
                                                  title_font_color: current_organization.title_font_color,
                                                  banner_view_from: 'organization'
} %>
<% if request.fullpath == '/aboutus' || (request.fullpath == '/' && current_organization.default_tab_selection == 'about') || current_organization.default_tab_selection.blank? %>
  <div class="container">
    <div class="org-about-panel">
      <p><%== description current_organization.description %></p>
    </div>
  </div>
<% elsif request.fullpath == '/collection' || (request.fullpath == '/' && current_organization.default_tab_selection == 'collections') %>
  <div class="all-resources container home-index-view">
    <div id="collections_home" data-path="<%= get_collections_path %>">
    </div>
  </div>
<% elsif request.fullpath == '/playlist' || (request.fullpath == '/' && current_organization.default_tab_selection == 'playlists') %>
  <div class="all-resources container home-index-view">
    <div id="playlists_home" data-path="<%= get_playlists_path %>">
    </div>
  </div>
<% end %>

<br/>
<div class="modal fade collection-detail-modal" id="detailDisplayModal" tabindex="-1" role="dialog" aria-labelledby="detailDisplayModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="image-holder collection_image_holder d-none" style="">
            </div>
            <div class="details">
              <div class="org-icon">
                <div class="hold">
                  <img class="collection-org-logo" src="">
                </div>
              </div>
              <div class="text">
                <strong><a style="color: #333;" target="_blank" class="collection_collection_title" href=""></a></strong>
                <span class="collection_org_title"></span>
              </div>
              <a href="#" target="_blank" class="btn-link collection_search_collection">Browse</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="list list-collection-info">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% track_params = params.clone.except('controller').except('action').to_json %>
<script type="text/javascript">

    let params = {
        target_id: '',
        params: '<%=track_params %>',
        ip: '<%=request.remote_ip %>',
        organization_id: '<%= current_organization.present? ? current_organization.id : '' %>',
        user_type: '<%= role_type(current_user, current_organization) %>'
    };
    let events_tracker = new EventsTracker(params);
    $(function () {
        setTimeout(function () {
            events_tracker.track_hit('organization', '<%= current_organization.id %>');
        }, 500);
    });
    let colelction_resources = new CollectionResource();
    let homePage = new HomePage();
    document.addEventListener("DOMContentLoaded", function (event) {
        homePage.orgInitialize();
        colelction_resources.loadCollectionwiseResources();
    });
</script>
