<div class="contact-page">
  <div class="head">
    <div class="container">
      <h1>
        <% title 'Contact Us' %>Tell us about your Aviary experience!</h1>
    </div>
  </div>
  <div class="text">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="holder">
            <div class="img-holder">
              <img src="https://<%= ENV['S3_HOST_CDN'] %>/public/contact-us.png" alt="">
            </div>
            <h2>Get in Touch with<br> the Aviary Team</h2>
            <p><%= description 'If you have a specific question about Aviary, or if you want to reach out with suggestions and/or concerns, we want to hear from you!' %></p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form custom_form">
            <%= simple_form_for @support_request, url: submit_request_path do |form| %>
              <%= form.input :request_type, as: :hidden, input_html: { value: :contact_us } %>
              <div class="form-group">
                <div class="field-title"><%= form.label :name, 'Name' %></div>
                <%= form.text_field :name, class: 'form-control', placeholder: 'Enter your name' %>
                <%= form.error :name %>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="field-title"><%= form.label :organization, 'Organization' %></div>
                    <%= form.text_field :organization, class: 'form-control', placeholder: 'Enter name of the Organization' %>
                    <%= form.error :organization %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="field-title"><%= form.label :email, 'Email' %></div>
                    <%= form.text_field :email, class: 'form-control', placeholder: 'Enter your email' %>
                    <%= form.error :email %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="field-title"><%= form.label :message, 'Message' %></div>
                <%= form.text_area :message, class: 'form-control', placeholder: 'Enter your message here' %>
                <%= form.error :message %>
              </div>
              <div class="form-group">
                <% if @show_checkbox_recaptcha %>
                  <%= recaptcha_tags site_key: ENV['RECAPTCHA_SITE_KEY_V2'] %>
                <% else %>
                  <%= recaptcha_v3(action: 'contact_us') %>
                <% end %>
              </div>
              <%= invisible_captcha :geolocation, :support %>
              <input type="hidden" value="<%= request.original_url %>" name="site_url"/>
              <%= form.submit 'Submit', class: 'btn btn-primary ' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        // resetRecaptcha('contact_us');
    });
</script>
