<div class="features">
	<div class="head">
		<div class="container">
			<h1>Aviary <%= title 'Features' %></h1>
      <% description 'Discover what Aviary can do for your audiovisual content! Features includes Multi-tenant, Dynamic Search and Display, Granular Access Management,
      Localized Search, Content Location Flexibility, Customizable Design, Out-of-the-box Integrations, Custom Integrations and more.' %>
			<p>Discover what Aviary can do for your audiovisual content! <br> Here are few highlights:</p>
		</div>
	</div>
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="img-holder">
						<%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/large/2.png") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text">
						<h1>Dynamic Search and Display.</h1>
						<p>Improved discovery and navigation of metadata and audiovisual content through multiple and synchronized time-coded indexes, captions, transcripts, transcript annotations, and supplemental image or pdf files.</p>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text">
						<h1>Granular Access Management</h1>
						<p>Manage access to your content through specific permissions for user(s), IP addresses or ranges, and/or email domains.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-holder">
						<%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/large/3.png") %>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="img-holder">
						<%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/large/4.png") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text">
						<h1>Localized Search</h1>
						<p>Search across all organizations, or within a single organization, collection, or content item.</p>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text">
						<h1>Content Location Flexibility</h1>
						<p>Ability to use content streamed on existing online platforms or by uploading audiovisual content directly to Aviary.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-holder custom">
						<%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/large/5.png") %>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="img-holder">
						<%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/large/6.png") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text">
						<h1>Customizable Design</h1>
						<p>Custom headers, footers, and sub-domains for seamless integration into your own website.</p>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text">
						<h1>Out-of-the-box Integrations</h1>
						<p>Integrates with SAML 2.0 SSO, OHMS, Trint, IBM Watson, Archivematica, Vimeo, YouTube, Avalon, and your local media streaming service.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-holder">
						<%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/large/7.png") %>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="img-holder">
						<%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/large/1.png") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text">
						<h1>Multi-tenant</h1>
						<p>Enhanced discoverability - connect your collections with users and other organizations and collections.</p>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text">
						<h1>Custom Integrations</h1>
						<p>Custom integrations supported for ArchivesSpace, Preservica, Internet Archive, ExLibris Alma, CONTENTdm, and other systems (ask for more information about custom integrations).</p>
           				<a class="btn btn-primary mt-20px" href="<%= contact_us_path %>" role="button">Contact Us</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-holder">
						<%= image_tag("https://#{ENV['S3_HOST_CDN']}/public/images/large/8.png") %>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>