<div class="col-md-12 pr-0">
  <% if (can? :edit, @collection_resource) && !params[:from_playlist].to_s.to_boolean? %>
    <% load_resource_description_form_url = collection_collection_resource_load_resource_description_form_url(@collection, @collection_resource, @resource_file, share: params[:share], access: params[:access])
       load_resource_description_form_url = append_param_to_url(params[:keywords], load_resource_description_form_url) %>
    <a class="edit_fields" href="javascript:void(0)" data-url="<%= load_resource_description_form_url %>">
      <span class="icon-Edit">
        <img src="<%= image_path 'icons/edit-icon.png' %>">
      </span>
    </a>
  <% end %>
  <% if @collection_resource.present? %>
    <section class="form-common mCustomScrollbar mCustomScrollbar_description">
      <% @resource_columns_collection.each_with_index do |(system_name, single_collection_field), _index| %>
        <% next if single_collection_field['field_configuration'].present? && single_collection_field['field_configuration']['special_purpose'].present? && single_collection_field['field_configuration']['special_purpose'].to_s.to_boolean? %>
        <% next if @resource_fields_settings.blank? || @resource_fields_settings[system_name].blank? || system_name.blank? %>
        <% field_settings = Aviary::FieldManagement::FieldManager.new(@resource_fields_settings[system_name], system_name)  %>
        <% label = field_settings.label  %>
        <% next if label == 'Title' %>

        <% if field_settings.should_display_on_detail_page && single_collection_field['status'].to_s.to_boolean? && @resource_description_value.present? %>
          <% resource_field_values = @resource_description_value.resource_field_values %>
          <% if resource_field_values.present? && resource_field_values[system_name].present? && resource_field_values[system_name].length > 0 && resource_field_values[system_name]['values'].present? %>
            <dt data-toggle="tooltip" data-placement="top" data-html="true" title="<%= field_settings.help_text %>"><%= label %>:</dt>
            <dd class="with-select">
              <%= render partial: 'collection_resources/fields_partail_view', locals: { field_settings: field_settings, system_name: system_name, field: single_collection_field, values:  resource_field_values[system_name]} %>
            </dd>
            <div class="clearfix"></div>
          <% end %>
        <% end %>
      <% end %>
    </section>
  <% end %>
</div>

