<div class="col-12 parent_of_each_row">
  <div class="row">

    <% if single_field['field'].is_vocabulary %>
      <div class="col-md-6">
        <div class="form-group">
          <%= select_tag "collection_resource[collection_resource_field_values][][vocabularies_id]", options_for_select(JSON.parse(single_field['field'].vocabulary), selected: single_value['vocab_value'].present? ? single_value['vocab_value'] : ''), { :class => "select_option #{type_for_view}", :include_blank => true } %>
        </div>
      </div>
    <% else %>
      <%= hidden_field_tag("collection_resource[collection_resource_field_values][][vocabularies_id]", '') %>
    <% end %>

    <% class_length = single_field['field'].is_vocabulary ? 'col-md-6' : 'col-md-12'
       class_length = single_field['field'].column_type == 6 ? 'col-md-12' : class_length %>
    <div class="<%= class_length %> ">
      <div class="form-group">
        <% if single_field['field'].label == 'language' %>
          <select name="collection_resource[collection_resource_field_values][][value]" id="collection_resource_collection_resource_field_values__value_" tabindex="-1" class="selectized">
            <option value="">Select Language</option>
            <%
              languages_array_simple[0].each_with_index do |value, index| %>
              <option value="<%= value.first %>" <%= single_value["value"].present? && single_value["value"] == value.first ? 'selected="selected"' : '' %>> <%= value.second %></option>
            <% end %>
          </select>
        <% else %>
          <%= render partial: 'collection_resources/fields_type_for_form', locals: { single_field: single_field, single_value: single_value, type_for_view: type_for_view } %>
        <% end %>
        <%= hidden_field_tag("collection_resource[collection_resource_field_values][][collection_resource_field_id]", single_field['field'].id) %>
        <%= hidden_field_tag("collection_resource[collection_resource_field_values][][collection_resource_id]", @collection_resource.id) %>
        </div>
        <span class="badge badge-danger remove-field float-right mt-1 mb-1 "> Remove </span>
        </div>
        </div>
        </div>