<div class="modal fade manage-resource-column-modal" data-url="<%= update_resource_column_sort_path(organization_id) %>" id="manage_resource_columns_modal" tabindex="-1" role="dialog" aria-labelledby="ipPopupLabel" aria-hidden="true">
  <div class="modal-lg modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5">Manage Table </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-main" id='update_sort_information' data-url="<%= update_information_organization_fields_path %>">

          <ul class="nav nav-tabs " id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Manage
                Table Display Columns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                Manage Table Search Columns</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="field-title"><label class="font-weight-bold mt-10px"> Number of fixed columns</label>
                    </div>
                    <select class="number_of_column_fixed" id="number_of_column_fixed">
                      <% (0..2).each do |i| %>
                        <option <%= @fixed_columns.to_s == i.to_s ? 'selected="selected"' : '' %> ><%= i %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h2 class="mt-2 font-weight-bold font-size-16px"> Search Fields Status:
                    <span class="btn btn-light font-size-13px mb-5px float-right font-weight-bold uncheck_all_fields " data-search-status="false" data-search-field="all_fields_identifier" id="uncheck_all_fields"> Disable all</span>
                    <span class="btn btn-light mb-5px float-right mr-5px font-size-13px font-weight-bold check_all_fields" data-search-status="true" data-search-field="all_fields_identifier" id="check_all_fields">Enable all</span>
                  </h2>
                  <ul id="sortable_resource_columns" class="list-group w-100" style="max-height: 400px;overflow-y: scroll;">
                    <% if @resource_fields.present? %>
                      <% @resource_fields.each_with_index do |(system_name, single_collection_field), _index| %>
                        <% global_status = @resource_fields[system_name]['description_display'].to_s.to_boolean? %>
                        <% if single_collection_field['field_configuration'].present? && single_collection_field['field_configuration']['special_purpose'].present? && boolean_value(single_collection_field['field_configuration']['special_purpose'])
                             global_status = true
                           end %>
                        <% next unless global_status %>

                        <% label = single_collection_field['label']
                           label += ' *' if single_collection_field['is_default'].to_s.to_boolean? %>
                        <% resource_table_display = single_collection_field['resource_table_display'] %>

                        <li id="<%= system_name %>" class="sortable-li">
                          <i class="fa fa-ellipsis-v text-muted handle pr-10px pl-10px"></i>
                          <div class="form-check m-0 d-inline-block">
                            <label for="<%= system_name %>_status">
                              <input id="<%= system_name %>_status" class=" all_fields_identifier ml-5px" type="checkbox" <%= resource_table_display.to_s.to_boolean? ? 'checked' : '' %>/>
                              <%= display_field_title_table(label) %><span class="icon-check"></span></label>
                          </div>
                          <th></th>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <div class="col-12">
                  <h1 class="mt-4 font-weight-bold font-size-16px"> Search Fields Status:
                    <span class="btn btn-light font-size-13px mb-5px float-right font-weight-bold uncheck_all_fields" data-search-status="false" data-search-field="all_fields_search_identifier" id="uncheck_all_fields"> Disable all</span>
                    <span class="btn btn-light mb-5px float-right mr-5px font-size-13px font-weight-bold check_all_fields" data-search-status="true" data-search-field="all_fields_search_identifier" id="check_all_fields">Enable all</span>
                  </h1>
                  <% if @resource_fields.present? %>
                    <ul id="resource_search_columns" class="list-group w-100" style="max-height: 400px;overflow-y: scroll;">
                      <% @resource_fields.each_with_index do |(system_name, single_collection_field), _index| %>
                        <% global_status = @resource_fields[system_name]['description_display'].to_s.to_boolean? %>
                        <% if single_collection_field['field_configuration'].present? && single_collection_field['field_configuration']['special_purpose'].present? && boolean_value(single_collection_field['field_configuration']['special_purpose'])
                             global_status = true
                           end %>
                        <% next unless global_status %>
                        <% visible_at = nil
                           visible_at = @resource_fields[system_name]['field_configuration']['visible_at'] if @resource_fields[system_name]['field_configuration'].present? && @resource_fields[system_name]['field_configuration']['special_purpose'].present? && @resource_fields[system_name]['field_configuration']['special_purpose'].to_s.to_boolean? %>
                        <% if visible_at.nil? || visible_at.include?('resource_search') %>
                          <% label = single_collection_field['label']
                             label += ' *' if single_collection_field['is_default'].to_s.to_boolean? %>
                          <% resource_table_search = single_collection_field['resource_table_search'] %>
                          <li id="<%= system_name %>" class="sortable-li">
                            <div class="form-check m-0 d-inline-block">
                              <label>
                                <input id="<%= system_name %>" data-value='<%= system_name %>' class=" all_fields_search_identifier ml-5px" type="checkbox" <%= resource_table_search.to_s.to_boolean? ? 'checked' : '' %>/>
                                <%= !%w(index transcript).include?(label) ? display_field_title_table(label) : label.titleize %>
                                <span class="icon-check"></span>
                              </label>
                            </div>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer" id="modalPopupFooter">
        <a href="javascript://" class="btn btn-primary" id="update_column_status">Update</a>
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
