<div class="row">
  <div class="col-md-12">
    <div class="text-headline jumbotron mb-3">
      <h3>Uploaded Media Files</h3>
    </div>
    <div class="files-hold">
      <div id="filesUploaded" class="files"  data-resourceid="<%= @collection_resource.id %>">
        <ul id="sort_resource_files" data-path="<%= collection_collection_resource_resource_file_sort_path(@collection, @collection_resource) %>">
          <% resource_files.each_with_index do |file, index| %>
            <li class="sortable-li">
              <div class="drag_handle_video">
                <i class="fa fa-ellipsis-v handle pr-10px pl-20px ui-sortable-handle"></i>
                <% thumb_url = file.thumbnail.url(:small) %>
                <% unless thumb_url.present? %>
                  <% present(file) do |presenter| %>
                    <% thumb_url = presenter.media_type.include?('avalon') || presenter.media_type.include?('video') ? "https://#{ENV['S3_HOST_CDN']}/public/images/video-default.png" : "https://#{ENV['S3_HOST_CDN']}/public/images/audio-default.png" %>
                  <% end %>
                <% end %>
                <span><%= image_tag(thumb_url, style: 'width:40px;height:39px;object-fit:cover;') %></span>
              </div>
              <div class="video_name">
                <%= hidden_field_tag "resource_file_sort[#{file.id}][sort_order]", file.sort_order, class: "sort-order-field", data: { id: file.id } %>
                <%= index + 1 %>-
                <span data-bip-type="input" data-bip-attribute="title" data-bip-object="collection_resource" data-bip-original-content="<%= file.file_display_name %>"
                      data-bip-skip-blur="false" data-bip-url="<%= collection_collection_resource_update_file_name_path(collection_id: @collection_resource.collection.id, id: @collection_resource.id, collection_resource_file_id: file.id) %>" data-bip-value="<%= @collection_resource.title %>"
                      class="best_in_place" id="best_in_place_av_resource_2_title" method="PUT"><%= file.file_display_name %></span>
                <i class="fa fa-pencil edit_title ml-2"></i>
              </div>
              <div class="remove_video">
                <a href="javascript://" class="btn btn-outline-primary manage-media manage-media-thumbnail text-white"
                data-display_name="<%= file.resource_file_file_name %>" data-embeded_type="<%=CollectionResourceFile.embed_type_name(file.embed_type)%>"
                data-embeded_url="<%=file.embed_code%>" data-url="<%= collection_collection_resource_update_thumbnail_path(collection, @collection_resource, collection_resource_file_id: file.id) %>"
                data-remove-url="<%= collection_resource_file_media_thumbnail_remove_path(file.id) %>" data-file-id="<%= file.id %>" data-sort="<%= file.sort_order %>"
                data-file-status="<%= file.access %>" data-file-downloadable="<%= file.is_downloadable %>" data-file-download_enabled_for="<%= file.download_enabled_for %>"
                data-file-downloadable_till="<%= file.downloadable_duration %>" data-3d="<%= file.is_3d %>" data-is_cc_on="<%= file.is_cc_on %>">
                Manage Media </a>
                <%= link_to collection_collection_resource_delete_resource_file_path(@collection, @collection_resource, file), class: "btn btn-light delete-resource-file", style: "float: right;" do %>
                  Remove
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>
<div class="modal fade manage-media-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="font-weight-bold modal-title" style="font-size: 21px;">Manage Media File</h1>
      </div>
      <div class="modal-body">
        <ul class="manage-media-main-tab nav nav-tabs">
          <li class="nav-item width_33">
            <a class="nav-link active" href="#tab-one" data-toggle="tab" role="tab" aria-controls="t1" aria-selected="true">Update
              Media File</a>
          </li>
          <li class="nav-item width_33">
            <a class="nav-link " data-toggle="tab" href="#tab-two" role="tab" aria-controls="t2" aria-selected="true">Manage
              Media Info</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-one">
            <%= render partial: "resource_files_tabs", locals: { collection: @collection, tab: '_edit', multiple: false, browse_file_name: 'av_resource[resource_files]', file_class: 'fileuploadTab form-control', append_file_class: 'filesTab', progress: 'tab-progress-bar', button_title: 'Update', close_class: '' } %>
          </div>
          <div class="tab-pane fade" id="tab-two">
            <%= form_for :collection_resource_file, url: '', method: :post, html: { class: "single-file-upload-form-thumbnail" } do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="text-headline jumbotron my-2">
                    <h3>Set Thumbnail</h3>
                    <p>Select Thumbnail files to upload from your local
                      environment.</p>
                  </div>
                  <div id="show-thumbnail-image" class="show-thumbnail-image-container">
                  </div>
                </div>
                -<div class="col-md-6" id="embeded-information">


                </div>
                <div class="col-md-12">
                  
                  <div class="form-group">
                    <div class="field-title"><label>Select Media</label></div>
                    <%= f.file_field :thumbnail, accept: '.jpeg,.png,.jpg', multiple: false, class: 'form-control', data: { url: '' } %>
                  </div>
                  <small class="font-size-12px text-muted mt-10px">Supported formats for thumbnail are: png, jpg, jpeg</small>
                </div>
                <div class="col-md-12">
                  <div class="row custom_form">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="field-title"><label>Public?</label></div>
                        <%= f.select :access, CollectionResourceFile.accesses.map { |key, _| [key.humanize, key] }, {}, required: false, label: false, class: 'custom-placeholder file-status-custom' %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="field-title"><label>Turn on CC?
                          <button type="button" class="info-btn" data-content="When this is enabled, media that has closed captions will play with the closed captions turned on by default when a user plays the media file."></button>
                        </label></div>
                        <%= f.select :is_cc_on, [['Yes', true], ['No', false]], {}, required: false, label: false, class: 'custom-placeholder file-download-custom' %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="field-title"><label>Downloadable?</label></div>
                        <%= f.select :is_downloadable, [['Yes', true], ['No', false]], {}, required: false, label: false, class: 'custom-placeholder file-download-custom' %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="field-title"><label>360 Video?</label></div>
                        <%= f.select :is_3d, [['Yes', true], ['No', false]], {}, required: false, label: false, class: 'custom-placeholder' %>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-12 d-none custom_form" id='downloadable_duration'>
                  <div class="form-group">
                    <div class="field-title">Set a duration to assign to the
                      downloadable status (Optional)</div>
                    <%= f.select "download_enabled_for", [['Hours', 'hour'], ['Days', 'day'], ['Date', 'date']], { include_blank: true }, required: false, label: false, class: 'custom-placeholder' %>
                  </div>
                  <div class="">
                    <%= f.text_field "downloadable_till", required: false, label: false, class: 'form-control' %>
                  </div>
                  <br/>
                  <small class="form-text text-muted">Enable download media file for hours/days or until a specified
                    date.</small>
                </div>

              </div>
              <div class="bottom">
                <button type="button" class="btn btn-light mt-20px float-right manage-media-modal-close-button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary mr-10px mt-20px float-right"> Update</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
