<ul class="nav nav-tabs" id="addResourceFilesTab" role="tablist">

  <li class="nav-item">
    <a class="nav-link active show" id="embed_code_tab" data-toggle="tab" href="#embed_code<%= tab %>" role="tab" aria-controls="embed_code" aria-selected="false">Embed
      Code
    </a>
  </li>
</ul>
<div class="tab-content" id="addResourceFilesContent">
  <div class="tab-pane fade active show" id="embed_code<%= tab %>" role="tabpanel" aria-labelledby="embed_code_tab">
    <%= form_for @collection_resource, url: collection_collection_resource_save_resource_file_path(collection, @collection_resource), method: :post, html: { class: "" } do |f| %>
      <div class="text-headline jumbotron my-3">
        <h3>Embed Code</h3>
        <p>It is possible to embed or stream files from Avalon, SoundCloud, Vimeo, YouTube, or a local media server.
          Select the "Embed Type" and provide the necessary embed code below. For local media server streaming, please
          provide a direct URL to the media file.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="field-title">
              <label>Embed Type:</label>
            </div>
            <%= f.select :embed_type, options_for_select(CollectionResourceFile::PlayerType.for_select), class: 'collection_resource_embed_type' %>
          </div>
        </div>
        <div class="col-md-6 only-avalon">
          <div class="form-group">
            <div class="field-title">
              <label>Target Domain:</label>
            </div>
            <%= f.text_field :target_domain, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6 player-checking">
          <div class="form-group video_embed_player"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="field-title">
              <label>Embed <span id="embed_code_text">Code</span>:</label>
            </div>
            <span class="field_embed_code input-group">

              </span>
          </div>
        </div>
      </div>
      <div id="other-info-holder" class="row">
      </div>
      <%= f.hidden_field :resource_file_id, class: 'resource-file-id' %>
      <%= f.hidden_field :sort_order, class: 'resource-file-sort-order' %>
      <div class="form-group row">
        <div class="col-md-12 mt-4">
          <div class="bottom">
            <button type="button" class="btn btn-light closeuploadandcontinue float-right <%= close_class %>" data-dismiss="modal">Close</button>
            <button class="btn btn-primary upload-and-continue float-right mr-2 2"><%= button_title %></button>
          </div>
        </div>
      </div>
    <% end %>
    <span class="field_embed_code_parent_text d-none">
      <textarea class="form-control" rows="3" required="required" name="collection_resource[embed_code]" id="collection_resource_embed_code_text"></textarea>
    </span>
    <span class="field_embed_code_parent_input d-none">
      <input type="text" class="form-control" name="collection_resource[embed_code]" id="collection_resource_embed_code">
      <div class="input-group-append align-items-stretch" id="button-addon4">
        <a class="btn btn-outline-primary d-flex align-items-center check_embed_button check_embed_buttons"> Check embed Link </a>
        <a class="btn btn-outline-primary d-flex align-items-center check_embed_clear check_embed_buttons"> Clear </a>
      </div>
    </span>
    <div id="other-info" style="display: none;">
      <div class="col-md-6">
        <div class="form-group">
          <div class="field-title">
            <label>Title</label>
          </div>
          <input type="text" class="form-control" name="collection_resource[title]">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="field-title">
            <label>Duration<span class="red">*</span></label>
          </div>
          <input type="text" maxlength="8" class="form-control media-duration" pattern='^(?!00:00:00$).*' placeholder="00:00:00" required="required">
          <input type="hidden" class="collection-resource-file-duration" name="collection_resource[duration]" required="required"/>
        </div>
      </div>
    </div>
  </div>
</div>
