<% player_height = params[:embed] == 'true' && params[:media_player] == 'true' ? 86 : 100 %>
<style type="text/css">
  .two-col .col-lg-7:first-child:after,
  .one-col .col-lg-7:first-child:after {
    display: none;
  }

  .one-col > .row:first-child {
    border: none;
  }

  .video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3 {
      height: <%= player_height %>vh !important;
      width: 100vw !important;
      padding: 0 !important;
  }
  
  .video-placeholder .title {
      padding: 20px 30px 20px;
  }

</style>
<main id="main" role="main">
  <div>
    <div class="video-main carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <% if @resource_file.present? %>
            <% is_audio_only = @collection_resource.present? ? @collection_resource.collection.is_audio_only : false  %>
            <%= render partial: 'collection_resources/show/mediaplayer', locals: {single_file: @resource_file, is_audio_only: is_audio_only} %>
          <% end %>
        </div>
      </div>
    </div>
    <% if params["media_player"].to_s.to_boolean? %>
      <% unless @resource_file.nil? %>
        <%= render layout: 'collection_resources/show/media_carousel' do %>
          <%= render partial: 'collection_resources/show/resource_listing' %>
        <% end %>
      <% end %>
    <% end %>
    <%= render 'collection_resources/show/share_link' %>
  </div>
</main>
<script type="text/javascript">
    var collectionResource = new CollectionResource();
    collectionResource.player_time = <%= params['t'].present? ? params['t'] : 0 %>;
    collectionResource.end_time = <%= params['e'].present? ? params['e'] : 0 %>;
    collectionResource.auto_play = <%= params['auto_play'].present? ? params['auto_play'].to_s.to_boolean? : 0 %>;
    document.addEventListener("DOMContentLoaded", function (event) {
        setTimeout(function () {
            collectionResource.player_time = <%= params['t'].present? ? params['t'] : 0 %>;
            collectionResource.initializePlayer();
        }, 500);
    });
</script>