<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder table-head">
          <div class="row">
            <div class="col-md-6"><h1>Add Resource</h1></div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>

      <%= form_for @collection_resource do |f| %>
        <div class="data-table ">
          <div class="details">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="field-title">
                    <label for="admin_user_roles">Collection</label>
                  </div>
                  <%= f.collection_select :collection_id, @collections, :id, :title, selected: params[:id] %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="field-title">
                    <label for="">Display Title</label>
                  </div>
                  <%= f.text_field :title, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="field-title">
                    <%= f.label 'Featured ?', for: 'collection_resource_featured' %>
                  </div>
                  <%= f.select :is_featured, [['Yes', true], ['No', false]], {}, required: false, label: false, class: 'custom-placeholder' %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="field-title">
                    <%= f.label 'Access', for: 'collection_resource_public' %>
                  </div>
                  <%= f.select :access, CollectionResource.accesses.map { |key, value| 
                  if key == 'access_restricted'
                    [key.split('_').second.humanize + ' - Public and logged-in users will see “Request Access” button', key]
                  elsif key == 'access_public'
                    [key.split('_').second.humanize + ' - Visible to all', key]
                  else
                    [key.split('_').second.humanize + ' - Only organization users and those granted direct access will see these resources', key]
                  end
                  }, {}, required: false, label: false, class: 'custom-placeholder' %>
                </div>
              </div>
            </div>




            <div class="row">
              <div class="col-md-12 text-right">
                <button class="btn btn-primary ml-2 saveBtnCus">Save</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </main>
  </div>
</div>
