<% title @collection_resource.title %>
<% description @description_seo['value'].strip_tags if @description_seo.present? %>

<main id="main" role="main">
  <div class="search-detail-main container-fluid">
    <!-- we don't need annotation view -->
    <% if false || session[:view_type] == 'detail' %>
      <%= render 'collection_resources/show/show' %>
    <% else %>
      <%= render 'collection_resources/show/show_annotation' %>
    <% end %>
  </div>
</main>
<% if @resource_file.present? %>
  <% if (can? :manage, @collection_resource) || @collection_resource.can_edit %>
    <%= render 'indexes/upload_index' %>
    <%= render 'indexes/sort_index' %>
    <%= render 'transcripts/upload_transcript' %>
    <%= render 'transcripts/sort_transcript' %>
  <% end %>
  <% if current_user.present? && current_user.current_org_owner_admin(current_organization).present? %>
    <%= render 'transcriptions/request_transcript' %>
  <% end %>
<% end %>
<% track_params = params.clone.except('controller').except('action').to_json %>
<%= render 'request_accesses/shared_request_modal' %>
<% can_access = permission_to_access_file?(@resource_file) %>
<div id="dynamic_section"></div>
<script type="text/javascript">
    var collectionResource = new CollectionResource();
    collectionResource.player_time = <%= params['t'].present? ? params['t'] : 0 %>;
    let params = {
        target_id: '',
        params: '<%=track_params %>',
        ip: '<%=request.remote_ip %>',
        organization_id: '<%=@collection_resource.collection.organization_id %>',
        user_type: '<%= role_type(current_user, current_organization) %>'
    };
    var events_tracker = new EventsTracker(params);
    collectionResource.events_tracker = events_tracker;
    collectionResource.file_access = <%= can_access %>;

    collectionResource.index_page_wise_count = JSON.parse('<%== @index_count && @index_count[:page_wise].present? ? @index_count[:page_wise][:index].to_h.to_json : '{}' %>');
    collectionResource.transcript_page_wise_count = JSON.parse('<%== @transcript_count && @transcript_count[:page_wise].present? ? @transcript_count[:page_wise][:transcript].to_h.to_json : '{}' %>');

    collectionResource.index_hits_count = JSON.parse('<%== @index_count && @index_count[:hits].present? ? @index_count[:hits].to_h.to_json : '{}' %>');
    collectionResource.transcript_hits_count = JSON.parse('<%== @transcript_count && @transcript_count[:hits].present? ? @transcript_count[:hits].to_h.to_json : '{}' %>');

    collectionResource.index_time_wise_page = JSON.parse('<%== @index_time_wise.present? ? @index_time_wise.to_h.to_json : '{}' %>');
    collectionResource.transcript_time_wise_page = JSON.parse('<%== @transcript_time_wise.present? ? @transcript_time_wise.to_h.to_json : '{}' %>');

    collectionResource.total_index_wise = JSON.parse('<%== @index_count && @index_count[:total_index_wise].present? ? @index_count[:total_index_wise].to_h.to_json : '{}' %>');
    collectionResource.total_transcript_wise = JSON.parse('<%== @transcript_count && @transcript_count[:total_transcript_wise].present? ? @transcript_count[:total_transcript_wise].to_h.to_json : '{}' %>');

    collectionResource.index_file_count = '<%= @resource_file.file_indexes.count > 0  ? @resource_file.file_indexes.count : 0  %>';
    collectionResource.transcript_file_count = '<%= @resource_file.file_transcripts.count  > 0 ? @resource_file.file_transcripts.count : 0  %>';

    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            collectionResource.events_tracker.views_track = JSON.parse('<%== session[:resource_tracking].present? ? session[:resource_tracking].clone.to_enum.to_h.to_json : '{}' %>');
            let params = {
                target_id: '',
                params: '<%=track_params %>',
                ip: '<%=request.remote_ip %>',
                organization_id: '<%=@collection_resource.collection.organization_id %>',
                user_type: '<%= role_type(current_user, current_organization) %>'
            };
            collectionResource.initializeDetail('<%= session[:session_video_text_all].present? ? session[:session_video_text_all].to_json.html_safe : '{}' %>', <%= @selected_index.present? ? @selected_index: 0 %>, <%= @selected_transcript.present? ? @selected_transcript : 0 %>, <%= params[:edit_description].present? ? params[:edit_description] : 0 %>, '<%= params[:embed] %>', <%= @resource_file.present? ? @resource_file.id : '0' %>, params);
            <% if params.key?(:collection_resource_id) %>
            collectionResource.events_tracker.track_hit('collection_resource', '<%= params[:collection_resource_id]%>');
            <% end %>

            <% if @resource_file.present? %>
            collectionResource.events_tracker.track_hit('collection_resource_file', '<%=  @resource_file.id %>');
            $('#player').bind('playing', function () {
                collectionResource.events_tracker.track_hit('collection_resource_file_play', '<%=  @resource_file.id %>');
            });
            <% end %>
        }, 500);
    });
</script>