<% collection_resource = collection_resource(document['id_is']) %>
<%
  if collection_resource.present? %>
  <% can_access = (can? :read, collection_resource) || collection_resource.can_view || collection_resource.can_edit || (can? :edit, collection_resource.collection.organization) %>
  <% document_organization = solr_organization(document['organization_id_is'])
     document_collection = solr_collection(document['collection_id_is'])
     collection = document_collection.present? ? document_collection.second : nil
  %>
  <li class="<%= can_access ? '' : 'locked' %>">
    <% if current_organization.present? && current_user_is_org_user?(document_organization) %>
      <input type="checkbox" class="bulk_add_to_playlist" data-id="<%= collection_resource.id %>" <%= session['search_playlist_id'].present? && session['search_playlist_id'].include?(collection_resource.id.to_s) ? 'checked="true"' : '' %>/>
    <% end %>

    <div class="hold">

      <% resource_url = can_access ? document_detail_url(document, document_organization) : 'javascript://' %>
      <% thumbnail = if document['thumbnail_link_ss'].include? 'cloudfront'
                       document['thumbnail_link_ss']
                     else
                       "https://#{ENV['S3_HOST_CDN'] + '/public' + document['thumbnail_link_ss']}"
                     end
      %>
      <div class="img-holder cursor-pointer" style="<%= thumbnail.present? ? "background: url(#{thumbnail})" : '' %>;background-position: center;" onclick="window.location='<%= resource_url%>';">
        <time><%= document['description_duration_ss'].present? ? time_to_duration(document['description_duration_ss']) : '00:00:00' %></time>
      </div>
      <div class="text-holder pt-5px mt-5px">
        <a href="<%= resource_url %>" class="mb-0px"> <%= document['title_ss'] %>  </a>

        <div style="display: block;vertical-align: middle;height: 30px;" class="main-hold">
          <% if document_organization.present? %>
            <div class="img-hold d-inline-block float-left mr-5px">
              <% img_url = document_organization.favicon.present? ? document_organization.favicon.url(:small) : document_organization.logo_image.url(:medium) %>
              <img style="object-fit:contain;width: 18px; height: 18px; -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%; overflow: hidden;" src="<%= img_url %>" alt="<%= document_organization.name %>">
            </div>
          <% end %>
          <div class="collection-org-info">
            <div class='text-primary mb-0px org-label-search' style="">  <%= document_organization.present? ? document_organization.name : '' %>   </div>


            <div class='text-primary mb-0px collection-label-search' style="">
              <div class="img-hold d-inline-block float-left mr-5px">
                <% icon_src = (collection.present? && collection.favicon.present?) ? collection.favicon.url(:small) : image_url('collection_folder_icon.svg') %>
                <img src="<%= icon_src %>" style="object-fit:contain;width: 18px; height: 18px; -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%; overflow: hidden;" alt="collection">
              </div>
              <%= collection.present? ? collection.title : '' %>
            </div>
          </div>
        </div>
        <% if !document_collection.blank? && solr_tombstone_values(document_collection.first).present? %>
          <% solr_tombstone_values(document_collection.first).each do |single_tomb| %>
            <% unless :description_duration_ss == single_tomb
                 random = random_number
                 tombstone_formated = tombstone_display(single_tomb, random, document)
                 if tombstone_formated.present? && tombstone_formated.length > 1 %>
                <div class="search_tombstone_cust_parent">
                  <%= tombstone_formated.second.html_safe %>
                  <div class="custom-modal custom-modal-normal" style="display: none" id="<%= random %>">
                    <div class="header">
                      <span class="btn-close " data-id="<%= random %>" style="cursor: pointer"><span class="icon-Close"></span></span>
                      <%= tombstone_formated.first %>:
                    </div>
                    <div class="body">
                      <%= tombstone_formated.third.html_safe %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= render partial: 'catalog/found_in', locals: {document_current: document} %>
        <% if current_user_is_org_user?(document_organization) %>
          <button type="button" class="add_to_playlist_search_page ml-1 text-primary" data-toggle="modal" data-target="#playlistModalCenter" data-url="<%= listing_for_add_to_playlist_path %>" data-organizationid="<%= document_organization.id %>" data-resourceid="<%= collection_resource.id %>">
            <%= image_tag image_path('playlist_add_white.png') %> Add to playlist
          </button>
        <% end %>
      </div>
    </div>
  </li>
<% end %>