<!--Overriden: Changed-->
<% if search_action_url.present? %>
  <div class="non-search-page">

    <%= form_tag search_action_url, method: :get, class: 'search-query-form clearfix navbar-form', role: 'search' do %>
      <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
      <input type='hidden' name='transliteration_status' class="transliteration_status" value='false'/>
      <input name="search_field" type="hidden" value="advanced">
      <% placeholder = 'Search' %>
      <% if params[:controller] == 'collections' && params[:action] == 'show' && params.has_key?(:id) %>
        <input name="f[collection_id_is][]" type="hidden" value="<%= params[:id] %>">
      <% end %>
      <input type="hidden" name="search_type" value="simple"/>
      <input type="hidden" name="title_text[]" id="" value="">
      <input type="hidden" name="resource_description[]" id="" value="">
      <input type="hidden" name="indexes[]" id="" value="">
      <input type="hidden" name="transcript[]" id="" value="">
      <input type="hidden" name="op[]" value="" class="op ">
      <input type="hidden" name="type_of_search[]" value="simple" class="form-control type_of_search add_wanted_class">
      <input type="hidden" name="type_of_field_selector[]" value="simple" class="form-control type_of_field_selector add_wanted_class d-none">

      <%= text_field_tag 'keywords[]', params[:q], placeholder: placeholder, class: "form-control search-field-blacklight search_field_selector_main", id: "q_single", autocomplete: "off" %>
      <div class="buttons-search">
        <a class='advanced-search-btn' href="<%= search_action_url %>?utf8=✓&search_field=advanced&update_advance_search=update_advance_search&search_type=advance">Advanced
          Search</a> <%= render partial: 'shared/search_info', locals: { from: 'landing_pages', classes: 'float-right ml-3 mt-3px ' } %>
      </div>
    <% end %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
     $(".search-query-form").on("submit", function(){
         if( $(".search_field_selector_main").val() == '' ){
             $('<input>').attr({
                 type: 'hidden',
                 name: 'sort',
                 value: 'title_ss asc'
             }).appendTo(this);
         }
     });
  });
</script>

