<div class="col-12 parent_of_each_row">
  <div class="row">
    <% if field_settings.vocabulary? %>
      <div class="col-md-6">
        <div class="form--group">
          <%= select_tag "collection_resource[collection_resource_field_values][][vocabularies_id]",
                         options_for_select(field_settings.vocabulary? ? field_settings.vocabulary_list : [], selected: single_value.present? && single_value['vocab_value'].present? ? single_value['vocab_value'] : ''),
                         {:class => "select_option #{type_for_view} selectized", :include_blank => true} %>
        </div>
      </div>
    <% else %>
      <%= hidden_field_tag("collection_resource[collection_resource_field_values][][vocabularies_id]", '') %>
    <% end %>
    <% class_length = field_settings.vocabulary? ? 'col-md-6' : 'col-md-12'
       class_length = field_settings.info_of_attribute('field_type') == 'editor' ? 'col-md-12' : class_length %>
    <div class="<%= class_length %> ">
      <div class="form-group">
        <% if field_settings.label == 'language' %>
          <select name="collection_resource[collection_resource_field_values][][value]" id="collection_resource_collection_resource_field_values__value_" tabindex="-1" class="selectized">
            <option value="">Select Language</option>
            <% languages_array_simple[0].each_with_index do |value, index| %>
              <option value="<%= value.first %>"> <%= value.second %></option>
            <% end %>
          </select>
        <% else %>
          <%= render partial: 'collection_resources/common/fields_type_for_form', locals: {field_settings: field_settings, system_name: system_name, single_field: field, single_value: single_value, type_for_view: type_for_view} %>
        <% end %>
        <% if from == 'resource_metadata' %>
          <%= hidden_field_tag("collection_resource[collection_resource_field_values][][collection_resource_field_id]", system_name) %>
        <% else %>
          <%= hidden_field_tag("collection_resource[collection_resource_field_values][][collection_resource_field_id]", system_name) %>
        <% end %>
        <%= hidden_field_tag("collection_resource[collection_resource_field_values][][collection_resource_id]", @collection_resource.id) %>
      </div>
      <span class="badge badge-danger remove-field float-right mt-1 mb-1 "> Remove </span>
    </div>
  </div>
</div>