<%= simple_form_for @organization, html: {class: "display_settings_form"} do |f| %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="field-title"><label for="">Logo*</label></div>
        <%= render partial: 'shared/remove_image_button', locals: {model_obj: @organization, target_type: 'logo_image'} %>
        <div class="image-box">
          <div class="holder">
            <img id="logo" src="<%= @organization.new_record? ? '#' : (image_url @organization.logo_image) %>" alt="">
          </div>
          <div class="file-upload org-field-file-input">
            <%= f.input :logo_image, as: :file, error: false, label: "#{@organization.new_record? ? 'Add Image' : 'Upload Logo'}", input_html: { onchange: "readURL(this, 'logo');", accept: 'image/*' } %>
          </div>
        </div>
        <%= f.error :logo_image %>
        <br>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="field-title"><label for="">Favicon</label></div>
        <%= render partial: 'shared/remove_image_button', locals: {model_obj: @organization, target_type: 'favicon'} %>
        <div class="image-box">
          <div class="holder">
            <%= image_tag(@organization.favicon.url, id: 'favicon', alt: 'favicon') %>
          </div>
          <div class="file-upload org-field-file-input">
            <%= f.input :favicon, as: :file, label: "Upload Favicon", error: false, input_html: { onchange: "readURL(this, 'favicon');", accept: 'image/*' } %>
          </div>
        </div>

        <small class="mt-2 form-text font-size-12px text-muted">
          Suggested favicon size is 64x64 or 128x128.
        </small>
        <%= f.error :favicon %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="field-title"><%= f.label :name, "Organization Name*" %></div>
        <%= f.input :name, label: false, input_html: { class: 'form-control organization-blur' } %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="field-title"><%= f.label :url, "Subdomain*" %></div>
        <div class="input-group">
          <%= f.input :url, label: false, error: false, placeholder: '', input_html: { class: 'form-control border-radius-right-custom' } %>
          <div class="input-group-append">
            <span class="input-group-text bg-white" id="basic-addon2">.<%= ENV['APP_HOST'] %></span>
          </div>
        </div>
        <%= f.error :url %>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="field-title"><label for="hide_on_home">Hide your Organization from home page? <button type="button" class="info-btn" data-content="Do you want to hide your organization from the list of Aviary Sites on the main Aviary home page?"></button></label></div>
        <%= f.select :hide_on_home, [['Yes', true], ['No', false]], required: false, label: false, class: 'custom-placeholder' %>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class='field-title'><%= f.label :description, "About Your Organization" %></div>
        <%= f.input :description, label: false, input_html: { class: 'form-control about-organization-text'} %>
      </div>
    </div>


  </div>
  <div class="row">

      <div class="col-md-12">
        <div class="form-group">
          <div class="field-title"><%= f.label :address_line_1, "Organization Location*" %></div>
          <%= f.input :address_line_1, label: false, placeholder: 'Address Line 1', input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.input :address_line_2, label: false, placeholder: 'Address Line 2', input_html: { class: 'form-control' } %>
        </div>

      </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="field-title"><%= f.label :city, "City*" %></div>
            <%= f.input :city, label: false, placeholder: 'City', input_html: { class: 'form-control' } %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="field-title">
              <%= f.label :state, "State*" %>
            </div>
            <%= f.select :state, available_states.map { |l| [l[1], l[0], { data: { type: l[2] } }] }, {}, priority: 'none', label: false, placeholder: 'State' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="field-title">
              <%= f.label :country, "Country*" %>
            </div>
            <%= f.input :country, as: :country, priority: ['US', 'CA'], label: false, placeholder: 'Country', input_html: { class: '' } %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="field-title"><%= f.label :zip, "Zip Code*" %></div>
            <%= f.input :zip, label: false, placeholder: 'Zip Code', input_html: { class: 'form-control' } %>
          </div>
        </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <%= f.submit 'Update Profile', class: 'btn btn-primary my-4' %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    var orgnization = new Organization();
    $(function () {
        orgnization.orgFormPageBinding();
    });
    $(function(e) {
        e.preventDefault;

        $('.info-btn').popover({
            html: true,
            trigger: "click",
            placement: "top"
        });

        $(document).on('click', function(e) {
            $('.info-btn').each(function() {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });

        $(document).ready(function() {
            $('.form-check label').append('<span class="icon-check"></span>')
        })
    });
</script>