<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main class="custom_form">
      <div class="text-headline jumbotron">
        <div class="heading-holder">
          <div class="row">
            <div class="col-md-9"><h2>Organization Display Settings</h2></div>
            <div class="col-md-3">
              <%= link_to "View Organization Page", root_url(host: Utilities::AviaryDomainHandler.subdomain_handler(@organization)), class: 'btn btn-primary btn-xs pull-right' %>
            </div>
          </div>
        </div>
      </div>
      <div class="organization-section">
        <%= simple_form_for @organization do |f| %>

            <div class="row">
              <div class="col-md-6">

                  <div class="form-group ">
                    <div class="field-title">
                      <label for="">Preferred Default Tab</label>
                    </div>
                    <%= f.select :default_tab_selection, Organization.default_tab_selections.map { |key, _| [key.humanize, key] }, {}, required: false, label: false, class: 'custom-placeholder banner_type-custom' %>
                    <%= f.error :default_tab_selection %>
                  </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="field-title"><label for="">Preferred Banner Display</label></div>
                  <%= f.select :banner_type, Organization.banner_types.map { |key, _| [key.humanize, key] }, {}, required: false, label: false, class: 'custom-placeholder banner_type-custom' %>
                  <%= f.error :banner_type %>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-check mt-3">
                  <%= f.input :display_banner, input_html: { class: 'form-check-input' } %>
                </div>
              </div>
            </div>

          <div class="row display-images">
            <div class="col-md-6">
              <div class="form-group banner-image d-none">
                <div class="field-title"><label for="">Banner Image</label></div>
                <%= render partial: 'shared/remove_image_button', locals: {model_obj: @organization, target_type: 'banner_image'} %>
                <div class="image-box">
                  <div class="holder">
                    <img id="banner" src="<%= @organization.new_record? ? '#' : (image_url @organization.banner_image) %>" alt="">
                  </div>
                  <div class="file-upload">
                    <%= f.label @organization.new_record? ? 'Add Image' : 'Upload new image', for: 'organization_banner_image' %>
                    <%= f.input :banner_image, as: :file, error: false, label: false, input_html: { onchange: "readURL(this, 'banner');", accept: 'image/*' } %>
                  </div>
                </div>

                <%= f.error :banner_image %>
                <small class="font-size-12px text-muted mt-2 d-block">Suggested Background Image size is <i>1200x300</i> or Aspect Ratio from <i>3:1</i> to <i>6:1</i></small>
              </div>
              <div class="form-group banner-resource-slider d-none mb-2">
                <div class="field-title"><label for="">Featured Resources Slider</label></div>
                <input id="banner_slider_resources_info" placeholder='Title Text' class="form-control mb-2" data-url="<%= autocomplete_permission_groups_path(type: 'resource') %>"/>
                <%= f.error :banner_slider_resources %>
                <table id="organization_banner_slider_resources_table" class="table  table-striped">
                  <thead>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Action</th>
                  </thead>
                  <tbody id="organization_banner_slider_resources_container"></tbody>
                </table>
                <%= f.input :banner_slider_resources, as: :string, label: false, input_html: { class: ' form-control d-none' } %>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 ">
              <div class="form-group">
                <div class="field-title">
                  <label for="">Banner Title Text <button type="button" class="info-btn" data-content="This text will be used as the title that is displayed above the search bar on your organization landing page. If you leave it blank, no title will be displayed."></button></label>
                </div>
                <%= f.input :banner_title_text, label: false, placeholder: 'Title Text', input_html: { class: ' form-control ' } %>
                <%= f.error :banner_title_text %>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="field-title">
                  <label for="">Banner Title Text Color <button type="button" class="info-btn" data-content="This color is used for the Banner Title Text that is displayed above the search bar on your organization landing page."></button></label>
                </div>
                <%= f.input :title_font_color, label: false, placeholder: 'Color Picker', input_html: { class: ' form-control  color_picker' } %>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="field-title"><label for="">Banner Title Font Family <button type="button" class="info-btn" data-content="This font is used for the Banner Title Text that is displayed above the search bar on your organization landing page."></button></label></div>
                <%= f.select :title_font_family, options_for_select(Theme::FontHandler.for_select, @organization.title_font_family), {}, { class: " meta-type-select" } %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="field-title"><label for="">Banner Title Font Size <button type="button" class="info-btn" data-content="This font size is used for the Banner Title Text that is displayed above the search bar on your organization landing page."></button></label></div>
                <%= f.select :title_font_size, Theme::FontHandler.font_sizes.map { |key, _| [key, key] }, {}, { class: "" } %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="field-title"><label for="">Search Panel Background Color <button type="button" class="info-btn" data-content="This color will be used as the background color behind the search bar on the search resources page. It will also be used as the background color behind the search bar on your organization landing page and your collection landing page if you do not display a banner on those pages."></button></label></div>
                <%= f.input :search_panel_bg_color, label: false, input_html: { class: 'form-control color_picker', placeholder: 'Font Color' }, :required => true %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="field-title"><label for="">Search Panel Font Color <button type="button" class="info-btn" data-content="This color will be used as the color of the text that is displayed below the search bar on the search resources page."></button></label></div>
                <%= f.input :search_panel_font_color, label: false, input_html: { class: 'form-control color_picker', placeholder: 'Font Color' }, :required => true %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <%= f.submit 'Update Setting', class: 'btn btn-primary my-4 org-edit-form' %>
            </div>
          </div>
        <% end %>
        <script type="text/javascript">
            var orgnization = new Organization();
            $(function () {
                orgnization.init_org_display_settings();
            });
            $(function(e) {
                e.preventDefault;

                $('.info-btn').popover({
                    html: true,
                    trigger: "click",
                    placement: "top"
                });

                $(document).on('click', function(e) {
                    $('.info-btn').each(function() {
                        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                            $(this).popover('hide');
                        }
                    });
                });

                $(document).ready(function(){
                    $('.form-check label').append('<span class="icon-check"></span>')
                })
            });

        </script>
      </div>
    </main>
  </div>
</div>