
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link share_tabs active" id="home-tab" data-toggle="tab" data-tabname="share_link_custom" href="#home" role="tab" aria-controls="home" aria-selected="true">
      <%= from_action == 'listing_for_add_to_playlist' ? 'Add To ' : '' %>Playlists</a>
  </li>
</ul>
<div class="tab-content custom_form" id="myTabContent">
  <div class="tab-pane fade show active share_link_custom px-3 pt-3 pb-4" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="content pt-0 pl-0 pr-0 <%= from_action == 'listing_for_add_to_playlist' ? '' : '' %>">
      <div class="form-group">
        <div class="field-title"><label>Search Playlist</label></div>
        <input type="text" placeholder="Search Playlist" class="form-control" id="search_playlist_for_resource"/>
      </div>
      <div class="accordion <%= from_action %>_accordian" id="accordionPlaylist">
        <% playlists.each do |single_playlist| %>
          <%= render 'playlists/single_playlist', {playlist: single_playlist, collection_resource: collection_resource, from_action: from_action, collection_resource_playlist_ids: collection_resource_playlist_ids, organization: organization} %>
        <% end %>
      </div>
      <% if from_action == 'listing_for_add_to_playlist' && current_user_is_org_user?(organization) && current_organization.present? %>
        <div class="input-group">
          <input type="text" placeholder="Create Playlist" id="playlist_title" class="form-control" data-resourceid="<%= collection_resource.id %>"/>
          <div class="input-group-append">
            <a href="javascript:void(0)" class="btn btn-primary create_playlist d-flex align-items-center" data-url="<%= playlists_path %>">Create
              Playlist </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>