<main id="main" role="main">
  <div class="search-detail-main container-fluid">
    <!-- we don't need annotation view -->
    <div class="two-col two_col_custom">
      <div class="row">
        <div class="<%= @inside_playlist ? 'col-lg-12' : 'col-lg-7' %>">
          <div class="col-lg-12">
            <div class="row pb-2 pt-1">
              <div class="col-8 playlist_description_main">
                <h1 class="playlist_description_full"><%= @playlist.description.strip_tags %></h1>
              </div>
              <div class="col-1 text-left more_text">
                <% if @playlist.description.size > 140 %>
                  <a class="show_full_description_playlist " href="javascript:void(0);"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                  <a class="show_less_description_playlist d-none" href="javascript:void(0);"> ...less</a>
                <% end %>
              </div>
              <div class="col-3 playlist_duration">
                <i class="fa fa-clock-o" aria-hidden="true"></i> Playlist Duration:<span class="single_value"> <%= time_to_duration(@playlist.duration) %></span>
              </div>
            </div>

            <div class="video-main carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <% if @resource_file.present? %>
                    <% is_audio_only = @collection_resource.collection.is_audio_only || @playlist.is_audio_only %>
                    <%= render partial: 'collection_resources/show/mediaplayer', locals: {single_file: @resource_file, is_audio_only: is_audio_only} %>
                    <% if !@playlist_show.present? && !@playlist_show %>
                      <%= render partial: 'collection_resources/show/time_range_selection' %>
                    <% elsif permission_to_access_file?(@resource_file) && ((can? :read, @collection_resource) || @collection_resource.can_view) %>
                      <%= render partial: 'collection_resources/show/list_resource_files' %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% unless @resource_file.nil? %>
              <%= render layout: 'collection_resources/show/media_carousel' do %>
                <%= render partial: 'playlists/edit/resource_listing' %>
              <% end %>
            <% end %>
          </div>
          <% if @collection_resource.present? %>
            <% if @playlist_show.present? && @playlist_show %>
              <%= render partial: 'playlists/edit/share_playlist' %>
            <% end %>
          <% end %>
          <% if params[:embed] == 'true' && params[:media_player] == 'true' %>
            <style>
              .modal-backdrop {
                display: none !important;
              }
            </style>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>