<% if @playlist_resources.length > 0 %>
  <% @playlist_resources.each do |pl_rsrc| %>
    <% collection_resource_playlsit = pl_rsrc.collection_resource %>
    <% can_access = (can? :read, collection_resource_playlsit) || collection_resource_playlsit.can_view || collection_resource_playlsit.can_edit || (can? :edit, collection_resource_playlsit.collection.organization) %>

    <div id='playlist_resource_<%= pl_rsrc.id %>' data-id="<%= pl_rsrc.id %>" class="box <%= pl_rsrc == @playlist_resource ? 'now-playing' : 'not-playing' %> playlist_resource_single mt-2 mb-2 pb-4 <%= can_access ? 'canplay' : ' locked ' %>  <%= pl_rsrc != @playlist_resource && !can_access ? 'p-5-0-5-0px' : ' ' %>">
      <% if !@playlist_show.present? && !@playlist_show && (can? :manage, @playlist) %>
        <input type="checkbox" data-bulk_edit_playlist_resource_id="<%= pl_rsrc.id %>" data-bulk_edit_resource_id="<%= pl_rsrc.collection_resource_id %>" class="choose-resource mt-2 ">
        <div class="form-group no-field plr-sort-container">
          <span class="sort-icon"><i class="fa fa-bars"></i></span>
          <input type="text" value='<%= pl_rsrc.sort_order %>' disabled='disabled' class="form-control plr-sort-index position-relative only_allow_number" style="z-index: 9" data-id='<%= pl_rsrc.id %>' name="playlist_resource_sort[<%= pl_rsrc.id %>]">
        </div>
      <% end %>
      <% unless @playlist_show.present? && @playlist_show %>
        <% playlist_link = (pl_rsrc == @playlist_resource) ? 'javascript:void(0)' : playlist_edit_path(@playlist, playlist_resource_id: pl_rsrc.id) %>
      <% else %>
        <%
          param_link = {playlist_id: @playlist.id, playlist_resource_id: pl_rsrc.id}
          param_link[:playlist_id] = @playlist.id
          param_link[:embed] = true if params[:embed].present?
          param_link[:media_player] = true if params[:media_player].present?
          param_link[:share] = params[:share] if params[:share].present?
          playlist_link = (pl_rsrc == @playlist_resource) ? 'javascript:void(0)' : playlist_show_path(param_link) %>
      <% end %>

      <% unless can_access %>
        <div class="access_hold feat-reso-locked">
          <div class="holder">
            <div class="box">
              <div class="col-12">
                <div class="col-12 mt-2 d-inline-block">
                  <%= lock_image('h-20px') %>
                  <%= access_request_link('playlist_resource_single_access', {organization_id: pl_rsrc.collection_resource.collection.organization.id, title: pl_rsrc.collection_resource.title, id: pl_rsrc.collection_resource.id, click_through: pl_rsrc.collection_resource.collection.click_through, conditions_for_access: pl_rsrc.collection_resource.collection.conditions_for_access}) %>
                </div>
                <div class="col-12 mt-1">
                  <span class="text-white font-size-12px">You don't have access to this resource.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <a href="<%= playlist_link %>" class="image ml-1">
        <% thumb_url = nil %>
        <% if pl_rsrc.playlist_items.present? %>
          <% if pl_rsrc.playlist_items.first.collection_resource_file.present? %>
            <% thumb_url = pl_rsrc.playlist_items.first.collection_resource_file.thumbnail.url if pl_rsrc.playlist_items.first.try(:collection_resource_file) %>
            <% if thumb_url.blank? && pl_rsrc.playlist_items.first.try(:collection_resource_file) %>
              <% present(pl_rsrc.playlist_items.first.collection_resource_file) do |presenter| %>
                <% thumb_url = presenter.media_type.include?('avalon') || presenter.media_type.include?('video') ? "https://#{ENV['S3_HOST_CDN']}/public/images/video-default.png" : "https://#{ENV['S3_HOST_CDN']}/public/images/audio-default.png" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% thumb_url = "https://#{ENV['S3_HOST_CDN']}/public/images/video-default.png" if thumb_url.blank? %>
        <%= image_tag(thumb_url) %>
      </a>
      <div class="text">
        <div class="coll-name">
          <div class="ico">
            <% icon_src = (pl_rsrc.collection_resource.collection.present? && pl_rsrc.collection_resource.collection.favicon.present?) ? pl_rsrc.collection_resource.collection.favicon.url(:small) : image_url('collection_folder_icon.svg') %>
            <img src="<%= icon_src %>" alt="collection">
          </div>
          <%= link_to pl_rsrc.collection_resource.collection.title, collection_url(pl_rsrc.collection_resource.collection, host: Utilities::AviaryDomainHandler.subdomain_handler(pl_rsrc.collection_resource.collection.organization)), target: "_blank", class: "text" %>
        </div>
        <div class="d-none title_desc ription_text"> <%= pl_rsrc.name %> <%= simple_format(pl_rsrc.description) %></div>
        <div class="title_description">


          <% if !@playlist_show.present? && !@playlist_show && (can? :manage, @playlist) %>

            <i class="ml-1 mt-1 fa fa-pencil float-left edit-description-resource"></i>
            <span style="font-size: 16px;font-weight: 400;color: #000;display: block;text-decoration: none;line-height: 1.25;" data-bip-type="input" data-bip-attribute="title" data-bip-object="playlist_resource" data-bip-original-content="<%= pl_rsrc.name %>"
                  data-bip-skip-blur="false" data-bip-url="<%= update_description_playlist_playlist_resource_path(playlist_id: pl_rsrc.playlist_id, id: pl_rsrc.id) %>" data-bip-value="<%= pl_rsrc.name %>"
                  class="best_in_place" id="best_in_place_pl_resource_2_title" method="PUT">  &nbsp;<%= pl_rsrc.name %>
                            </span>
          <% else %>
            <a href="<%= playlist_link %>" class='title <%= can_access ? 'can-play-resource' : ' ' %>'> <%= pl_rsrc.name %> </a>
          <% end %>
          <div data-html="true" data-placement="bottom" class="playlist_resource_description white-tooltip d-none float-left playlist_resource_description_<%= pl_rsrc.id %>" style="max-width: 85%;">
            <p>
              <%= pl_rsrc.description.strip_tags %>
            </p>
          </div>
          <div>
            <p class="playlist_resource_description_content float-left">
              <%= pl_rsrc.description.strip_tags.truncate(45, omission: '...', :separator => ' ') %>
            </p>
          </div>
          <% if pl_rsrc.description.strip_tags.present? && pl_rsrc.description.strip_tags.size > 38 %>
            <a class="show_full_description "> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
            <a class="show_less_description  d-none"> ...less</a>
          <% end %>
        </div>
        <% unless @playlist_show.present? && @playlist_show && (can? :manage, @playlist) %>
          <button class="text-primary edit_description_playlist badge badge-primary" data-toggle="modal" data-target="#edit_playlist_resource_description_modal_center" data-playlist_resource_id='<%= pl_rsrc.id %>' data-url="<%= update_description_playlist_playlist_resource_path(playlist_id: pl_rsrc.playlist_id, id: pl_rsrc.id) %>">
            <span class="fa fa-pencil"></span> Edit Description
          </button>
          <%= link_to "<i class='fa fa-trash'></i> Remove".html_safe, playlist_playlist_resource_url(pl_rsrc, playlist_id: @playlist.id), method: :delete, data: {confirm: 'Are you sure you want to delete this Resource from Playlist?'}, class: ' badge badge-danger remove_playlist_resoure' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>