<div class="">
  <%= f.hidden_field :id %>
  <% if @interview.present? %>
    <input type='hidden' value="<%= interview_lang_info(@interview.language_info.gsub(/(\w+)/) {|s| s.capitalize}) %>" name="file_index_point[language][]" id="file_index_point_language"/>
    <% if @interview.include_language %>
      <input type='hidden' value="<%= interview_lang_info(@interview.language_for_translation.gsub(/(\w+)/) {|s| s.capitalize}) %>" name='<%= "file_index_point[language][]"%>' id="file_index_point_language"/>
      <%= f.hidden_field :id_alt %>
    <% end %>
  <% end %>

 <div class="d-flex">
    <div class="form-group">
      <div class="field-title">
        <%= f.label :title do %>
          Segment Title*
          <button type="button" class="info-btn" data-content="WebVTT cue identifier field in VTT export."></button>
        <% end %>
      </div>
      <%= f.input :title, required: true, label: false, input_html: { class: 'form-control title' } %>
    </div>
    <% if @interview.present? &&  @interview.include_language %>
    <div class="form-group">
      <div class="field-title">
        <%= f.label :title do %>
          Segment Title*
          <button type="button" class="info-btn" data-content="WebVTT cue identifier field in VTT export."></button>
        <% end %>
      </div>
      <%= f.input :title_alt, required: true, label: false, input_html: { class: 'form-control title' } %>
    </div>
      
    <% end %>
  </div>

   <div class="d-flex">
    <div class="form-group">
      <div class="field-title">
        <%= f.label :title do %>
          Segment Synopsis*
          <button type="button" class="info-btn" data-content="WebVTT cue payload field in VTT export."></button>
        <% end %>
      </div>
      <%= f.input :synopsis, required: false, label: false, input_html: { class: 'form-control title ohm_synopsis' } %>
    </div>
    <% if @interview.present? &&  @interview.include_language %>
    <div class="form-group">
      <div class="field-title">
        <%= f.label :title do %>
          Segment Synopsis*
          <button type="button" class="info-btn" data-content="WebVTT cue payload field in VTT export."></button>
        <% end %>
      </div>
      <%= f.input :synopsis_alt, required: false, label: false, input_html: { class: 'form-control title' } %>
    </div>
    
    <% end %>
  </div>
  
  
  <div class="d-flex">
    <div class="form-group">
      <div class="field-title"><%= f.label :partial_script, "Partial Transcript" %></div>
      <%= f.text_area :partial_script, required: false, label: false, class: 'form-control partial_script' %>
    </div>
    <% if @interview.present? &&  @interview.include_language %>
      <div class="form-group">
        <div class="field-title"><%= f.label :partial_script, "Partial Transcript" %></div>
        <%= f.text_area :partial_script_alt, required: false, label: false, class: 'form-control partial_script' %>
      </div>
    <% end %>
  </div>
  <div class="d-flex">
    <div class="form-group">
      <div class="field-title"><%= f.label :keywords, "Keywords" %></div>
      <% thesaurus = if @interview.present?
                       Thesaurus::Thesaurus.where(id: @interview.thesaurus_keywords)
                     elsif @thesaurus_keywords.present?
                       Thesaurus::Thesaurus.where(id: @thesaurus_keywords)
                     else
                      nil
                     end

        keywords_data = {}
        keywords_data[:selected_keys] = if thesaurus.present? && @file_index_point.keywords.present?
                                          @file_index_point.keywords.split(';').map.with_index do |keyword, i|
                                            thesaurus.length.positive? ? { id: i, label: keyword, value: keyword } : { id: keyword, name: keyword }
                                          end
                                        else
                                          ''
                                        end

        if thesaurus.present? && thesaurus.length.positive?
          keywords_data[:path] = autocomplete_thesaurus_manager_index_path
          keywords_data[:t_id] = thesaurus.first.id
          keywords_data[:type_of_list] = 'thesaurus'
        end
      %>
      <%= f.text_area :keywords, required: false, label: false, class: 'form-control keywords tokenfield tokenfield_keywords', data: keywords_data.merge(max_suggest: ENV.fetch('MAX_SUGGEST', 100)) %>
      <small class="form-text text-muted mt-1">Keywords should be separated by a semi-colon.</small>
      <% if @interview.present? %>
        <% thesaurus = Thesaurus::Thesaurus.where(id: @interview.thesaurus_keywords) %>
        <% if thesaurus.length.positive? %>
          <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
        <% end %>
      <% end %>
      <% if @thesaurus_keywords.present? %>
        <% thesaurus = Thesaurus::Thesaurus.where(id: @thesaurus_keywords) %>
        <% if thesaurus.length.positive? %>
          <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
        <% end %>
      <% end %>
    </div>
    <% if @interview.present? &&  @interview.include_language %>
      <div class="form-group">
        <div class="field-title"><%= f.label :keywords, "Keywords" %></div>
        <%= f.text_area :keywords_alt, required: false, label: false, class: 'form-control keywords tokenfield tokenfield_keywords', data: keywords_data.merge(max_suggest: ENV.fetch('MAX_SUGGEST', 100)) %>
        <small class="form-text text-muted mt-1">Keywords should be separated by a semi-colon.</small>
        <% if @interview.present? %>
          <% thesaurus = Thesaurus::Thesaurus.where(id: @interview.thesaurus_keywords) %>
          <% if thesaurus.length.positive? %>
            <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
          <% end %>
        <% end %>
        <% if @thesaurus_keywords.present? %>
          <% thesaurus = Thesaurus::Thesaurus.where(id: @thesaurus_keywords) %>
          <% if thesaurus.length.positive? %>
            <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="d-flex">
    <div class="form-group">
      <div class="field-title"><%= f.label :subjects, "Subjects" %></div>
      <% thesaurus = if @interview.present?
                       Thesaurus::Thesaurus.where(id: @interview.thesaurus_subjects)
                     elsif @thesaurus_keywords.present?
                       Thesaurus::Thesaurus.where(id: @thesaurus_subjects)
                     else
                       nil
                     end

        subject_data = {}
        subject_data[:selected_keys] = if thesaurus.present? && @file_index_point.subjects.present?
                                         @file_index_point.subjects.split(';').map.with_index do |subject, i|
                                           thesaurus.length.positive? ? { id: i, label: subject, value: subject } : { id: subject, name: subject }
                                         end
                                       else
                                         ''
                                       end

        if thesaurus.present? && thesaurus.length.positive?
          subject_data[:path] = autocomplete_thesaurus_manager_index_path
          subject_data[:t_id] = thesaurus.first.id
          subject_data[:type_of_list] = 'thesaurus'
        end
      %>
      <%= f.text_area :subjects, required: false, label: false, class: 'form-control subjects tokenfield tokenfield_subjects', data: subject_data.merge(max_suggest: ENV.fetch('MAX_SUGGEST', 100)) %>
      <small class="form-text text-muted mt-1">Subjects should be separated by a semi-colon.</small>
      <% if @interview.present? %>
        <% thesaurus = Thesaurus::Thesaurus.where(id: @interview.thesaurus_subjects) %>
        <% if thesaurus.length.positive? %>
          <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
        <% end %>
      <% end %>
      <% if @thesaurus_subjects.present? %>
        <% thesaurus = Thesaurus::Thesaurus.where(id: @thesaurus_subjects) %>
        <% if thesaurus.length.positive? %>
          <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
        <% end %>
      <% end %>
    </div>
    <% if @interview.present? &&  @interview.include_language %>
      <div class="form-group">
        <div class="field-title"><%= f.label :subjects, "Subjects" %></div>
        <%= f.text_area :subjects_alt, required: false, label: false, class: 'form-control subjects tokenfield tokenfield_subjects', data: subject_data.merge(max_suggest: ENV.fetch('MAX_SUGGEST', 100)) %>
        <small class="form-text text-muted mt-1">Subjects should be separated by a semi-colon.</small>
        <% if @interview.present? %>
          <% thesaurus = Thesaurus::Thesaurus.where(id: @interview.thesaurus_subjects) %>
          <% if thesaurus.length.positive? %>
            <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
          <% end %>
        <% end %>
        <% if @thesaurus_subjects.present? %>
          <% thesaurus = Thesaurus::Thesaurus.where(id: @thesaurus_subjects) %>
          <% if thesaurus.length.positive? %>
            <small class="form-text text-muted mt-1">Current Thesaurus: <strong><%= thesaurus.first.title %></strong></small>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  

  <div class="form-group border p-4 rounded custom_form mt-5">
  <div class="field-title border_title"><%= f.label :gps %>
      <a href="javascript:void(0);" class="add_gps add_button_interview text-decoration-none"> +
      </a>
    </div>
    <div class="container_gps">
      <% if !@file_index_point.send("gps_points").nil? && JSON.parse(@file_index_point.send("gps_points")).length.positive? %>
        <% JSON.parse(@file_index_point.send("gps_points")).each_with_index do |gps , gps_index| %>
          <div class="container_gps_inner field_container custom_form">
        
            <a href="javascript://" class="remove_gps" title="Remove gps"><i class="remove_icon_image"></i></a>
            <div class="d-flex">
              <div class="form-group">
                  <div class="field-title"><%= f.label :gps %></div>
                  <input type='text' value="<%= gps["lat"] %>, <%= gps["long"] %>" name='<%= "file_index_point[gps_latitude][]"%>' id="interviews_interview_gps_value" class="json optional form-control gps "/>
                  <small class="form-text text-muted mt-1">Coordinates are entered in the format "XX.XXX, YY.YYY" where X is latitude (north or south) and Y is longitude (east or west).</small>
            </div>
            </div>
            <div class="d-flex">
              <div class="form-group mb-2">
                <div class="field-title"><%= f.label :description %></div>
                <input type='text' value="<%= gps["description"] %>" name='<%= "file_index_point[gps_description][]"%>' id="interviews_interview_gps_description" class="json optional form-control gps "/>
              </div>
              <% if @interview.present? &&  @interview.include_language %>
                <div class="form-group mb-2">
                  <div class="field-title"><%= f.label :description %></div>
                    <input type='text' value="<%= JSON.parse(@file_index_point.gps_description_alt)[gps_index] %>" name='<%= "file_index_point[gps_description_alt][]"%>' id="interviews_interview_gps_description" class="json optional form-control gps "/>
                </div>
              <% end %>
            </div>
            <div class="d-flex">
              <div class="form-group">
                <div class="field-title"><%= f.label :zoom %></div>
                <select name='<%= "file_index_point[zoom][]"%>' id="interviews_interview_gps_zoom" class="json optional form-control gps dont-apply-selectize">
                <optgroup label="World">
                  <%for option in 1..5 do%>
                    <option value="<%=option%>" <%= gps["zoom"].to_i == option ? "selected" : "" %>><%=option%></option>
                  <%end%>
                </optgroup>
                <optgroup label="Country">
                  <%for option in 6..10 do%>
                    <option value="<%=option%>" <%= gps["zoom"].to_i == option ? "selected" : "" %>><%=option%></option>
                  <%end%>
                    
                </optgroup>
                <optgroup label="Regional">
                  <%for option in 11..14 do%>
                    <option value="<%=option%>" <%= gps["zoom"].to_i == option ? "selected" : "" %>><%=option%></option>
                  <%end%>
                    
                </optgroup>
                <optgroup label="Local">
                  <%for option in 15..21 do%>
                    <option value="<%=option%>" <%= gps["zoom"].to_i == option ? "selected" : "" %>><%=option%></option>
                  <%end%>

                </optgroup>
              </select>



                <small class="form-text text-muted mt-1">This is a Google Maps zoom level. Default is 17.</small>
                <div class="border-top mt-4 mb-1"></div>
              </div>
            </div>
            
            
          </div>
        <% end %>
      <% else %>
        <div class="container_gps_inner field_container custom_form">
        
          <a href="javascript://" class="remove_gps" title="Remove gps"><i class="remove_icon_image"></i></a>
          <div class="d-flex">
            <div class="form-group mb-2">
              <div class="field-title"><%= f.label :gps %></div>
              <input type='text' name='<%= "file_index_point[gps_latitude][]"%>' id="interviews_interview_gps_value" class="json optional form-control gps "/>
              <small class="form-text text-muted mt-1">Coordinates are entered in the format "XX.XXX, YY.YYY" where X is latitude (north or south) and Y is longitude (east or west).</small>
            </div>
          </div>
          <div class="d-flex">
            <div class="form-group">
              <div class="field-title"><%= f.label :description %></div>
              <input type='text' name='<%= "file_index_point[gps_description][]"%>' id="interviews_interview_gps_description" class="json optional form-control gps "/>
            </div>
              <% if @interview.present? &&  @interview.include_language %>
                <div class="form-group">
                  <div class="field-title"><%= f.label :description %></div>
                  <input type='text' name='<%= "file_index_point[gps_description_alt][]"%>' id="interviews_interview_gps_description" class="json optional form-control gps "/>
                </div>
              <% end %>
          </div>
          
          <div class="d-flex">
            <div class="form-group">
              <div class="field-title"><%= f.label :zoom %></div>
              <select name='<%= "file_index_point[zoom][]"%>' id="interviews_interview_gps_zoom" class="json optional form-control gps dont-apply-selectize">
                <optgroup label="World">
                  <%for option in 1..5 do%>
                    <option value="<%=option%>"><%=option%></option>
                  <%end%>
                </optgroup>
                <optgroup label="Country">
                  <%for option in 6..10 do%>
                    <option value="<%=option%>"><%=option%></option>
                  <%end%>
                    
                </optgroup>
                <optgroup label="Regional">
                  <%for option in 11..14 do%>
                    <option value="<%=option%>"><%=option%></option>
                  <%end%>
                    
                </optgroup>
                <optgroup label="Local">
                  <%for option in 15..21 do%>
                    <option value="<%=option%>" <%= option == 17 ? "selected" : "" %>><%=option%></option>
                  <%end%>

                </optgroup>
              </select>
              <small class="form-text text-muted mt-1">This is a Google Maps zoom level. Default is 17.</small>
            </div>
          </div>
          
        </div>
      <% end %> 
    </div>
  </div>


  <div class="form-group border p-4 rounded custom_form mt-5">
  <div class="field-title border_title"><%= f.label :hyperlinks %>
      <a href="javascript:void(0);" class="add_hyperlinks add_button_interview text-decoration-none"> +
      </a>
    </div>
    <div class="container_hyperlinks">    
        
      <% if !@file_index_point.send("hyperlinks").nil? &&  JSON.parse(@file_index_point.send("hyperlinks")).length.positive? %>
          <% JSON.parse(@file_index_point.send("hyperlinks")).each_with_index do |hyperlinks , hyperlink_index| %>
            <div class="container_hyperlinks_inner field_container custom_form">
              <a href="javascript://" class="remove_hyperlinks" title="Remove hyperlinks"><i class="remove_icon_image"></i></a>
              <div class="d-flex">
                <div class="form-group">
                  <div class="field-title"><%= f.label :hyperlink %></div>
                  <input type='text' value="<%= hyperlinks["hyperlink"] %>" name='<%= "file_index_point[hyperlink][]"%>' id="interviews_interview_hyperlinks_hyperlink" class="json optional form-control hyperlinks "/>
                </div>
              </div>
              <div class="d-flex">
                <div class="form-group">
                  <div class="field-title"><%= f.label :description %></div>
                  <input value="<%= hyperlinks["description"] %>" name="<%= "file_index_point[hyperlink_description][]"%>" id="interviews_interview_hyperlinks_description" class="json optional form-control hyperlinks "/>
                </div>
                <% if @interview.present? &&  @interview.include_language %>
                  <div class="form-group">
                      <div class="field-title"><%= f.label :description %></div>
                      <input value="<%= JSON.parse(@file_index_point.hyperlink_description_alt)[hyperlink_index] %>" name="<%= "file_index_point[hyperlink_description_alt][]"%>" id="interviews_interview_hyperlinks_description" class="json optional form-control hyperlinks "/>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="container_hyperlinks_inner field_container custom_form">
            <a href="javascript://" class="remove_hyperlinks" title="Remove hyperlinks"><i class="remove_icon_image"></i></a>
            <div class="d-flex">
              <div class="form-group">
                <div class="field-title"><%= f.label :hyperlink %></div>
                <input type='text' name='<%= "file_index_point[hyperlink][]"%>' id="interviews_interview_hyperlinks_hyperlink" class="json optional form-control hyperlinks "/>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-group">
                <div class="field-title"><%= f.label :description %></div>
                <input name="<%= "file_index_point[hyperlink_description][]"%>" id="interviews_interview_hyperlinks_description" class="json optional form-control hyperlinks "/>
              </div>
                <% if @interview.present? &&  @interview.include_language %>
              <div class="form-group">
                <div class="field-title"><%= f.label :description %></div>
                  <input name="<%= "file_index_point[hyperlink_description_alt][]"%>" id="interviews_interview_hyperlinks_description" class="json optional form-control hyperlinks "/>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>  
    </div>
  </div>


</div>