<div class="public_access custom_form">
  <div class='shareModal'>
    <div class="content p-0">
      <span class="public-access-url text-info w-100">
      <b>Warning:</b> Anyone on the Internet with a Resource Public Access link will be able to view this resource, its media files, indexes, transcripts, and supplemental files.
      </span>
    </div>
  </div>
  <input type='hidden' data-resoruceid=<%= collection_resource.id %> data-url='<%= encrypted_info_url %>' id='url_encryption' class='form-control'/>

  <% if @public_access_url.present? %>
    <input type='hidden' id="public_access_url_id" value="<%= @public_access_url.id %>"/>
  <% end %>

  <% if type == 'ever_green_url' || type == 'both' %>
    <div class="evergreen_url public_access_tab mb-2">
      <div class="form-group">
        <% url_present = collection_resource.public_access_urls.present? && collection_resource.public_access_urls.ever_green_url.present? %>
        <div class="field-title"><label>Evergreen URL</label></div>
        <textarea readonly class="form-control share_value float-left " id="ever_green_url" rows="2" placeholder="Evergreen Access URL"><%= url_present ? CGI.unescape(collection_resource.public_access_urls.ever_green_url.first.url) : '' %></textarea>
      </div>
      <div class="w-100">
        <a class="btn btn-outline-primary generate-link-green-url mt-3" data-type="ever_green_url">
          <%= url_present.present? || @public_access_url.present? ? 'Regenerate' : 'Generate' %>
        </a>
        <% unless @public_access_url.present? %>
          <button class="btn btn-primary copy-link mt-3" data-clipboard-action="copy" data-clipboard-target="#ever_green_url" data-original-title="" title="">Copy</button>
        <% end %>
      </div>
    </div>
    <hr/>
  <% end %>

  <% if type == 'limited_access_url' || type == 'both' %>
    <div class="limited_access_url public_access_tab mb-3">
      <div class="form-group">
        <div class="field-title">Limited Access URL</div>
        <textarea readonly class="form-control share_value float-left " id="public_access_url" rows="2" placeholder="Public Limited Access URL"><%== @public_access_url.present? && @public_access_url.url.present? ? CGI.unescape(@public_access_url.url) : '' %></textarea>
      </div>
      <div class="w-100">
        <a class="btn btn-outline-primary generate-link mt-3" data-type="limited_access_url">
          <% if @public_access_url.present? %>
            <%= 'Update' %>
          <% else %>
            <%= 'Generate' %>
          <% end %>
        </a>
        <% unless @public_access_url.present? %>
          <button class="btn btn-primary copy-link mt-3" data-clipboard-action="copy" data-clipboard-target="#public_access_url" data-original-title="" title="">
            Copy
          </button>
        <% end %>
      </div>
      <div class="form-group mt-2">
        <div class="field-title"><label class='label font-weight-bold mb-1usel-wrap .mediacarousel").jCarouse'> Access Duration:</label></div>
        <input type='text' data-url='<%= encrypted_info_url %>' data-resoruceid=<%= collection_resource.id %> id='public_access_time_period' name='public_access_time_period' class='form-control' data-setvalue="<%= @public_access_url.present? && @public_access_url.present? ? @public_access_url.duration : '' %>"/>
      </div>
    </div>
  <% end %>

  <% if type == 'limited_access_url' %>
    <div class="mt-5 p-0 pt-5">
      <%= render 'collection_resources/show/share_media_time' %>
    </div>
  <% end %>
</div>