<!DOCTYPE html>
<html lang="en-US">
<head>
  <!-- set the encoding of your site -->
  <meta charset="utf-8">
  <!-- set the viewport width and initial-scale on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= display_meta_tags site: current_organization ? "#{current_organization.name} | Aviary" : 'Aviary', reverse: true %>
  <%= favicon_link_tag current_organization.present? ? current_organization.favicon(:medium) : "https://#{ENV['S3_HOST_CDN']}/public/fav.ico" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->
  <!--[if gt IE 9]>
  <link rel="stylesheet" href="../../assets/stylesheets/ie-css.css">

  <![endif]-->
  <!-- google fonts -->
  <% if params[:controller] == 'collections' && params[:action] == 'show' && collection_feed(params[:id]).present? %>
    <link type="application/rss+xml" rel="alternate" title="Your Podcast's Name" href="<%= collection_feed(params[:id]) %>"/>
  <% end %>
  <%= tinymce_assets %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tag %>
  <!--  TODO:: Need to use this tag when need to integrate React JS-->
  <%#= javascript_pack_tag 'transcript-bundle' %>
</head>
<body class="<%= "#{params[:controller]} #{params[:action]} #{params[:controller]}-#{params[:action]}" %>">
<div id="skiptocontent" class="skiptocontent"><a href="<%= user_signed_in? ? '#content' : '#sub_nav' %>">Skip to main content</a></div>
<span class='d-none' id="record_tracking_path" href="<%== record_tracking_path %>"> </span>

<% if !modern_browser?(browser) && cookies[:alert_bypass].blank? %>
  <div class="alert alert-light browser-update" role="alert">
    <span>Aviary works best with the latest versions of Google Chrome and Firefox. </span>
  </div>
  <% cookies[:alert_bypass] = true %>
<% end %>

<div id="wrapper">
  <% unless current_organization %>
    <style>
        @media screen and (max-width: 767px) {
            .textBox {
                width: 100% !important;
            }
        }
    </style>
    <div style="background-color: #DEEBFF;padding: 13px 0;">
      <div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="textBox" style="font-size: 12px;font-weight: 400;line-height: 18px;color:#000;display: inline-block; padding-right: 20px;">
          <p>As part of our response to COVID19 we are offering free 90-day Starter Plan subscriptions.</p>
          <span class="d-none"> <a style="color:#ffff;font-weight:bold;" href="https://blog.weareavp.com/take-flight" target="_blank">Read more about how Aviary can help you during this time.</a> </span>
        </div>
        <div style="float: right;">
          <a data-toggle="modal" data-target="#covid19SubscriptionPopup" href="javascript://" class="btn btn-outline-primary" style="padding: 3px 13px;font-size: 12px;">Take
            Flight</a>
        </div>
      </div>
    </div>
  <% end %>
  <% unless params[:embed] == 'true' || params[:action] == 'embed_file' %>
    <% if organization_layout? %>
      <%= render partial: 'shared/headers/organization_header', cached: iscached? %>
    <% else %>
      <%= render partial: 'shared/headers/header', cached: iscached? %>
    <% end %>
  <% end %>
  <div class="inner-wrapper">
    <% unless params[:embed] == 'true' || params[:action] == 'embed_file' %>
      <% if user_signed_in? && (can? :manage, current_organization) %>
        <%= render partial: 'shared/side_bar' %>
      <% end %>
    <% end %>
    <div class="main-content <%= 'open' if (current_organization && session[:layout] == 'not-collapsed') %>">
      <main id="main" role="main">
        <div id="content">
          <div class="loadingCus text-center" style="display: none;">&#8230;</div>
          <div class="loadingtextCus text-center" style="display: none;" style=""></div>
          <%= yield %>
        </div>
      </main>
    </div>
  </div>
  <% unless params[:embed] == 'true' || params[:action] == 'embed_file' %>
    <% if organization_layout? %>
      <%= render 'shared/footer/organization_footer', cached: iscached? %>
    <% else %>
      <%= render 'shared/footer/application_footer', cached: iscached? %>
    <% end %>
  <% end %>
</div>
<%= render 'shared/modal', cached: iscached? %>
<%= render 'shared/messages', cached: iscached? %>

<% if !modern_browser?(browser) && cookies[:update_pop_bypass].blank? %>
  <style>
      body {
          overflow-y: hidden !important;
      }
  </style>
  <div class="not-supported">
    <div class="text">
      <div class="logo">
        <img src="https://<%= ENV['S3_HOST_CDN'] %>/public/aviary-logo.png">
      </div>
      <h1>Your Browser is not Supported</h1>
      <p>To use aviary, please update your browser to the latest version</p>
      <h2><span>Download Supported Browser</span></h2>
      <ul>
        <li><a target="_blank" href="https://www.google.com/chrome/"><i class="fa fa-chrome"></i> Chrome</a></li>
        <li>
          <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/"><i class="fa fa-firefox"></i> Firefox</a>
        </li>
        <li><a target="_blank" href="https://support.apple.com/downloads/safari"><i class="fa fa-safari"></i> Mac Safari</a>
        </li>
        <li>
          <a target="_blank" href="https://www.microsoft.com/download"><i class="fa fa-internet-explorer"></i> Internet
            Explorer 11</a>
        </li>
        <li><a target="_blank" href="https://www.microsoft.com/download"><i class="fa fa-edge"></i> Edge</a></li>
      </ul>
      <h2><span>or</span></h2>
      <p class="unstnd">I understand the consequences <br>
        <a href="<%= root_url + '?update_pop_bypass=true' %>">Go to Homepage</a></p>
    </div>
  </div>
<% end %>

<% unless params[:embed] == 'true' || params[:action] == 'embed_file' %>
  <%= render partial: 'shared/accessibility_issue_button' %>
<% end %>
</body>
</html>
